extends layouts/layout
block vars
    - var title = "Страница не найдена";
block content
    +Panel_left()
    .content
        +Breadcrumbs([{title: 'Страница не найдена', url: '/404.html'}])
        .Error
            .Error_block
                .Error_message
                    .Error_messageTitle Извините!
                    .Error_messageDesc Страница не найдена.
                .Error_type
                    include ./includes/svg/error/404.svg
                p.Error_desc Что-то пошло не так, всегда рады проконсультировать вас по телефону:
                a.Error_phone(href="tel:+74959338855") +7 495 933-88-55
                a.Btn.Error_btn(href="./") Вернуться на главную
    +Panel_right
        
block page_bottom