extends layouts/layoutScroll
block vars
    - var title = "О проекте";
block content
    .content
        .AboutProject.AboutPage.Page
            section.AboutPage_intro
                +Panel_left()
                .AboutPage_introContent
                    .AboutPage_head.Page_head
                        .Page_headLeft
                            +Breadcrumbs([{title: 'О проекте', url: '/about_project.html'}])
                        .Page_headRight
                            h1.Page_title=title
                    .AboutPage_introThumb
                        .AboutPage_introLeftWrap
                            .AboutPage_introThumbLeft(style="background-image: url('./img/content/thumb.jpg')")
                            .AboutPage_introThumbDesc.AboutPage_introThumbDesc-num 01
                        .AboutPage_introThumbImg(style="background-image: url('./img/content/thumb.jpg')")
                +Panel_right('about-builder')

            .AboutPage_content
                .AboutPage_contentLeft
                .AboutPage_sectionList
                    .AboutProject_teaser.Teaser
                        .Teaser_left
                            .Teaser_date
                                .Teaser_hours 01
                                .Teaser_month Архитектура
                        .Teaser_right
                                .Teaser_title Миниполис Рафинад – это новый формат жилой застройки
                                .Teaser_text
                                    p Город на природе, расположившейся в городском округе Химки в 10 км от столицы. Современная архитектура здесь словно вплетается в природный ландшафт, создавая атмосферу тихого европейского города, где высоко ценятся безопасность и комфорт, природное окружение и внимание к деталям.
                                    p Инновационные архитектурные решения жилых домов и инфраструктурных объектов в сочетании с природной энергетикой места создают комфортную среду для жизни молодой современной семьи.
                                    p Река Клязьма делит территорию на 2 участка, высокий берег дает ощущение простора и воздуха, с него открываются живописные виды на небо, лес, реку и сам город.
                                    p Создавая наш миниполис, мы стремились сохранить все преимущества, данные нам природой, и найти правильный баланс между современной городской средой и жизнью за городом, между активным развлечениями и спокойствием, между выходными в дружной компании и уединенными вечерами с семьей. 

                    .AboutProject_thumbSection.AboutProject_thumbSection-reverse
                        .AboutPage_introThumb
                            .AboutPage_introLeftWrap
                                .AboutPage_introThumbLeft(style="background-image: url('./img/content/thumb.jpg')")
                                .AboutPage_introThumbDesc.AboutPage_introThumbDesc-num 02
                            .AboutPage_introThumbImg(style="background-image: url('./img/content/thumb.jpg')")
                    
                    .AboutProject_teaser.AboutProject_teaser-reverse.Teaser
                        .Teaser_left
                            .Teaser_date
                                .Teaser_hours 02
                                .Teaser_month Природа
                        .Teaser_right
                                .Teaser_title На лоне природы
                                .Teaser_text
                                    p Уникальная природа Химкинского лесопарка не сможет оставить равнодушными тех, кто мечтает жить в экологически чистом районе. Здесь произрастают редкие растения, занесенные в Красную книгу, обитают лоси, кабаны и лисы. Первозданная природа вдали от городской суеты.
                                    p Выбирая квартиру в миниполисе Рафинад, вы получаете возможность каждый день наслаждаться свежим воздухом и живописными видами. Территория с трех сторон окружена зеленным массивом и имеет собственную набережную вдоль реки Клязьма.Рафинад - место, где легко дышать и созерцать прекрасное. 
                                    
                    .AboutProject_thumbSection
                        .AboutPage_introThumb
                            .AboutPage_introLeftWrap
                                .AboutPage_introThumbLeft(style="background-image: url('./img/content/thumb.jpg')")
                                .AboutPage_introThumbDesc.AboutPage_introThumbDesc-num 03
                            .AboutPage_introThumbImg(style="background-image: url('./img/content/thumb.jpg')")

                    .AboutProject_teaser.Teaser
                        .Teaser_left
                            .Teaser_date
                                .Teaser_hours 03
                                .Teaser_month Инфраструктура
                        .Teaser_right
                                .Teaser_title Все грани «Рафинада»
                                .Teaser_text
                                    p Продуманное пространство миниполиса Рафинад направлено на создание гармоничной среды проживания.  Каждый житель здесь будет чувствовать себя комфортно благодаря органичному сочетанию разных граней проекта – лаконичной архитектуры, функциональных квартир, зеленого окружения,
                                    p насыщенной инфраструктуры, стильного благоустройства. Все грани становятся частью одной фигуры и образуют единое пространство миниполиса, располагающего всем необходимым для счастливой и стильной жизни.
                        
                    .AboutProject_thumbSection.AboutProject_thumbSection-reverse
                        .AboutPage_introThumb
                            .AboutPage_introLeftWrap
                                .AboutPage_introThumbLeft(style="background-image: url('./img/content/thumb.jpg')")
                                .AboutPage_introThumbDesc.AboutPage_introThumbDesc-num 04
                            .AboutPage_introThumbImg(style="background-image: url('./img/content/thumb.jpg')")
                    
                    .AboutProject_teaser.AboutProject_teaser-reverse.Teaser
                        .Teaser_left
                            .Teaser_date
                                .Teaser_hours 04
                                .Teaser_month Маршрут
                        .Teaser_right
                                .Teaser_title Путь до мегаполиса
                                .Teaser_text
                                    p Вариативность - главное преимущество маршрута до мегаполиса. Выбирая личный автомобиль, вы сможете добраться до центра Москвы по Ленинградскому и Дмитровскому шоссе, а также воспользовавшись платной трассой М-11. Сократить время в дороге и с комфортом пересесть на другой вид транспорта вам 
                                    p позволят оснащенные перехватывающими парковками станции метро «Ховрино» и «Селигерская». Кроме того, в распоряжении жителей находятся автобусы и электропоезда, остановки которых располагаются в непосредственности близости от миниполиса «Рафинад». 
                                    
                .AboutPage_contentRight
block page_bottom
    //- script(src="/js/diary.js")