extends layouts/layoutScroll
block vars
    - var title = "О застройщике";
block content
    .content
        .AboutBuilder.AboutPage.Page
            section.AboutPage_intro
                +Panel_left()
                .AboutPage_introContent
                    .AboutPage_head.Page_head
                        .Page_headLeft
                            +Breadcrumbs([{title: 'О застройщике', url: '/about_building.html'}])
                        .Page_headRight
                            h1.Page_title=title
                    .AboutPage_introThumb
                        .AboutPage_introLeftWrap
                            .AboutPage_introThumbLeft(style="background-image: url('./img/content/thumb.jpg')")
                            .AboutPage_introThumbDesc.AboutPage_introThumbDesc-builder
                        .AboutPage_introThumbImg(style="background-image: url('./img/content/thumb.jpg')")
                +Panel_right('about-builder')

            .AboutPage_content
                .AboutPage_contentLeft
                .AboutPage_sectionList
                    section.AboutBuilder_section
                        .AboutBuilder_sectionThumb(style="background-image: url('./img/content/thumb.jpg')")
                        .AboutBuilder_sectionContent
                            .AboutBuilder_option
                                .TileOption Дополнительная опция
                            .AboutBuilder_sectionTitle Внимание к деталям 
                            .AboutBuilder_sectionText Девелоперская группа «Сити-XXI век» создает концептуальные проекты, которые неподвластны времени. Архитектурные решения органично вписываются в природный ландшафт, цветовая палитра не диссонирует с окружением, а фактурные элементы ненавязчивы и гармоничны.

                    section.AboutBuilder_section.AboutBuilder_section-reverse
                        .AboutBuilder_sectionThumb(style="background-image: url('./img/content/thumb.jpg')")
                        .AboutBuilder_sectionContent
                            .AboutBuilder_sectionTitle Внимание к деталям 
                            .AboutBuilder_sectionText Девелоперская группа «Сити-XXI век» создает концептуальные проекты, которые неподвластны времени. Архитектурные решения органично вписываются в природный ландшафт, цветовая палитра не диссонирует с окружением, а фактурные элементы ненавязчивы и гармоничны. 

                    section.AboutBuilder_section
                        .AboutBuilder_sectionThumb(style="background-image: url('./img/content/thumb.jpg')")
                        .AboutBuilder_sectionContent
                            .AboutBuilder_sectionTitle Внимание к деталям 
                            .AboutBuilder_sectionText Девелоперская группа «Сити-XXI век» создает концептуальные проекты, которые неподвластны времени. Архитектурные решения органично вписываются в природный ландшафт, цветовая палитра не диссонирует с окружением, а фактурные элементы ненавязчивы и гармоничны.

                    section.AboutBuilder_section.AboutBuilder_section-reverse
                        .AboutBuilder_sectionThumb(style="background-image: url('./img/content/thumb.jpg')")
                        .AboutBuilder_sectionContent
                            .AboutBuilder_sectionTitle Внимание к деталям 
                            .AboutBuilder_sectionText Девелоперская группа «Сити-XXI век» создает концептуальные проекты, которые неподвластны времени. Архитектурные решения органично вписываются в природный ландшафт, цветовая палитра не диссонирует с окружением, а фактурные элементы ненавязчивы и гармоничны.  

                    section.AboutBuilder_section
                        .AboutBuilder_sectionThumb(style="background-image: url('./img/content/thumb.jpg')")
                        .AboutBuilder_sectionContent
                            .AboutBuilder_sectionTitle Внимание к деталям 
                            .AboutBuilder_sectionText Девелоперская группа «Сити-XXI век» создает концептуальные проекты, которые неподвластны времени. Архитектурные решения органично вписываются в природный ландшафт, цветовая палитра не диссонирует с окружением, а фактурные элементы ненавязчивы и гармоничны.
 
                .AboutPage_contentRight
block page_bottom
    //- script(src="/js/diary.js")