extends layouts/layoutScroll
block vars
    - var title = "Empty page";
block content
    h1(style="padding: 40px 0;")
        strong Empty page (example)
    each i in [1,2,3,4,5,6,7]
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi eligendi consectetur iure alias, error repellendus voluptate aut incidunt atque corporis dolor enim deleniti amet non accusantium, id suscipit, saepe. Rerum voluptatum qui velit aspernatur atque. Optio minima, tempora laboriosam dignissimos delectus, officiis veritatis. Fuga molestiae, fugiat enim, placeat odit tempora, atque consequuntur cum minima velit rem voluptatem nam sunt saepe nostrum corporis architecto commodi necessitatibus nesciunt quam! Iste fugit, odio provident sequi, consequuntur consequatur. Doloremque autem amet id temporibus? Sit corporis deleniti sequi est minima quia accusamus, nam magnam magni. Eligendi eveniet, alias porro. Nihil, ratione, et quibusdam qui voluptatum omnis cumque a non suscipit similique odit laboriosam earum. Fugit optio quo omnis eos voluptas dolorum, et explicabo quia soluta vel quis quod atque magni dolorem mollitia voluptates ipsa quidem! Possimus natus, sit placeat optio officiis, dolor eos vel ea ab voluptatibus corrupti officia ipsum exercitationem sint impedit? Eveniet numquam, doloribus aut recusandae esse debitis incidunt velit, repellendus accusantium quam ducimus, dolorum neque, adipisci eius. Neque, aperiam repellat et accusamus hic incidunt minus ducimus recusandae expedita, ab cupiditate facilis quas voluptas dicta consectetur impedit ratione exercitationem omnis veniam. Quia blanditiis labore repellat omnis quibusdam laborum, provident repudiandae, facere est similique ipsum quisquam optio qui aliquid, ducimus aperiam. Sequi ab at molestiae ut voluptatibus exercitationem, fugiat odio nesciunt. Vitae culpa inventore facilis, aliquid at beatae voluptatum quis obcaecati optio quidem omnis soluta maxime minus ex enim, doloribus eum similique cum hic magnam voluptatem dolores quos in. Tempore nostrum porro, nesciunt distinctio quod non nisi, eius aliquid dolores possimus temporibus? Omnis repudiandae aut perferendis distinctio nisi nulla est sequi eligendi beatae saepe quia, accusamus sapiente soluta culpa. Impedit perferendis harum laudantium nemo at error ab saepe temporibus tenetur cupiditate, maiores illo, aliquid, laboriosam incidunt a ratione. Ex iusto voluptas voluptatum pariatur soluta.
block page_bottom
    //- script(src="/js/script_for_this_page")