extends layouts/layoutScroll
block vars
	- var title = "Акции";
block content
	.content
		.ContactsPage
			.contacts
				.contacts_mobilePanel
					a.Panel_control.Panel_control-contacts.PanelBtn.PanelBtn-grey(href="#" data-type="office" title="Офис")
						img.Panel_filterImg.PanelBtn_img(src="./img/ui/office.svg" alt="")
						.PanelBtn_text Офис
					a.Panel_control.Panel_control-contacts.PanelBtn.PanelBtn-grey(href="#" data-type="transport" title="Транспорт")
						img.Panel_filterImg.PanelBtn_img(src="./img/ui/office.svg" alt="")
						.PanelBtn_text Транспорт
					a.Panel_control.Panel_control-contacts.PanelBtn.PanelBtn-grey(href="#" data-type="car" title="Личный транспорт")
						img.Panel_filterImg.PanelBtn_img(src="./img/ui/office.svg" alt="")
						.PanelBtn_text Личный транспорт
					a.Panel_control.Panel_control-contacts.PanelBtn.PanelBtn-grey(href="#" data-type="mcd" title="МЦД-1")
						img.Panel_filterImg.PanelBtn_img(src="./img/ui/mcd.svg" alt="")
						.PanelBtn_text МЦД-1
				.contacts_map#contactsMap
				.McdMap
					span.McdMap_close(title="Закрыть")
						include includes/svg/close
					img(src="../img/mcd_map-1.jpg", alt="").McdMap_img
				.Accordion.contacts_accordion
					h3.Accordion_label.contacts_accordionLabel(data-type="office") Офис продаж
					.Accordion_content.contacts_accordionContent
						.contacts_accordionContentWrp
							.contacts_address
								p <span>Московская область, г. Красногорск, ул. Опалиха</span>
								p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit maximus viverra. Suspendisse urna tellus, maximus nec est quis, sagittis tincidunt lorem.
								p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit maximus viverra. Suspendisse urna tellus, maximus nec est quis, sagittis tincidunt lorem.
					h3.Accordion_label.contacts_accordionLabel(data-type="route") Общественный транспорт
					.Accordion_content.contacts_accordionContent
						.contacts_accordionContentWrp
							.contacts_address
								p <span>Метро «Тушинская»</span> (№542п, 120)- ост. ул. Кирова
								p Ост. ул. Кирова (№833,833к)– платформа Опалиха
								p Далее пешком 135 м.
							.contacts_address
								p <span>Метро «Сходненская»</span> (№492к) – ост. Ул. Кирова
								p Ост. ул. Кирова (№833,833к)– платформа Опалиха
								p Далее пешком 135 м.
					h3.Accordion_label.contacts_accordionLabel(data-type="car") Личный транспорт
					.Accordion_content.contacts_accordionContent
						.contacts_accordionContentWrp
							.contacts_address
								p <span>Метро «Тушинская»</span> (№542п, 120)- ост. ул. Кирова
								p Ост. ул. Кирова (№833,833к)– платформа Опалиха
								p Далее пешком 135 м.
							.contacts_address
								p <span>Метро «Тушинская»</span> (№542п, 120)- ост. ул. Кирова
								p Ост. ул. Кирова (№833,833к)– платформа Опалиха
								p Далее пешком 135 м.
	+Panel_right('contacts')
block page_bottom
	script.
		window.officeCoords = {lat: 55.956705, lng: 37.449110};

		 window.fromCoords = [
					{
						type: 'walk',
						coord: new google.maps.LatLng(55.82374, 37.247477),
					},
					{
						type: 'transport',
						coord: new google.maps.LatLng(55.826183, 37.437014)
					},
					{
						type: 'transport',
						coord: new google.maps.LatLng(55.850133, 37.439084),
					},
				];



				window.routesDesctiptions = [

					{
						color: "#00FF00",
						title: "Автобусы, маршрутки от ст. м. «Митино» до офиса продаж — 52 мин. с учетом пересадок и ожидания",
						text: "1) От&nbsp;ст.&nbsp;м. «Митино» до&nbsp;авт. остановки «Улица Кирова»&nbsp;— 17&nbsp;мин.<br> 2) От&nbsp;авт. остановки «Улица Кирова» до&nbsp;авт. остановки «Платформа Опалиха»&nbsp;— 11&nbsp;мин.<br>3) От&nbsp;авт. остановки «Платформа Опалиха» до&nbsp;офиса продаж 0,65&nbsp;км&nbsp;— 8&nbsp;мин.",
						map_type: "transport",
						waypoints: [{lat:55.845504783781,lng:37.358509551197,mode:"DRIVING"},{lat:55.83390569955,lng:37.299773677422,mode:"TRANSIT"},{lat:55.824058220648,lng:37.246155449626,mode:"TRANSIT"},{lat:55.827375430542,lng:37.235416574907,mode:"WALKING"}],            },

					{
						color: "#FF0000",
						title: "От ж/д ст. «Тушино» до ж/д ст. «Опалиха» – 16 мин.",
						text: "с&nbsp;4:30 утра до&nbsp;1:04&nbsp;ночи, всего 91&nbsp;рейс по&nbsp;будням",
						map_type: "transport",
						waypoints: [{lat:55.826877215698,lng:37.441191673279,mode:"DRIVING"},{lat:55.823751656105,lng:37.247089150043,mode:"TRANSIT"},{lat:55.827767995975,lng:37.234398860168,mode:"WALKING"}],            },

					{
						color: "#0000FF",
						title: "От Рижского вокзала до ж/д ст. «Опалиха» — 40 мин.",
						text: "с&nbsp;4:10 утра до&nbsp;0:40&nbsp;ночи, всего 39&nbsp;рейсов по&nbsp;будням",
						map_type: "transport",
						waypoints: [{lat:55.792548114705,lng:37.632658481598,mode:"DRIVING"},{lat:55.823345621811,lng:37.246828079224,mode:"TRANSIT"},{lat:55.827297052966,lng:37.235790410575,mode:"WALKING"}],            },

					{
						color: "#0000FF",
						title: "От МКАД по Волоколамскому шоссе – 13 км",
						text: "Без пробок&nbsp;&mdash; от&nbsp;22&nbsp;мин.<br>В&nbsp;час-пик&nbsp;&mdash; от&nbsp;30&nbsp;мин.",
						map_type: "car",
						waypoints: [{lat:55.827620664446,lng:37.23477293096,mode:"DRIVING"},{lat:55.83258786407,lng:37.395373873878,mode:"DRIVING"}],            },

					{
						color: "#00FF00",
						title: "От МКАД по Новорижскому шоссе – 16 км",
						text: "Без пробок&nbsp;&mdash; от&nbsp;24&nbsp;мин.<br>В&nbsp;час-пик&nbsp;&mdash; от&nbsp;46&nbsp;мин.",
						map_type: "car",
						waypoints: [{lat:55.788538571535,lng:37.380612335799,mode:"DRIVING"},{lat:55.827479888158,lng:37.235185837378,mode:"DRIVING"},{lat:55.827479888158,lng:37.235185837378,mode:"DRIVING"}],
					},

							];


	script(src="/js/contacts.js")