extends layouts/layoutScroll
block vars
    - var title = "Динамика строительства";
block content
    .content
        .GalleryPage.GalleryPage-diary.Page
            .GalleryPage_head.Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Динамика строительства', url: '/diary_by_years.html'}])
                .Page_headRight
                    h1.Page_title=title
            
            .GalleryPage_block

                .GalleryPage_slider.diary.swiper-container
                    .GalleryPage_selects
                        select.SelectPage.SelectPage-year(name="year")
                            option.SelectPage_option(selected="selected") 2017
                            option.SelectPage_option 2018
                            option.SelectPage_option 2019
                            option.SelectPage_option 2020
                                
                        select.SelectPage.SelectPage-corpus(name="corpus")
                            option.SelectPage_option(selected="selected" disabled="disabled") По месяцам
                            option.SelectPage_option Январь
                            option.SelectPage_option Февраль
                            option.SelectPage_option Март
                    .swiper-wrapper
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 02
                                    .diary_overlayMonth июль
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Офис
                                .diary_bottomCount 12 фото
                            a.diary_link(href="/gallery_inner.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 03
                                    .diary_overlayMonth июль
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Парки
                                .diary_bottomCount 10 фото
                            a.diary_link(href="/gallery_inner.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 04
                                    .diary_overlayMonth июль
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Парки
                                .diary_bottomCount 5 фото
                            a.diary_link(href="/gallery_inner.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 05
                                    .diary_overlayMonth июль
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Парки
                                .diary_bottomCount 5 фото
                            a.diary_link(href="/gallery_inner.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 06
                                    .diary_overlayMonth июль
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Парки
                                .diary_bottomCount 5 фото
                            a.diary_link(href="/gallery_inner.html")
                    .diary_btn.diary_btn-prev
                        span.IconTriangle
                    .diary_btn.diary_btn-next
                        span.IconTriangle

                .diaryThumb.swiper-container
                    .swiper-wrapper
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Январь
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Февраль
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Март
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Апрель
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Май
    +Panel_right()
block page_bottom
    script(src="/js/diary.js")