extends layouts/layoutScroll
block vars
    - var title = "Динамика строительства";
block content
    .content
        .GalleryPage.GalleryPage-diary.Page
            .GalleryPage_head.Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Динамика строительства', url: '/diary_by_years.html'}])
                .Page_headRight
                    h1.Page_title=title
            
            .GalleryPage_block

                .GalleryPage_slider.diary.swiper-container
                    .GalleryPage_selects
                        select.SelectPage.SelectPage-year(name="year")
                            option.SelectPage_option(selected="selected") 2017
                            option.SelectPage_option 2018
                            option.SelectPage_option 2019
                            option.SelectPage_option 2020
                                
                        select.SelectPage.SelectPage-corpus(name="corpus")
                            option.SelectPage_option(selected="selected" disabled="disabled") По корпусам
                            option.SelectPage_option Корпус 1
                            option.SelectPage_option Корпус 2
                            option.SelectPage_option Корпус 3
                    .swiper-wrapper
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 01
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Корпус 1
                                .diary_bottomCount 12 фото
                            a.diary_link(href="/subdiary_by_years.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 02
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Корпус 2
                                .diary_bottomCount 10 фото
                            a.diary_link(href="/subdiary_by_years.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 03
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Корпус 3
                                .diary_bottomCount 5 фото
                            a.diary_link(href="/subdiary_by_years.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 04
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Корпус 4
                                .diary_bottomCount 5 фото
                            a.diary_link(href="/subdiary_by_years.html")
                        .swiper-slide.diary_item
                            .diary_overlay
                                .diary_overlayContent
                                    .diary_overlayNum 05
                            .diary_img(style="background-image: url('./img/content/thumb.jpg')")
                            .diary_bottom
                                .diary_title Корпус 5
                                .diary_bottomCount 5 фото
                            a.diary_link(href="/subdiary_by_years.html")
                    .diary_btn.diary_btn-prev
                        span.IconTriangle
                    .diary_btn.diary_btn-next
                        span.IconTriangle

                .diaryThumb.swiper-container
                    .swiper-wrapper
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Корпус 1
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Корпус 2
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Корпус 3
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Корпус 4
                        .swiper-slide.diaryThumb_item
                            .diaryThumb_text Корпус 5
    +Panel_right()
block page_bottom
    script(src="/js/diary.js")