extends layouts/layoutScroll
block vars
    - var title = "Документы";
    - 
        var docsGroups = [
            "Договор долевого участия (ДДУ)",
            "Разрешение на строительство",
            "Проектная декларация",
            "Экспертное заключение",
        ];
block content
    .content
        .Documents.Page
            .Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Документы', url: '/docs.html'}])
                .Page_headRight
                    h1.Page_title=title
            each groupTitle in docsGroups
                figure.Teaser
                    .Teaser_left
                        .Teaser_date
                            .Teaser_hours 04
                            .Teaser_month документа
                    .Documents_teaserRight.Teaser_right
                        .Documents_name=groupTitle
                            .Documents_arrows
                        .Documents_content
                            ul.Documents_list
                                each i in [1,2,3,4]
                                    li.Documents_item
                                        .Documents_text
                                            .Documents_type Проект ДДУ #{i} корпус
                                            .Documents_typeDesc Загрузил ЛУКАШЕНКО У.Г.   |   2#{i}.11.2016 12:00
                                        
                                        .Documents_files
                                            a.Documents_file(href="#")
                                                img.Documents_fileIcon(src="./img/documents/word.svg" alt="")

                                            a.Documents_file(href="#")
                                                img.Documents_fileIcon(src="./img/documents/adobe.svg" alt="")
                                        
                                        .Documents_xsDownload
                                            .Documents_xsDownloadUp
                                            a.Documents_xsDownloadText(href="#") Скачать
                                            .Documents_files.Documents_files-xs
                                                a.Documents_file(href="#")
                                                    img.Documents_fileIcon(src="./img/documents/word.svg" alt="")

                                                a.Documents_file(href="#")
                                                    img.Documents_fileIcon(src="./img/documents/adobe.svg" alt="")
        
            .Page_pagination
                .Page_paginationLeft
                .Page_paginationRight
    +Panel_right()
block page_bottom
    script(src="/js/docs.js")