extends layouts/layoutScroll
block vars
    - var title = "Планировка №24";
block content
    +Panel_left('filters')
    .content
        .FilterPage

            .FilterPage_overlay
            +FilterSidebar

                .FilterSidebar_close.PanelBtn.PanelBtn-grey
                    img.FilterSidebar_closeImg(src="./img/ui/close.svg")

                form#filterForm.FilterForm(autocomplete="off" data-action="/ajax/get_typicals_example.json")
                    .FilterForm_item
                        .FilterForm_label Цена:
                        .RangeSlider.RangeSlider-brown(data-slider-opts='{"min":2199008, "max":7724370, "counterType":"formatted_num"}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                    span ₽
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                                    span ₽
                            input(type='hidden', name='price_from' value="2199008" data-persist-id='price_from')
                            input(type='hidden', name='price_to' value="7724370" data-persist-id='price_to')
                    .FilterForm_item
                        .FilterForm_label Площадь
                        .RangeSlider(data-slider-opts='{"min":24, "max":84}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                    span м#[sup 2]
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                                    span м#[sup 2]
                            input(type='hidden', name='area_from' value="31" data-persist-id='area_from')
                            input(type='hidden', name='area_to' value="84" data-persist-id='area_to')
                    .FilterForm_item
                        .FilterForm_label Спален:
                        .FilterForm_checkboxesRow
                            each item in ['0', '1', '2', '3']
                                .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="bedrooms[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
                                        span.CustomCheckbox_view #{item === '0' ? 'C' : item}
                        .FilterForm_chksGroup
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="finish" data-persist-id="finish" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Отделка
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="promo" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Акция
                    .FilterForm_item
                        .FilterForm_label Этаж
                        .RangeSlider(data-slider-opts='{"min":1, "max":25}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                            input(type='hidden', name='floor_from' data-persist-id='floor_from' value="2") 
                            input(type='hidden', name='floor_to' data-persist-id='floor_to' value="25")
                    .FilterForm_item
                        .FilterForm_label Стадия строительства
                        .RangeSlider#finishRangeSliderCont(data-slider-opts='{"min":1517274658, "max":1580346658, "counterType":"date_quarters"}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                            // в инпуты нужно выводить дату в формате 'UTC' (в секундах)
                            input(type='hidden' name="entry_date_from" value='1517274658'  data-persist-id='entry_date_from')
                            input(type='hidden' name="entry_date_to" value='1580346658'  data-persist-id='entry_date_to')
                    .FilterForm_item
                        .FilterForm_label.FilterForm_label-accord 
                            <button class="FilterForm_groupToggler" data-form-group-toggle="#additionalOptions"> Прочие особенности
                                <svg class="SvgIco SvgIco-angleDown" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9" height="14" viewBox="0 0 9 14">
                                    <path class="SvgIco_path" d="M8.398 5.75q0 0.102-0.078 0.18l-3.641 3.641q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l0.391-0.391q0.078-0.078 0.18-0.078t0.18 0.078l3.070 3.070 3.070-3.070q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18z"></path>
                                </svg>
                            </button>
                        .FilterForm_chksOtherGroup(style="display: none")
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="balcony" data-persist-id="balcony" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view С балконом
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="sunny" data-persist-id="sunny" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Солнечная сторона
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name='separatedWC' data-persist-id="separatedWC" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Раздельный санузел
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="multiple_wc" data-persist-id="multiple_wc" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Два санузла
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="wardrobe" data-persist-id="wardrobe" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Гардеробная
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="bigloggia" data-persist-id="bigloggia" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Большая лоджия
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="steklovpol" data-persist-id="steklovpol" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Остекление лоджии в пол
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="klad" data-persist-id="klad" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Кладовая
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="bigkitchen" data-persist-id="bigkitchen" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Большая кухня
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="bigbedroom" data-persist-id="bigbedroom" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Большая спальня
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="biglounge" data-persist-id="biglounge" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Большая гостиная
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="bothSides" data-persist-id="bothSides" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Окна на 2 стороны
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="laundry" data-persist-id="laundry" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Постирочная
                            
            section.FilterPage_content
                .hidden-xs
                    .FilterPage_flatParamsTop
                        .FilterPage_flatParamsTitle Подобрать по
                            a(href="#").FilterPage_flatParamsTopLink параметрам
                            a(href="#").FilterPage_flatParamsTopLink.FilterPage_flatParamsTopLink-active <span class="TurnButton"></span> типу

                        a(href="#").FilterPage_flatParamsTopLink.FilterPage_flatParamsTopLink-grey На генплане

                .hidden-sm.hidden-md
                    select.FilterMobileSwitcher(autocomplete="off")
                        option(value="/filters_typicals.html") Подбор по типу
                        option(value="/filters_options.html" selected) Подбор по параметрам
                        option(value="/genplan.html") На генплане
                .CardsList.CardsList-flatPlans#filterResult
                    .swiper-lazy-preloader
    +Panel_right('filters')
block page_bottom
    script(src="/js/filters.js")
    script.
        var FShowPrices = 0;