extends layouts/layoutScroll
block vars
    - var title = "Квартира №24";
block content
    +Panel_left('genplan')
    .content
        +Breadcrumbs([{title: 'Квартира №24', url: '/flat_single.html'}])
        a.Page_headToBack.Page_headToBack-flatSingle(href="#") Назад
        .Box.Box-smExtended
            .FlatSingle
                .FlatSingle_plan
                    .FlatSingle_planThumb.wow.fadeInLeft
                        .FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-prev
                            //- include includes/svg/angle_right.svg
                        .FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-next
                            //- include includes/svg/angle_right.svg
                        .swiper-container
                            .swiper-wrapper
                                span.swiper-slide.FlatSingle_planThumbItem Планировка
                                span.swiper-slide.FlatSingle_planThumbItem 3D Планировка
                                span.swiper-slide.FlatSingle_planThumbItem Перепланировка 1
                                span.swiper-slide.FlatSingle_planThumbItem Перепланировка 1
                    .FlatSingle_slider.swiper-container.wow.fadeInLeft
                        .swiper-wrapper
                            .swiper-slide
                                .FlatSingle_slide
                                    .FlatSingle_slideImg(style="background-image: url('./img/plans/1.svg')")
                                    .FlatSingle_slideCompass
                                        .FlatSingle_slideCompassImg(style="transform: rotate(30deg)")
                            .swiper-slide
                                .FlatSingle_slide
                                    .FlatSingle_slideImg(style="background-image: url('./img/plans/1.svg')")
                                    .FlatSingle_slideCompass
                                        .FlatSingle_slideCompassImg(style="transform: rotate(30deg)")
                            .swiper-slide
                                .FlatSingle_slide
                                    .FlatSingle_slideImg(style="background-image: url('./img/plans/1.svg')")
                                    .FlatSingle_slideCompass
                                        .FlatSingle_slideCompassImg(style="transform: rotate(30deg)")
                            .swiper-slide
                                .FlatSingle_slide
                                    .FlatSingle_slideImg(style="background-image: url('./img/plans/1.svg')")
                                    .FlatSingle_slideCompass
                                        .FlatSingle_slideCompassImg(style="transform: rotate(30deg)")
                    .FlatSingle_buildScheme
                        .FlatSingle_directions
                            .FlatSingle_directItem.FlatSingle_directItem-firstOrder 1-ая очередь
                            .FlatSingle_directItem.FlatSingle_directItem-secondOrder 2-ая очередь
                            .FlatSingle_directItem.FlatSingle_directItem-sale Корпуса в продаже
                            .FlatSingle_directItem.FlatSingle_directItem-unsale Корпуса не в продаже
                        .FlatSingle_buildSchemeImg
                            include includes/svg/korpusa.svg
                .FlatSingle_info.wow.fadeInUp
                    h1.FlatInfo_title=title
                    .Tbl.Tbl-LeftTxt
                        .Tbl_tr
                            .Tbl_th Площадь:
                            .Tbl_th Стоимость:
                        .Tbl_tr.Tbl_tr-fontBig
                            .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap 35.8м#[sup 2]
                            .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap 5 200 000 ₽
                    .Tbl
                        .Tbl_tr
                            .Tbl_th cекция
                            .Tbl_th этаж
                            .Tbl_th спален
                            .Tbl_th отделка
                            .Tbl_th балкон
                            .Tbl_th.Tbl_td-nowrap вид во двор
                        .Tbl_tr.Tbl_tr-bold
                            .Tbl_td.Tbl_td-tightTop 3
                            .Tbl_td.Tbl_td-tightTop 5
                            .Tbl_td.Tbl_td-tightTop 1
                            .Tbl_td.Tbl_td-tightTop
                                include includes/svg/check_bold.svg
                            .Tbl_td.Tbl_td-tightTop
                                include includes/svg/cross_bold.svg
                            .Tbl_td.Tbl_td-tightTop
                                include includes/svg/check_bold.svg
                    .FlatSingle_desc
                        .FlatSingle_descItem Солнечная сторона
                            include includes/svg/check_bold.svg
                        .FlatSingle_descItem Гардеробная
                            include includes/svg/check_bold.svg
                        .FlatSingle_descItem Раздельный санузел
                            include includes/svg/check_bold.svg
                    a(data-fancybox="" href="#Callback").Btn.FlatSingle_btn.Btn-big Оставить заявку
            .FlatSingle_preview.wow.fadeInUp
                    .Tbl.Tbl-flatList
                        h4.Tbl_caption Похожие квартиры
                        .Tbl_tr
                            .Tbl_th Квартира №
                            .Tbl_th Секция
                            .Tbl_th Этаж
                            .Tbl_th.hidden-xs Спален
                            .Tbl_th.Tbl_th-sortable Площадь
                            .Tbl_th.hidden-xs.hidden-sm Отделка
                            .Tbl_th.hidden-xs.hidden-sm Балкон
                            .Tbl_th.hidden-xs.hidden-sm Вид во двор
                            .Tbl_th.Tbl_th-sortable.Tbl_th-sortableActive Стоимость
                        a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html`).Tbl_tr.Tbl_tr-link
                            .Tbl_td.Tbl_td-brown 20
                            .Tbl_td 30
                            .Tbl_td 40
                            .Tbl_td.hidden-xs 3
                            .Tbl_td 44м#[sup 2]
                            .Tbl_td.hidden-xs.hidden-sm
                                include includes/svg/check_bold.svg
                            .Tbl_td.hidden-xs.hidden-sm
                                include includes/svg/cross_bold.svg
                            .Tbl_td.hidden-xs.hidden-sm
                                include includes/svg/check_bold.svg
                            .Tbl_td.Tbl_td-nowrap
                                del.Tbl_delText 5 650 000 ₽
                                br
                                ins.Tbl_insText 4 999 999 ₽
                        each i in [1,2,3,4,5,6]
                            a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html`).Tbl_tr.Tbl_tr-link
                                .Tbl_td.Tbl_td-brown #{i}
                                .Tbl_td #{i+1}
                                .Tbl_td #{i+2}
                                .Tbl_td.hidden-xs 3
                                .Tbl_td 3#{i}.#{i-1}м#[sup 2]
                                .Tbl_td.hidden-xs.hidden-sm
                                    include includes/svg/check_bold.svg
                                .Tbl_td.hidden-xs.hidden-sm
                                    include includes/svg/cross_bold.svg
                                .Tbl_td.hidden-xs.hidden-sm
                                    include includes/svg/check_bold.svg
                                .Tbl_td.Tbl_td-nowrap 4 950 000 ₽
    +Panel_right
        
block page_bottom
    script(src="/js/flat_single.js")