extends layouts/layoutScroll
block vars
    - var title = "Планировка №24";
block content
    +Panel_left()
    .content
        +Breadcrumbs([{title: 'Планировка №24', url: '/flat_type.html'}])
        a.Page_headToBack.Page_headToBack-flatType(href="#") Назад
        .FlatType
            .Box.Box-smExtended
                .FlatInfo
                    .FlatInfo_schemeWrap.wow.fadeInLeft
                        img.FlatInfo_scheme(src="./img/plan.svg", alt=title)
                    .FlatInfo_descWrap.wow.fadeInUp
                        h1.FlatInfo_title=title
                        .Tbl.Tbl-LeftTxt
                            .Tbl_tr
                                .Tbl_th.Tbl_th-sortable Площадь:
                                .Tbl_th.Tbl_th-sortable.Tbl_th-sortableActive Стоимость:
                            .Tbl_tr
                                .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap от 
                                    | 35.8м#[sup 2] 
                                    br.hidden-sm.hidden-md
                                    | до 
                                    | 36.0м#[sup 2]
                                .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap от #[ 4 800 000 ₽] #[br.hidden-sm.hidden-md] до #[ 5 200 000 ₽]
                        .Tbl
                            .Tbl_tr
                                .Tbl_th спален
                                .Tbl_th балкон
                                .Tbl_th отделка
                                .Tbl_th вид во двор
                            .Tbl_tr
                                .Tbl_td.Tbl_td-tightTop 2
                                .Tbl_td.Tbl_td-tightTop нет
                                .Tbl_td.Tbl_td-tightTop есть
                                .Tbl_td.Tbl_td-tightTop есть
                .FlatListContainer.wow.fadeInUp
                    .Tbl.Tbl-flatList
                        h4.Tbl_caption Подходящие квартиры
                        .Tbl_tr
                            .Tbl_th Квартира №
                            .Tbl_th Секция
                            .Tbl_th Этаж
                            .Tbl_th.hidden-xs Спален
                            .Tbl_th Площадь
                            .Tbl_th.hidden-xs.hidden-sm Отделка
                            .Tbl_th.hidden-xs.hidden-sm Балкон
                            .Tbl_th.hidden-xs.hidden-sm Вид во двор
                            .Tbl_th Стоимость
                        a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html`).Tbl_tr.Tbl_tr-link
                            .Tbl_td.Tbl_td-brown 20
                            .Tbl_td 30
                            .Tbl_td 40
                            .Tbl_td.hidden-xs 3
                            .Tbl_td 44м#[sup 2]
                            .Tbl_td.hidden-xs.hidden-sm
                                include includes/svg/check_bold.svg
                            .Tbl_td.hidden-xs.hidden-sm
                                include includes/svg/cross_bold.svg
                            .Tbl_td.hidden-xs.hidden-sm
                                include includes/svg/check_bold.svg
                            .Tbl_td.Tbl_td-nowrap
                                del.Tbl_delText 5 650 000 ₽
                                br
                                ins.Tbl_insText 4 999 999 ₽
                        each i in [1,2,3,4,5,6]
                            a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html`).Tbl_tr.Tbl_tr-link
                                .Tbl_td.Tbl_td-brown #{i}
                                .Tbl_td #{i+1}
                                .Tbl_td #{i+2}
                                .Tbl_td.hidden-xs 3
                                .Tbl_td 3#{i}.#{i-1}м#[sup 2]
                                .Tbl_td.hidden-xs.hidden-sm
                                    include includes/svg/check_bold.svg
                                .Tbl_td.hidden-xs.hidden-sm
                                    include includes/svg/cross_bold.svg
                                .Tbl_td.hidden-xs.hidden-sm
                                    include includes/svg/check_bold.svg
                                .Tbl_td.Tbl_td-nowrap 4 950 000 ₽
    +Panel_right
        
block page_bottom
    //- script(src="/js/flat_type.js")