extends layouts/layoutScroll
block vars
    - var title = "Планировка №24";
block content
    +Panel_left('filters')
    .content
        .FilterPage.FilterPage-flatParams

            .FilterPage_overlay
            +FilterSidebar

                .FilterSidebar_close.PanelBtn.PanelBtn-grey
                    img.FilterSidebar_closeImg(src="./img/ui/close.svg")

                form#filterForm.FilterForm(autocomplete="off" data-action="/ajax/get_flats_example.json")
                    input#sortInp(type="hidden" name="sort" value="price")
                    input#sortOrderInp(type="hidden" name="sort_order" value="desc")
                    .FilterForm_item
                        .FilterForm_label Комнат:
                        .FilterForm_checkboxesRow
                            each item in ['0', '1', '2', '3']
                                .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="bedrooms[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
                                        span.CustomCheckbox_view #{item === '0' ? 'C' : item}
                        .FilterForm_chksGroup
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="finish" data-persist-id="finish" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Отделка
                            .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="promo" value="1").CustomCheckbox_input
                                        span.CustomCheckbox_view Акция
                    .FilterForm_item
                        .FilterForm_label Цена:
                        .RangeSlider.RangeSlider-brown(data-slider-opts='{"min":2199008, "max":7724370, "counterType":"formatted_num"}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                    span ₽
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                                    span ₽
                            input(type='hidden', name='price_from' value="2199008" data-persist-id='price_from')
                            input(type='hidden', name='price_to' value="7724370" data-persist-id='price_to')
                    .FilterForm_item
                        .FilterForm_label Площадь
                        .RangeSlider(data-slider-opts='{"min":24, "max":84}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                    span м#[sup 2]
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                                    span м#[sup 2]
                            input(type='hidden', name='area_from' value="31" data-persist-id='area_from')
                            input(type='hidden', name='area_to' value="84" data-persist-id='area_to')
                    .FilterForm_item
                        .FilterForm_label Этаж
                        .RangeSlider(data-slider-opts='{"min":1, "max":25}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                            input(type='hidden', name='floor_from' data-persist-id='floor_from' value="2") 
                            input(type='hidden', name='floor_to' data-persist-id='floor_to' value="25")
                    .FilterForm_item
                        .FilterForm_label Стадия строительства
                        .RangeSlider#finishRangeSliderCont(data-slider-opts='{"min":1517274658, "max":1580346658, "counterType":"date_quarters"}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                            // в инпуты нужно выводить дату в формате 'UTC' (в секундах)
                            input(type='hidden' name="entry_date_from" value='1517274658'  data-persist-id='entry_date_from')
                            input(type='hidden' name="entry_date_to" value='1580346658'  data-persist-id='entry_date_to')

            .FilterPage_flatParamsContent
                .hidden-xs
                    .FilterPage_flatParamsTop
                        .FilterPage_flatParamsTitle Подобрать по
                            a(href="#").FilterPage_flatParamsTopLink.FilterPage_flatParamsTopLink-active <span class="TurnButton"></span> параметрам
                            a(href="#").FilterPage_flatParamsTopLink типу

                        a(href="#").FilterPage_flatParamsTopLink.FilterPage_flatParamsTopLink-grey На генплане

                .hidden-sm.hidden-md
                    select.FilterMobileSwitcher(autocomplete="off")
                        option(value="/filters_typicals.html") Подбор по типу
                        option(value="/filters_options.html" selected) Подбор по параметрам
                        option(value="/genplan.html") На генплане

                .FilterPage_flatParamsList
                    .Tbl.Tbl-flatParams
                        .Tbl_thead
                            .Tbl_tr.Tbl_tr-head
                                .Tbl_th.hidden-xs Планировка
                                .Tbl_th(data-sort-by="num") Квартира №
                                .Tbl_th.hidden-xs.hidden-sm(data-sort-by="floor") Этаж
                                .Tbl_th(data-sort-by="section") Секция
                                .Tbl_th(data-sort-by="rooms") Комнат
                                .Tbl_th.hidden-xs.hidden-sm(data-sort-by="area") Площадь
                                .Tbl_th.hidden-xs.hidden-sm(data-sort-by="furnish") Отделка
                                .Tbl_th(data-sort-by="price") Стоимость
                        .Tbl_tbody#filterResultsContainer
                            //- a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html` data-thumb='{"img": "/img/plan.svg"}').Tbl_tr.Tbl_tr-link
                            //-     .Tbl_td.Tbl_td-scheme
                            //-         include ../../src/assets/img/plan.svg
                            //-     .Tbl_td.Tbl_td-brown 20
                            //-     .Tbl_td 30
                            //-     .Tbl_td 40
                            //-     .Tbl_td.hidden-xs 3
                            //-     .Tbl_td 44м#[sup 2]
                            //-     .Tbl_td.hidden-xs.hidden-sm
                            //-         include includes/svg/check_bold.svg
                            //-     .Tbl_td.Tbl_td-nowrap
                            //-         del.Tbl_delText 5 650 000 ₽
                            //-         br
                            //-         ins.Tbl_insText 4 999 999 ₽
                            //- each i in [1,2,3,4,5,6]
                            //-     a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html` data-thumb='{"img": "/img/plan.svg"}').Tbl_tr.Tbl_tr-link
                            //-         .Tbl_td.Tbl_td-scheme
                            //-             include ../../src/assets/img/plan.svg 
                            //-         .Tbl_td.Tbl_td-brown #{i}
                            //-         .Tbl_td #{i+1}
                            //-         .Tbl_td #{i+2}
                            //-         .Tbl_td.hidden-xs 3
                            //-         .Tbl_td 3#{i}.#{i-1}м#[sup 2]
                            //-         .Tbl_td.hidden-xs.hidden-sm
                            //-             include includes/svg/check_bold.svg
                            //-         .Tbl_td.Tbl_td-nowrap 4 950 000 ₽

                    a(href="#").FilterPage_flatParamsLinkMore#getMoreFlats Загрузить еще 
                        span#extraFlatsCounter 12

    +Panel_right('filters')
        
block page_bottom
    script(src="/js/flat_params.js")