extends layouts/layoutScroll
block vars
    - var title = "Визуализация объекта";
block content
    .content
        .GalleryPage.GalleryPage-inner.Page
            .GalleryPage_head.Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Визуализация объекта', url: '/gallery_inner.html'}])
                    a.Page_headToBack(href="/gallery.html") Назад
                .Page_headRight
                    h1.Page_title=title
            
            .GalleryPage_block
                .GalleryPage_slider.gallery.gallery--detail.swiper-container
                    .gallery-count <span class="gallery-count__current">1</span> / <span class="gallery-count__total"></span> Фото
                    .swiper-wrapper
                        .swiper-slide.gallery__item
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                            a.gallery__full.BtnZoom(href="./img/content/thumb.jpg" data-fancybox="gallery1")
                                img.BtnZoom_img(src="./img/ui/zoom.svg" alt="")
                        .swiper-slide.gallery__item
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                            a.gallery__full.BtnZoom(href="./img/content/thumb.jpg" data-fancybox="gallery1")
                                img.BtnZoom_img(src="./img/ui/zoom.svg" alt="")
                        .swiper-slide.gallery__item
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                            a.gallery__full.BtnZoom(href="./img/content/thumb.jpg" data-fancybox="gallery1")
                                img.BtnZoom_img(src="./img/ui/zoom.svg" alt="")
                    .gallery__btn.gallery__btn--prev
                        span.IconTriangle
                    .gallery__btn.gallery__btn--next
                        span.IconTriangle
    +Panel_right()
block page_bottom
    script(src="/js/gallery_inner.js")