extends layouts/layoutScroll
block vars
    - var title = "Галерея";
block content
    .content
        .GalleryPage.GalleryPage-gallery.Page
            .GalleryPage_head.Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Галерея', url: '/gallery.html'}])
                .Page_headRight
                    h1.Page_title=title
            
            .GalleryPage_block
                    
                .GalleryPage_slider.gallery.gallery--detail.swiper-container
                    .swiper-wrapper
                        .swiper-slide.gallery__item
                            a(href="./gallery_inner.html")
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                            .gallery__bottom Визуализация объекта
                                span.gallery__photos 36 фото
                        .swiper-slide.gallery__item
                            a(href="./gallery_inner.html")
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                            .gallery__bottom Визуализация объекта
                                span.gallery__photos 36 фото
                        .swiper-slide.gallery__item
                            a(href="./gallery_inner.html")
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                            .gallery__bottom Визуализация объекта
                                span.gallery__photos 36 фото
                            .gallery__nav
                    .gallery__btn.gallery__btn--prev
                        span.IconTriangle
                    .gallery__btn.gallery__btn--next
                        span.IconTriangle
    +Panel_right()
block page_bottom
    script(src="/js/gallery.js")