extends layouts/layout
block vars
    - var title = "Генплан";
block content
    +Panel_left('genplan')
    .content
        .BuildMap.BuildMap-genplan
            a.BuildMap_filter.PanelBtn(href="/filters.html" title="Подбор по параметрам")
                img.PanelBtn_img(src="/img/ui/settings.svg" alt="")
            
            .BuildMap_compass(style="transform: rotate(45deg)")
                .BuildMap_compassImg
            
            +Fitblock('/img/genplan.jpg', 2664, 1264, 'Fitblock-xsScrollable Fitblock-smScrollable')
                .SvgWrap
                    include ./includes/svg/genplan.svg
        
                .BuildMap_marker(style="top: 55%; left: 47%") 1
                //- .BuildMap_marker(style="top: 38%; left: 62%") 2
                //- .BuildMap_marker(style="top: 27%; left: 71%") 3
                .BuildMap_marker(style="top: 29%; left: 53%") 4
                .BuildMap_marker(style="top: 35%; left: 41%") 5
                .BuildMap_marker(style="top: 45%; left: 26%") 6
                //- .BuildMap_marker(style="top: 18%; left: 69%") 7
                //- .BuildMap_marker(style="top: 19%; left: 64%") 8
                //- .BuildMap_marker(style="top: 19%; left: 55%") 9
                .BuildMap_marker(style="top: 19%; left: 43%") 10
                .BuildMap_marker(style="top: 19%; left: 28%") 11


                .BuildMap_marker.BuildMap_marker-desc(style="top: 42%; left: 3%")
                    img.BuildMap_img(src="./img/markers/kindergarten.svg" alt="")
                    .BuildMap_markerDesc Детский сад

                .BuildMap_marker.BuildMap_marker-desc(style="top: 34%; left: 5%")
                    img.BuildMap_img(src="./img/markers/book.svg" alt="")
                    .BuildMap_markerDesc Школа начальных классов

                .BuildMap_marker.BuildMap_marker-desc(style="top: 12%; left: 5%")
                    img.BuildMap_img(src="./img/markers/church.svg" alt="")
                    .BuildMap_markerDesc Храм Успения Пресвятой Богородицы

                .BuildMap_marker.BuildMap_marker-desc(style="top: 28%; left: 87%") P
                    .BuildMap_markerDesc Парковка

                .BuildMap_marker.BuildMap_marker-desc(style="top: 82%; left: 49%")
                    img.BuildMap_img(src="./img/markers/workout.svg" alt="")
                    .BuildMap_markerDesc Зона воркаут

                .BuildMap_marker.BuildMap_marker-desc(style="top: 79%; left: 64%")
                    img.BuildMap_img(src="./img/markers/wind.svg" alt="")
                    .BuildMap_markerDesc р. Клязьма

                .BuildMap_marker.BuildMap_marker-desc(style="top: 56%; left: 62%")
                    img.BuildMap_img(src="./img/markers/walk.svg" alt="")
                    .BuildMap_markerDesc Променад

                .BuildMap_marker.BuildMap_marker-desc(style="top: 65%; left: 73%")
                    img.BuildMap_img(src="./img/markers/bridge.svg" alt="")
                    .BuildMap_markerDesc Благоустроеная набережная

                .BuildMap_marker.BuildMap_marker-desc(style="top: 56%; left: 85%")
                    img.BuildMap_img(src="./img/markers/shape.svg" alt="")
                    .BuildMap_markerDesc Спортивные площадки

                .BuildMap_pathMarker(style="top: 6.2%; left: 49%")
                    img.BuildMap_pathMarkerImg(src="./img/markers/path-marker.svg" alt="")
                    .BuildMap_pathMarkerText г. Химки

                .BuildMap_turn(style="top: 30%; left: 16%") 1 очередь
                .BuildMap_turn(style="top: 23%; left: 73%") 2 очередь
                    
    +Panel_right('genplan')
block page_bottom
    script(src="/js/genplan.js")