extends layouts/layout
block vars
    - var title = "Главная";
block content
    +Panel_left()
    .content.content-promo
        .Promo(style="background-image: url(/img/banner.jpg)")
            button.Promo_closeBtn
                img.Promo_closeBtnImg(src="/img/ui/close.svg", alt="")
            .Promo_titleTablet
                .Promo_title Получить предложение:
                span.Promo_phoneLink.call_phone_1
                    a.Header_phone(href="tel: +74951261461") +7 495 126-14-61
            
            .Promo_links.Promo_links-mobile
                a.Promo_link.Promo_link-hidePromo(href="#") Перейти на сайт
                a.Promo_link(href="#") Следить за новостями

            .Promo_foregroundCont
                img.Promo_foregroundPic(src="/img/hand.png")
                .Promo_foregroundPicOverlay
                    .Promo_btnWrap
                        a.Promo_btn(href="#Callback" data-fancybox)
                        .Promo_btnDesc Записаться
            .Promo_content
                .Promo_title Получить <br>предложение:
                span.Promo_phoneLink.call_phone_1
                    a.Header_phone(href="tel: +74951261461") +7 495 126-14-61

                .Promo_links
                    a.Promo_link.Promo_link-hidePromo(href="#") Перейти на сайт
                    a.Promo_link(href="#") Следить за новостями


        include ./includes/blocks/ShadeSlider.pug
    +Panel_right()
block page_bottom
    script(src="/js/index.js")