extends layouts/layout
block vars
    - var title = "Страница не найдена";
block content
    +Panel_left('genplan')
    .content
        .InfrasExternal
            .InfrasExternal_filter.PanelBtn(href="/filters.html" title="Подбор по параметрам")
                img.PanelBtn_img(src="./img/ui/settings.svg" alt="")
                
            .InfrasExternal_map#infrasMap
            .InfrasExternal_title Инфраструктура<br>района
    +Panel_right('genplan')
        
block page_bottom
    script
      | window.infrasObjsMarkers = [{ title: 'Детский сад', coord: [55.82555480, 37.24892050], img: '/img/markers/camp.svg', hover: true},{title: 'Знаменская церковь', coord: [55.82454570, 37.23891140], img: '/img/markers/church.svg', hover: true},{title: 'Остановка', coord: [55.82451570, 37.23191140], img: '/img/markers/r.svg', hover: true},{title: 'Магазин', coord: [55.82421570, 37.23591140], img: '/img/markers/shop.svg', hover: true},{title: 'Пейнтбольный клуб «Серебрянка»', coord: [55.82421570, 37.23491140], img: '/img/markers/camp.svg', hover: true},{title: 'Ж/д станция «Опалиха»', coord: [55.82654515, 37.24115661], img: '/img/markers/kindergarten.svg', hover: true},{title: 'Офис продаж', coord: [55.82654485, 37.23891061], img: '/img/markers/camp.svg', hover: true}];
      | window.centerCoords = {lat: 55.956705, lng: 37.449110};

    script(src="/js/infras_external.js")