extends layouts/layout
block vars
    - var title = "Инфраструктура";
block content
    +Panel_left('genplan')
    .content
        .BuildMap
            a.BuildMap_filter.FilterBtn(href="/filters.html" title="Подбор по параметрам")
                img.FilterBtn_img(src="./img/ui/settings.svg" alt="")
            
            +Fitblock('/img/genplan.jpg', 'Fitblock-xsScrollable Fitblock-smScrollable')
        
                .BuildMap_marker.BuildMap_marker-hover(style="top: 66%; left: 71%")
                    img.BuildMap_img(src="./img/markers/kindergarten.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 47%; left: 52%")
                    img.BuildMap_img(src="./img/markers/r.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 17%; left: 54%")
                    img.BuildMap_img(src="./img/markers/shop.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 47%; left: 7%")
                    img.BuildMap_img(src="./img/markers/shop.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 64%; left: 18%")
                    img.BuildMap_img(src="./img/markers/church.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 45%; left: 30%")
                    img.BuildMap_img(src="./img/markers/camp.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 51%; left: 89%")
                    img.BuildMap_img(src="./img/markers/church.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 33%; left: 53%")
                    img.BuildMap_img(src="./img/markers/shop.svg" alt="")
                    .BuildMap_markerDesc Детский сад
                .BuildMap_marker.BuildMap_marker-hover(style="top: 29%; left: 81%")
                    img.BuildMap_img(src="./img/markers/shop.svg" alt="")
                    .BuildMap_markerDesc Детский сад
    +Panel_right('genplan')
block page_bottom
    script(src="/js/infras_internal.js")