extends layouts/layoutScroll
block vars
    - var title = "Рассрочка";
block content
    .content
        .Installment.Page
            .Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Рассрочка', url: '/installment.html'}])
                .Page_headRight
                    h1.Page_title=title

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 6,8%
                        .Teaser_month Минимальная ставка
                .Teaser_right
                    .Installment_item
                        .Installment_thumb
                            .Installment_month 06
                            .Installment_monthDesc месяцев
                        .Installment_content
                            .Installment_title.Teaser_title На 6 месяцев
                            .Installment_text.Teaser_text 1-ый взнос - 40% в течение 5 рабочих дней после регистрации ДДУ, остаток в течение 6 месяцев, без процентов, равными частями ежемесячно.

                    .Installment_item
                        .Installment_thumb
                            .Installment_month 09
                            .Installment_monthDesc месяцев
                        .Installment_content
                            .Installment_title.Teaser_title На 9 месяцев
                            .Installment_text.Teaser_text 1-ый взнос - 40% в течение 5 рабочих дней после регистрации ДДУ, остаток в течение 9 месяцев, без процентов, равными частями ежемесячно, на квартиры общей площадью более 40 кв. м.

                    .Installment_item
                        .Installment_thumb
                            .Installment_month 12
                            .Installment_monthDesc месяцев
                        .Installment_content
                            .Installment_title.Teaser_title На 12 месяцев
                            .Installment_text.Teaser_text 1-ый взнос - 30% в течение 5 рабочих дней после регистрации ДДУ, остаток на 12 месяцев под 12% годовых, на весь остаток, равными частями ежемесячно.

                    .Teaser_postScript *Работаем с 15 банками-партнёрами, предлагаем покупателям выгодные процентные ставки — от 7,5 %.

            .Page_pagination
                .Page_paginationLeft
                .Page_paginationRight
    +Panel_right()
block page_bottom
    //- script(src="/js/news.js")