extends layouts/layoutScroll
block vars
    - var title = "Ипотека";
    include includes/chunks/banks_list.pug
block content
    .content
        .Mortgage.Page
            .Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Ипотека', url: '/mortgage.html'}])
                .Page_headRight
                    h1.Page_title=title

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 6,8%
                        .Teaser_month Минимальная ставка
                .Teaser_right
                    .BankList
                        .BankList_top
                            table.BankList_tbl
                                thead.BankList_tblHead
                                    tr
                                        th.BankList_colHead
                                            span.BankList_colHeadText Банк
                                        th.BankList_colHead
                                            span.BankList_colHeadText Срок кредита
                                        th.BankList_colHead 
                                            span.BankList_colHeadText Взнос
                                        th.BankList_colHead
                                            span.BankList_colHeadText Ставка в год
                                        th.BankList_colHead.BankList_colHead-send
                        .BankList_plate
                            table.BankList_tbl
                                tbody.BankList_tblBody.BankList_tblBody-closed
                                    each bank, index in banks
                                        tr.BankList_row.BankList_row-primary
                                            td.BankList_cell 
                                                img.BankList_logo(src=`${bank.logo}`, alt=`${bank.name}`, title=`${bank.name}`)
                                            td.BankList_cell до #{bank.yearsTo} лет
                                            td.BankList_cell #{bank.firstPay}%
                                            td.BankList_cell #{bank.rate}%
                                            td.BankList_cell.BankList_cell-send
                                                a.MoreBtn.MoreBtn-small.BankList_send(data-fancybox="" href="#Callback") Отправить запрос
                    .Mortgage_conditions *Работаем с 15 банками-партнёрами, предлагаем покупателям выгодные процентные ставки — от 7,5 %.
            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours ДО 3
                        .Teaser_month месяцев отсрочки
                .Mortgage_teaserRight.Teaser_right
                    h2.Teaser_title.Mortgage_teaserTitle График работы на майские праздники
                    .Mortgage_teaserContent
                        .Mortgage_teaserThumb
                            img.Mortgage_teaserImg(src="./img/content/family.png" alt="")
                        .Teaser_text.Mortgage_teaserText Владельцы сертификата материнского (семейного) капитала могут использовать его для улучшения жилищных условий семьи и покупки квартиры на любой стадии строительства в проекте Rafinad. В 2018 году сумма материнского капитала составляет 453 026 руб., эти средства могут быть направлены на покупку жилья по договору долевого участия. ГК «Rafinad» предоставляет возможность использовать сертификат материнского (семейного) капитала при единовременной оплате квартиры на любой стадии строительства и получить беспроцентную рассрочку на срок до 3 месяцев.
                    a.MoreBtn(href="#") Отправить заявку

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 100%
                        .Teaser_month Оплата
                .Mortgage_teaserRight.Teaser_right
                    h2.Teaser_title.Mortgage_teaserTitle Единовременная 100% оплата
                    .Mortgage_teaserContent
                        .Mortgage_teaserThumb
                            img.Mortgage_teaserImg(src="./img/content/family.png" alt="")
                        .Teaser_text.Mortgage_teaserText 
                            p Если вы планируете внести платёж за квартиру единовременно, мы предложим вам действующие на момент покупки специальные условия, а также подберём бонусы и подарки — в зависимости от того, в каком жилом квартале находится заинтересовавшая вас квартира.
                            p При покупке квартиры стопроцентная оплата совсем не обязательно состоит только из ваших собственных средств. В сумму, необходимую для полной оплаты по договору, могут входить и субсидии (в том числе и материнский капитал), и займы (ипотека, кредит).
                    
                    a.MoreBtn(href="#") Отправить заявку
                    
            .Page_pagination
                .Page_paginationLeft
                .Page_paginationRight

    +Panel_right()
block page_bottom
    //- script(src="/js/mortgage.js")