extends layouts/layoutScroll
block vars
    - var title = "Новости";
block content
    .content
        .News.Page
            .Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Новости', url: '/news.html'}])
                .Page_headRight
                    h1.Page_title=title
                    .Page_sortPanel
                        .Page_search.Search
                            input.Search_field(type="text" placeholder="Поиск")
                            button.Search_submit
                        .Page_selects
                            select.Page_selectItem.SelectPage.SelectPage-year(name="year")
                                option.SelectPage_option(selected="selected") 2017
                                option.SelectPage_option 2018
                                option.SelectPage_option 2019
                                option.SelectPage_option 2020
                            
                            select.Page_selectItem.SelectPage.SelectPage-corpus(name="corpus")
                                option.SelectPage_option(selected="selected" disabled="disabled") По корпусам
                                option.SelectPage_option Корпус 1
                                option.SelectPage_option Корпус 2
                                option.SelectPage_option Корпус 3

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                .News_teaserRight.Teaser_right
                    .News_teaserContent
                        a(href="/news_single.html").Teaser_title.News_teaserTitle График работы на майские праздники
                        p.Teaser_text.News_teaserText Город на природе, расположившейся в городском округе Химки в 10 км от столицы. Современная архитектура здесь словно вплетается в природный ландшафт, создавая атмосферу тихого европейского города, где высоко ценятся безопасность и комфорт, природное окружение и внимание к деталям.
                    
                    a.MoreBtn(href="/news_single.html") Подробнее

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                .News_teaserRight.Teaser_right
                    .News_teaserContent
                        a(href="/news_single.html").Teaser_title.News_teaserTitle График работы на майские праздники
                        p.Teaser_text.News_teaserText Город на природе, расположившейся в городском округе Химки в 10 км от столицы. Современная архитектура здесь словно вплетается в природный ландшафт, создавая атмосферу тихого европейского города, где высоко ценятся безопасность и комфорт, природное окружение и внимание к деталям.
                    
                    a.MoreBtn(href="/news_single.html") Подробнее
            
            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                .News_teaserRight.Teaser_right
                    .News_teaserContent
                        a(href="/news_single.html").Teaser_title.News_teaserTitle График работы на майские праздники
                        p.Teaser_text.News_teaserText Город на природе, расположившейся в городском округе Химки в 10 км от столицы. Современная архитектура здесь словно вплетается в природный ландшафт, создавая атмосферу тихого европейского города, где высоко ценятся безопасность и комфорт, природное окружение и внимание к деталям.
                    
                    a.MoreBtn(href="/news_single.html") Подробнее

            .Page_pagination
                .Page_paginationLeft
                .Page_paginationRight
                    include ./includes/blocks/pagination.pug
    +Panel_right()
block page_bottom
    script(src="/js/news.js")