extends layouts/layoutScroll
block vars
    - var title = "В красногорске состоялся единый день сбора макулатуры для «Киноуроков в школах России»";
block content
    .content
        .PageSingle.Page
            .Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Новости', url: '/news.html'}, {title: 'В красногорске состоялся единый день сбора макулатуры для «Киноуроков в школах России»', url: './news_single.html'}])
                    a.Page_headToBack(href="/news.html") Назад
                .Page_headRight
                    h1.Page_title Новости
                    .Page_pageNav
                        include ./includes/blocks/PageNavigation.pug

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                    .Teaser_share
                        .Teaser_shareTitle
                            .Teaser_shareTitleText Поделиться
                        .Teaser_shareLinks
                            a.Teaser_shareLink(href="#")
                                img.Teaser_shareIcon(src="./img/socials/fb.svg" alt="")
                            a.Teaser_shareLink(href="#")
                                img.Teaser_shareIcon(src="./img/socials/vk.svg" alt="")

                .PageSingle_teaserRight.Teaser_right
                    .PageSingle_teaserContent
                        h2.Teaser_title.PageSingle_teaserTitle В красногорске состоялся единый день сбора макулатуры для «Киноуроков в школах России»
                        .Teaser_innerText.PageSingle__innerText
                            .PageSingle_thumb
                                img.PageSingle_thumbImg(src="./img/content/thumb.jpg" alt="")
                                a.PageSingle_thumbFull.BtnZoom.LightboxImage(href="./img/content/thumb.jpg")
                                    img.BtnZoom_img(src="./img/ui/zoom.svg" alt="")
                            p Единый день сбора макулатуры на доброе кино состоялся 28 апреля. С утра и до самого вечера люди несли старые книги и журналы, ставшие ненужными офисные документы, коробки, плакаты... Точками сбора стали все школы города и площадь у Дома культуры «Подмосковье» в центре Красногорска. На площадь приходили и пожилые люди, которым сложно донести ценный груз до площади самостоятельно, им помогали современные «тимуровцы», юные волонтеры, которые приняли участие в акции. Присоединились и пенсионеры, и школьники, и активные работающие люди — все, от мала до велика. Один из жителей по имени Владимир поставил свой личный рекорд — 118 килограммов. «Мы с друзьями собирали макулатуру по магазинам Красногорска, нам разрешали брать старые коробки. В нашей школе к акции присоединились почти все ребята, это здорово», — поделился Илья Блохин, ученик средней общеобразовательной школы № 18, которая на данный момент является одним из рекордсменов по сбору макулатуры — 2,5 тонны. Отличные результаты у красногорской гимназии № 2 собрала — 3,1 тонны, у Петрово-Дальневской школы — более 4 тонн!
                            p Каждый участник получил специальный значок с логотипом акции, а школьники еще и шанс выиграть ценные призы — планшет, электронную книгу и годовую подписку на интеллектуальный тренажер «Викиум». Главной же наградой для школьников и всего Красногорска должен стать будущий фильм, который будет снят в рамках всероссийского народного проекта «Киноуроки в школах России». Напомним, это кинопедагогика в действии: ученики всех школ сдают макулатуру, на вырученные средства снимается фильм на одно из нравственных понятий, таких как честь, милосердие, достоинство и т. д. На данный момент создано 16 картин, всего их будет 99. Что важно — действие разворачиваются в Красногорске и речь пойдет об одном из качеств, которое ближе всего образу города (хотите выбрать понятие вместе со школьниками — напишите в социальных сетях, контакты ниже). Готовый фильм — это и есть киноурок, который потом смотрят и обсуждают во всех городах-участниках проекта. Таким образом, Красногорск вносит свой вклад в «библиотеку нравственных понятий» и заявляет о себе всей России.
                            p Для съемок фильма учащимся требуется собрать 155 (!) тонн макулатуры. Задача сложнейшая, но посильная, если взяться за нее всем миром. Акция уже стала по-настоящему народной: вовлечены все школы, администрация округа, Общественная палата, многие социальные и коммерческие организации... Стать кинопродюсером вместе со школьниками может каждый! На данный момент создано 16 картин, всего их будет 99. Что важно — действие разворачиваются в Красногорске и речь пойдет об одном из качеств, которое ближе всего образу города (хотите выбрать понятие вместе со школьниками — напишите в социальных сетях, контакты ниже). Готовый фильм — это и есть киноурок, который потом смотрят и обсуждают во всех городах-участниках проекта. На данный момент создано 16 картин, всего их будет 99.
                            p 
                            | С 
                            b 16 апреля по 15 мая 
                            | - школьники сдают макулатуру в своих школах.

            .Page_pagination
                .Page_paginationLeft
                .Page_paginationRight
                    include ./includes/blocks/PageNavigation.pug
    +Panel_right()
block page_bottom
    script(src="/js/news.js")