extends layouts/layoutScroll
block vars
    - var title = "Акции";
block content
    .content
        .Promos.Page
            .Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Акции', url: '/promos.html'}])
                .Page_headRight
                    h1.Page_title Акции

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                .Promos_teaserRight.Teaser_right
                    .Promos_teaserThumb(style="background-image: url('./img/content/article.png')" href="#")
                    .Promos_teaserContent
                        span.Promos_tillDate До 15.10.17
                        h2.Promos_teaserTitle.Teaser_title Для тех, кто быстро принимает решения!
                        p.Promos_teaserText.Teaser_text Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова
                        a.Promos_teaserBtn.MoreBtn(href="/promo_single.html") Подробнее
            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                .Promos_teaserRight.Teaser_right
                    .Promos_teaserThumb(style="background-image: url('./img/content/article.png')" href="#")
                    .Promos_teaserContent
                        span.Promos_tillDate До 15.10.17
                        h2.Promos_teaserTitle.Teaser_title Для тех, кто быстро принимает решения!
                        p.Promos_teaserText.Teaser_text Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова
                        a.Promos_teaserBtn.MoreBtn(href="/promo_single.html") Подробнее
            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                .Promos_teaserRight.Teaser_right
                    .Promos_teaserThumb(style="background-image: url('./img/content/article.png')" href="#")
                    .Promos_teaserContent
                        span.Promos_tillDate До 15.10.17
                        h2.Promos_teaserTitle.Teaser_title Для тех, кто быстро принимает решения!
                        p.Promos_teaserText.Teaser_text Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова
                        a.Promos_teaserBtn.MoreBtn(href="/promo_single.html") Подробнее


            
            .Page_pagination
                .Page_paginationLeft
                .Page_paginationRight
                    include ./includes/blocks/pagination.pug
    +Panel_right()
block page_bottom
    //- script(src="/js/index.js")