extends layouts/layoutScroll
block vars
    - var title = "Для тех, кто быстро принимает решения!";
block content
    .content
        .PageSingle.Page
            .Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Акции', url: '/promos.html'}, {title: 'Для тех, кто быстро принимает решения!', url: './promo_single.html'}])
                    a.Page_headToBack(href="#") Назад
                .Page_headRight
                    h1.Page_title Акция
                    .Page_pageNav
                        include ./includes/blocks/PageNavigation.pug

            figure.Teaser
                .Teaser_left
                    .Teaser_date
                        .Teaser_hours 14:46
                        .Teaser_month 5 августа 2017
                    .Teaser_share
                        .Teaser_shareTitle
                            .Teaser_shareTitleText Поделиться
                        .Teaser_shareLinks
                            a.Teaser_shareLink(href="#")
                                img.Teaser_shareIcon(src="./img/socials/fb.svg" alt="")
                            a.Teaser_shareLink(href="#")
                                img.Teaser_shareIcon(src="./img/socials/vk.svg" alt="")

                .PageSingle_teaserRight.Teaser_right
                    .PageSingle_teaserContent
                        h2.Teaser_title.PageSingle_teaserTitle Для тех, кто быстро принимает решения!
                        .Teaser_innerText.PageSingle__innerText
                            .PageSingle_thumb
                                img.PageSingle_thumbImg(src="./img/content/thumb.jpg" alt="")
                            p Единый день сбора макулатуры на доброе кино состоялся 28 апреля. С утра и до самого вечера люди несли старые книги и журналы, ставшие ненужными офисные документы, коробки, плакаты... Точками сбора стали все школы города и площадь у Дома культуры «Подмосковье» в центре Красногорска. На площадь приходили и пожилые люди, которым сложно донести ценный груз до площади самостоятельно, им помогали современные «тимуровцы», юные волонтеры.
                            

            .Page_pagination
                .Page_paginationLeft
                .Page_paginationRight
                    include ./includes/blocks/PageNavigation.pug
    +Panel_right()
block page_bottom
    //- script(src="/js/news.js")