extends layouts/layoutGenplan
block vars
    - var title = "Выбор квартиры на этаже";
block content
    +Panel_left('house-floor')
    .content.content-section
        .FilterPage

            .FilterPage_overlay
            +FilterSidebarGenplan

                .FilterSidebar_close.PanelBtn.PanelBtn-grey
                    img.FilterSidebar_closeImg(src="./img/ui/close.svg")
                form#filterForm.FilterForm.FilterForm-genplan(autocomplete="off" data-action="/ajax/get_typicals_example.json")
                    .HousesNav
                        a.HousesNav_item(href="#")
                            span.IconTriangle
                        a.HousesNav_item(href="#") Квартал
                        a.HousesNav_item.HousesNav_item-active(href="#", data-name="1k") Корпус 1
                    .HousesScheme
                        include ./includes/svg/houses.svg
                    .FilterForm_item
                        .FilterForm_label Спален:
                        .FilterForm_checkboxesRow
                            each item in ['0', '1', '2', '3']
                                .CustomCheckbox
                                    label.CustomCheckbox_label
                                        input(type="checkbox" name="bedrooms[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
                                        span.CustomCheckbox_view #{item === '0' ? 'C' : item}
                        .FilterForm_chksGroup
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="finish" data-persist-id="finish" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Отделка
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="promo" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Акция
                    .FilterForm_item
                        .FilterForm_label Цена:
                        .RangeSlider.RangeSlider-brown(data-slider-opts='{"min":2199008, "max":7724370, "counterType":"formatted_num"}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                    span ₽
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                                    span ₽
                            input(type='hidden', name='price_from' value="2199008" data-persist-id='price_from')
                            input(type='hidden', name='price_to' value="7724370" data-persist-id='price_to')
                    .FilterForm_item
                        .FilterForm_label Площадь
                        .RangeSlider(data-slider-opts='{"min":28, "max":80}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                    span м#[sup 2]
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                                    span м#[sup 2]
                            input(type='hidden', name='area_from' value="28" data-persist-id='area_from')
                            input(type='hidden', name='area_to' value="80" data-persist-id='area_to')
                    .FilterForm_item
                        .FilterForm_label Этаж
                        .RangeSlider(data-slider-opts='{"min":1, "max":25}')
                            .RangeSlider_rangeVals
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
                                    span.RangeSlider_minValViewEl
                                .RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
                                    span.RangeSlider_maxValViewEl
                            input(type='hidden', name='floor_from' data-persist-id='floor_from' value="2")
                            input(type='hidden', name='floor_to' data-persist-id='floor_to' value="25")
                    .FilterForm_item
                        .FilterForm_label.FilterForm_label-accord
                            <button class="FilterForm_groupToggler" data-form-group-toggle="#additionalOptions"> Прочие особенности
                            <svg class="SvgIco SvgIco-angleDown" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9" height="14" viewBox="0 0 9 14">
                            <path class="SvgIco_path" d="M8.398 5.75q0 0.102-0.078 0.18l-3.641 3.641q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l0.391-0.391q0.078-0.078 0.18-0.078t0.18 0.078l3.070 3.070 3.070-3.070q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18z"></path>
                            </svg>
                            </button>
                        .FilterForm_chksOtherGroup(style="display: none")
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="balcony" data-persist-id="balcony" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view С балконом
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="sunny" data-persist-id="sunny" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Солнечная сторона
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name='separatedWC' data-persist-id="separatedWC" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Раздельный санузел
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="multiple_wc" data-persist-id="multiple_wc" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Два санузла
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="wardrobe" data-persist-id="wardrobe" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Гардеробная
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="bigloggia" data-persist-id="bigloggia" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Большая лоджия
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="steklovpol" data-persist-id="steklovpol" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Остекление лоджии в пол
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="klad" data-persist-id="klad" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Кладовая
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="bigkitchen" data-persist-id="bigkitchen" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Большая кухня
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="bigbedroom" data-persist-id="bigbedroom" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Большая спальня
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="biglounge" data-persist-id="biglounge" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Большая гостиная
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="bothSides" data-persist-id="bothSides" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Окна на 2 стороны
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="laundry" data-persist-id="laundry" value="1").CustomCheckbox_input
                                    span.CustomCheckbox_view Постирочная
            .HouseSection
                .BuildMap.BuildMap-genplan
                    a.Panel_control.PanelBtn.PanelBtn-grey.PanelBtn-filter.Panel_control-section(href="#")
                        img.Panel_filterImg.PanelBtn_img(src="./img/ui/settings.svg" alt="")
                    .BuildMap_compass.BuildMap_compass-houses(style="transform: rotate(45deg)")
                        .BuildMap_compassImg

                    .HouseSection_inner
                        .HouseSectionNav
                            .HouseSectionNav_back
                                a(href="/house_floor.html").HouseSectionNav_link Назад
                            .HouseSectionNav_floors
                                a.HouseSectionNav_link.HouseSectionNav_link-active.HouseSectionNav_switch(href="/section_new.html") 1
                                a.HouseSectionNav_link.HouseSectionNav_switch(href="/section_new2.html") 2
                            .SelectFloorWrap
                                select.SelectFloor
                                    option(value="/section_new.html", selected) 1 этаж
                                    option(value="/section_new2.html") 2 этаж

                        .HouseSection_schemeScroll
                             include ./includes/svg/section.svg
                             .HouseSectionNumber
                        .HouseSectionTypes
                            .HouseSectionTypes_item.HouseSectionTypes_item-1k
                                span.hidden-xs 1-ая квартиры
                                span.hidden-sm.hidden-md 1-я кв.
                            .HouseSectionTypes_item.HouseSectionTypes_item-2k
                                span.hidden-xs 2-ая квартиры
                                span.hidden-sm.hidden-md 2-я кв.
                            .HouseSectionTypes_item.HouseSectionTypes_item-3k
                                span.hidden-xs 3-ая квартиры
                                span.hidden-sm.hidden-md 3-я кв.
                            .HouseSectionTypes_item.HouseSectionTypes_item-st
                                span.hidden-xs Квартиры студии
                                span.hidden-sm.hidden-md Студии

                            .HouseSectionTypes_item.HouseSectionTypes_item-com
                                span.hidden-xs Нежилые помещения
                                span.hidden-sm.hidden-md Нежилые

                            .HouseSectionTypes_item.HouseSectionTypes_item-sales Проданные


    +Panel_right('house-floor')

block page_bottom
    script(src="/js/filters.js")
    script(src="/js/section_new.js")