extends layouts/layout
block vars
    - var title = "Секция 5";
block content
    +Panel_left()
    .content
        +Breadcrumbs([{title: 'Секция 5', url: '/section.html'}])
        .FlatSection
            .Box.Box-smExtended
                .FlatInfo
                    .FlatInfo_schemeWrap
                        include includes/svg/section_scheme_example.svg
                    .FlatInfo_descWrap
                        .FlatInfo_miniPlan(style="background-image:url(./img/plans/section_place_minscheme_example.svg);")
                        h1.FlatInfo_title=title  
                        nav.BldNav
                            .BldNav_item
                                .BldNav_label Секция
                                .BldNav_linksWrap
                                    a.BldNav_arrow.BldNav_arrow-prev(href="#")
                                    .BldNav_currentVal 4
                                    a.BldNav_arrow.BldNav_arrow-next(href="#")
                            .BldNav_item
                                .BldNav_label Этаж
                                .BldNav_linksWrap
                                    a.BldNav_arrow.BldNav_arrow-prev(href="#")
                                    .BldNav_currentVal 5
                                    a.BldNav_arrow.BldNav_arrow-next(href="#")

                        +ColorLegend([
                            {
                                hashCode: "#d8d1c2",
                                label: "1-я квартиры",
                            },
                            {
                                hashCode: "#1c355e",
                                label: "3-я квартиры",
                            },
                            {
                                hashCode: "#dbe0e1",
                                label: "Нежилые помещения",
                            },
                            {
                                hashCode: "#dbe0e1",
                                label: "2-я квартиры",
                            },
                            {
                                hashCode: "#946947",
                                label: "Квартиры-студии",
                            },
                            {
                                hashCode: "#ffffff",
                                label: "Проданные",
                            },
                        ], mods={
                            list: "ColorLegend_list-tight",
                        })
    +Panel_right
        
block page_bottom
    //- script(src="/js/flat_single.js")