extends layouts/layoutScroll
block vars
    - var title = "Август";
block content
    .content
        .GalleryPage.GalleryPage-inner.Page
            .GalleryPage_head.Page_head
                .Page_headLeft
                    +Breadcrumbs([{title: 'Август', url: '/subdiary_by_building.html'}])
                    a.Page_headToBack(href="/diary_by_building.html") Назад
                .Page_headRight
                    h1.Page_title=title
            
            .GalleryPage_block
                .GalleryPage_slider.gallery.gallery--detail.swiper-container
                    .GalleryPage_selects
                        select.SelectPage.SelectPage-year(name="year")
                            option.SelectPage_option(selected="selected") 2017
                            option.SelectPage_option 2018
                            option.SelectPage_option 2019
                            option.SelectPage_option 2020

                    .swiper-wrapper
                        .swiper-slide.gallery__item
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                                .gallery_info
                                    .gallery_infoContent
                                        .gallery_infoRow
                                            .gallery_infoName Загружено:
                                            .gallery_infoDesc 16.08.2017
                                        .gallery_infoRow
                                            .gallery_infoName Загрузил:
                                            .gallery_infoDesc Воздвиженский Илья

                                .PanelBtn.gallery_infoIcon i
                            .gallery_bottomInfo 4 Корпус. Вид со двора

                        .swiper-slide.gallery__item
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                                .gallery_info
                                    .gallery_infoContent
                                        .gallery_infoRow
                                            .gallery_infoName Загружено:
                                            .gallery_infoDesc 16.08.2017
                                        .gallery_infoRow
                                            .gallery_infoName Загрузил:
                                            .gallery_infoDesc Воздвиженский Илья

                                .PanelBtn.gallery_infoIcon i
                            .gallery_bottomInfo 4 Корпус. Вид со двора

                        .swiper-slide.gallery__item
                            .gallery__img(style="background-image: url('./img/content/thumb.jpg')")
                                .gallery_info
                                    .gallery_infoContent
                                        .gallery_infoRow
                                            .gallery_infoName Загружено:
                                            .gallery_infoDesc 16.08.2017
                                        .gallery_infoRow
                                            .gallery_infoName Загрузил:
                                            .gallery_infoDesc Воздвиженский Илья

                                .PanelBtn.gallery_infoIcon i
                            .gallery_bottomInfo 4 Корпус. Вид со двора
                            
                    .gallery__btn.gallery__btn--prev
                        span.IconTriangle
                    .gallery__btn.gallery__btn--next
                        span.IconTriangle
    +Panel_right()
block page_bottom
    script(src="/js/gallery_inner.js")