extends layouts/layout
block vars
    - var title = "Транспортная доступность";
block content
    +Panel_left('genplan')
    .content
        .InfrasExternal.Transport
            .Transport_mobileControls
                a.Panel_control.PanelBtn.PanelBtn-grey.Panel_control-contacts.Transport_mobileControl.Transport_mobileControl-routes(href="#" title="Транспорт")
                    img.Panel_filterImg.PanelBtn_img(src="./img/ui/transport.svg" alt="")
                a.Panel_control.PanelBtn.PanelBtn-grey.Panel_control-contacts.Transport_mobileControl.Transport_mobileControl-dest(href="#" title="Маршрут")
                    img.Panel_filterImg.PanelBtn_img(src="./img/ui/routes.svg" alt="")
            .TransportPopup
                .TransportPopup_overlay
                .TransportPopup_popup
                    .TransportPopup_close
                        <svg class="TransportPopup_closeSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1.4 0l18.4 18.4-1.4 1.4L0 1.4z"/><path d="M19.8 1.4L1.4 19.8 0 18.4 18.4 0z"/></svg>
                    .TransportPopup_title Чтобы проложить маршрут
                    .TransportPopup_desc выберите точку на карте


            .Transport_routes
                .Transport_routesTitle Транспортная доступность
                #listsOfRoutes.Transport_routesList
                    h6 На автомобиле                           
                    ul.TransportSquare
                      li.TransportSquare_item.TransportSquare_item-green
                        a(href="#route_3" data-color="#7aba28") От МКАД по Волоколамскому шоссе                                                               
                      li.TransportSquare_item.TransportSquare_item-brown
                        a(href="#route_4" data-color="#956947") От МКАД по Новорижскому шоссе
                      li.TransportSquare_item.TransportSquare_item-yellow
                        a(href="#route_4" data-color="#e5b21c") От МКАД по Новорижскому шоссе    

                    h6 На общественном транспорте                      
                    ul.TransportArrows
                      li.TransportArrows_item.TransportArrows_item-right
                        a(href="#route_0") Автобусы, маршрутки от ст. м. «Митино» до офиса                                                          
                      li.TransportArrows_item.TransportArrows_item-left
                        a(href="#route_1") От ж/д ст. «Тушино» до ж/д ст. «Опалиха»                                                             
                      li.TransportArrows_item.TransportArrows_item-right
                        a(href="#route_2") От Рижского вокзала до ж/д ст. «Опалиха»
                    
                    h6 На метро                             
                    p Ближайшие станции метро — Речной вокзал, Планерная, Ховрино. На станциях метро Ховрино и Селигерская устроены перехватывающие парковки с камерами видеонаблюдения.

                    h6 Координаты
                    //- Просто вставляй координаты в данном формате и оно само перейдет по клику по ним. 
                    span.Transport_mainCoords 55.956705, 37.449110
            .InfrasExternal_map#transportMap
            div(style="position: relative")
            .Message(style="display:none;")
                .Message_dialog.Message_dialog-v1
                    .Message_content
                        //- .Message_title.Message_title-redColor Маршрут с м. Митино
                        //- .Message_text
                            p Метро «Митино» → Пройти пешком 140 метров (2 минуты) → Остановка «м. Митино» → Автобус № 492 (16 минут в пути) → Остановка «Госпиталь» ул. Кирова → Автобус или маршрутное такси № 833/833к (5 минут в пути) → Остановка «Платформа Опалиха» → Пройти пешком 11 минут.
                    button.Message_closeBtn
                        <svg class="Message_closeCross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1.4 0l18.4 18.4-1.4 1.4L0 1.4z"/><path d="M19.8 1.4L1.4 19.8 0 18.4 18.4 0z"/></svg>
    +Panel_right('transport')
    #siteTourModal(style="display:none;")
block page_bottom
    include includes/chunks/transport_page_inline_script
    script(src="/js/transport.js")