html, body
    height 100%

body
    display flex
    flex-direction column
    font-family $FreeSet
    color $fontColor
    overflow-x hidden
main
  flex 1 0 auto
  display flex

.content
    width 100%

    &-promo
        position relative
    &-section
        @media $smMinus
            width calc(100% - 120px)
        @media $xs
            width 100%
.FullScreen
    .Panel-left
        position absolute
        top 85px
        bottom 0
    
    .content
        margin-left 85px
        @media $smMinus
            margin-left 0
    &-genplan
        @media $smMinus
            flex 1 1 auto
        .content
            margin-left 0
        .Panel-left
            position static

[data-section-num]
    pointer-events none