.hidden-xs
    @media $xs
        display none!important
.hidden-sm
    @media $sm
        display none!important
.hidden-md
    @media $md
        display none!important
        
.hidden
    display none!important

.scroll-lock
    overflow hidden

.full
    position absolute
    top 0
    left 0
    right 0
    bottom 0