-
    let banks = 
        [
            {
                "name": "Сбербанк",
                "logo": "./img/banks/sberbank.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "ВТБ24",
                "logo": "./img/banks/vtb.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "Металлинвест",
                "logo": "./img/banks/metallinvest.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "Россельхоз",
                "logo": "./img/banks/rossel.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "СМП",
                "logo": "./img/banks/smp.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "ВТБ24",
                "logo": "./img/banks/vtb.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "Сбербанк",
                "logo": "./img/banks/sberbank.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            }
        ]