head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="format-detection" content="telephone=no")
    title #{title} | Rafinad (dev)
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCWxj7vtc8t8crBp19U19khip1siOuUg0&region=RU")