include ../includes/mixins/index
doctype html
block vars
html(lang="ru")
    include ../includes/chunks/document_head.pug
    body
        #pagePreloader.Preloader.Preloader-active

        include ../includes/blocks/Header.pug

        main.FullScreen.FullScreen-genplan
            block content
            //- +Panel_left()
            //- .content
            //-     block content
            //- +Panel_right()


        include ../includes/blocks/FooterGenplan.pug
        include ../includes/blocks/Menu.pug

        include ../includes/blocks/ModalCallback.pug

        include ../includes/blocks/TurnScreenModal.pug

        script(src='/js/vendor.js')
        script(src='/js/common.js')

        block page_bottom