.AboutPage
    height 100%

    &_intro
        display flex
        height 757px
        border-bottom 1px solid $greyBorder
        @media $smMinus
            height 420px

        @media $xs
            height 320px

    &_introContent
        width 100%
        display flex
        flex-direction column

    &_head
        & .Page_headLeft
            padding-left 0

    &_introThumb
        width 100%
        height 100%
        position relative
        overflow hidden
    &_introThumbImg
        background-size cover
        background-position center
        background-repeat no-repeat
        height 100%
        width calc(100% - 402px)
        margin-left 402px
        @media $smMinus
            width calc(100% - 220px)
            margin-left 220px
        
        @media $xs
            width calc(100% - 66px)
            margin-left 66px

    &_introLeftWrap
        overflow hidden
        position absolute
        width 402px
        height 100%
        @media $smMinus
            width 220px
        
        @media $xs
            width 66px

        &:before
            content ''
            position absolute
            display block
            left 0
            right 0
            height 100%
            background-color #dbe0e1ed
            opacity 0.7
            z-index 4

    &_introThumbLeft
        background url('../img/content/thumb.jpg') left center/700% no-repeat
        width 100%
        height 100%
        filter blur(20px)

    &_introThumbDesc
        position absolute
        left 0
        top 0
        width 70%
        height 100%

        &-builder
            background url('../img/content/about-mask.svg') left/90% no-repeat
            z-index: 5
            @media $xs
                background-size 100%
        &-num
            font-size 360px
            color #ffffff
            font-family $Avenir
            font-weight bold
            display flex
            align-items center
            margin-left -30%
            z-index: 5
            @media $smMinus
                font-size 160px
                margin-left -25%

            @media $xs
                font-size 65px

    &_content
        display flex

    &_sectionList
        width 100%
        position relative

    &_contentLeft
        width 85px
        background-color $grey
        flex-shrink: 0
        @media $smMinus
            width 60px

        @media $xs
            width 40px

    &_contentRight
        width 85px
        background-color #fff
        flex-shrink: 0
        @media $smMinus
            width 60px
        
        @media $xs
            width 40px