.AboutProject

    & .AboutPage_contentLeft, .AboutPage_contentRight
        @media $xs
            display none

    &_thumbSection
        height 537px
        @media $smMinus
            height 278px

        &-reverse
            & .AboutPage_introThumb
                display flex
                flex-direction row-reverse

            & .AboutPage_introThumbLeft
                background-position right

            & .AboutPage_introThumbImg
                margin-right 402px
                margin-left 0
                @media $smMinus
                    margin-right 220px
                    margin-left 0
                
                @media $xs
                    margin-right 66px
                    margin-left 0

    &_teaser
        & .Teaser_title
            padding 76px 54px
            padding-bottom 30px
            border-bottom 1px solid $greyBorder
            @media $smMinus
                padding 55px 20px
                padding-bottom 30px

        & .Teaser_text
            padding 30px 50px
            padding-bottom 60px
            display flex
            flex-wrap wrap
            line-height 1.4
            justify-content space-between
            @media $smMinus
                padding 30px

            & p
                width 50%
                margin-bottom 20px
                padding-right 20px
                @media $smMinus
                    width 100%

        & .Teaser_left
            padding-top 76px
            &:after
                display none

        &-reverse
            flex-direction row-reverse
            background-color $grey

            & .Teaser_date
                background-color #fff
                color $fontColor
                text-align left

            & .Teaser_left
                align-items flex-end

            & .Teaser_right
                border-left none
                border-right 1px solid $DarkGreyBorder

            & .Teaser_title
                border-bottom-color $DarkGreyBorder