.AboutBuilder

    &_section
        padding 85px 0
        display flex
        // align-items center
        @media $smMinus
            align-items flex-start
            padding 60px 0

        @media $xs
            flex-direction column
            padding 0
            padding-top 40px
        
        &-reverse
            flex-direction row-reverse
            background $grey
            @media $xs
                flex-direction column

            & .AboutBuilder_sectionTitle
                border-bottom-color $DarkGreyBorder
                &:after
                    right initial
                    left 0

            & .AboutBuilder_sectionThumb
                &:before, &:after
                    background-color $DarkGreyBorder

            & .AboutBuilder_sectionTitle, .AboutBuilder_sectionText
                border-color $DarkGreyBorder

    &_sectionThumb
        width 50%
        min-height 465px
        background-size cover
        background-repeat no-repeat
        background-position center center
        position relative
        &:before, &:after
            content ''
            display block
            width 1px
            height 85px
            background-color $greyBorder
            position absolute
            left 402px
            @media $smMinus
                display none

        @media $smMinus
            min-height 300px

        @media $xs
            width 100%
            min-height 220px

        &:before
            top -85px
        
        &:after
            bottom -85px

    &_sectionContent
        width 50%
        margin-top 5%
        @media $xs
            width 100%
            padding-left 40px
            margin-top 0

    &_sectionTitle
        font-size 35px
        font-weight bold
        font-family $Avenir
        border-bottom 1px solid $greyBorder
        position relative
        &:after
            content ''
            display block
            width 15px
            height 15px
            background-color $fontColor
            position absolute
            right 0
            bottom -7px
            @media $smMinus
                width 10px
                height 10px
                bottom -5px

            @media $xs
                width 5px
                height 5px
                bottom -2.5px

        @media $smMinus
            font-size 25px

        @media $xs
            font-size 18px

    &_sectionText
        font-size 15px
        line-height 1.4
        @media $xs
            font-size 14px

    &_sectionText, &_sectionTitle
        padding 30px 50px
        @media $smMinus
            padding 20px 30px

        @media $xs
            padding 15px 10px
            border-left 1px solid $greyBorder

    &_sectionText
        @media $xs
            padding-bottom 30px

    &_option
        padding 0 50px
        @media $smMinus
            padding 0 30px
            padding-top 10px

        @media $xs
            padding 0 10px
            padding-top 10px
            border-left 1px solid $greyBorder
