.BankList
    &_plate
        border-top 1px solid $greyBorder

    &_tbl
        width 100%
        table-layout fixed
    &_tblBody-closed > &_row
        display none
    &_tblBody-closed > &_row-primary
        display table-row
    &_colHead,
    &_cell
        text-align center
        vertical-align middle
        @media $xs
            padding 15px 8px
        @media $sm
            padding 30px 10px
        @media $md
            padding 30px 10px
        &:first-child
            @media $smMinus
                width 25%

    &_row
        &:hover
            & .BankList_cell-send
                border-left-color $greyBorder
            & .BankList_send
                opacity 1
        
    &_cell
        &:first-child
            text-align left
            @media $xs
                padding-left 16px
            @media $sm
                padding-left 28px
            @media $md
                padding-left 48px
        &:last-child
            padding-right 0

        &-send
            border-left 1px solid transparent
            font-size 12px
            @media $smMinus
                display none
            
            
    &_colHead
        font-weight 400
        color #575759
        @media $xs
            font-size 10px
        @media $smPlus
            font-size 12px
    &_cell
        border-bottom 1px solid #ebebeb
        color $fontColor
        @media $xs
            font-size 12px
    &_logo
        max-width 100%
    &_bottomRow
        display flex
        justify-content center
        align-items center
        @media $xs
            height 65px
        @media $sm
            height 98px
        @media $md
            height 102px
    &_showMore
        color #859938
        display inline-block
        font-weight 500
        @media $smMinus
            font-size 14px
        @media $md
            font-size 15px
        &:hover
            color #859938
            text-decoration underline
        & > .SvgIco-angleDown
            transform scale(1.4)
            margin-left 10px
    &_footer
        @media $xs
            padding-left 16px
        @media $sm
            padding-left 26px
        @media $md
            padding-left 5px

    &_send
        opacity 0

    &_colHeadText
        display inline-flex
        align-items center
        &:after
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 4.2px 4px;
            border-color: transparent transparent #dbe0e1 transparent;
            margin-left: 7px;
            transform: rotate(134deg);
            display none

    &_colHead-send
        @media $smMinus
            display none