.BldNav
    @media $sm
        padding-top 10px
    @media $md
        padding-top 24px
    &_item,
    &_linksWrap
        display flex
        align-items center
    
    &_linksWrap
        width: 50px;
        justify-content: space-between;
    &_item
        width 100%
        border-bottom 1px solid #d9d9d9
        @media $xs
            padding 16px 0
        @media $sm
            padding 23px 0
        @media $md
            padding 23px 0
    &_label
        flex 1
        font-size 14px
        letter-spacing .1px
        color #3c3c43
        font-family Verdana, sans-serif
        @media $md
            font-size 15px
    &_arrow
        display inline-block
        cursor pointer
        position relative
        display flex
        align-items center
        height 100%
        align-self flex-end
        &:after
            content ''
            width 0
            height 0
            border-style: solid
            border-width 0 5px 6px 5px
            border-color transparent transparent $fontColor transparent
            transform rotate(133deg)
        
        &-prev
            align-self flex-start
            &:after
                transform rotate(-52deg)
        &-disabled
            pointer-events none
            
    &_currentVal
        font-size 15px
        font-weight 500
        color $fontColor
        font-weight bold
        pointer-events none
        width 26px
        text-align center
        padding 0
        border 0
        background none
        outline 0
        caret-color rgba(0, 0, 0, 0)