.BldScheme
    display block
    width 100%
    height auto
    margin 0 auto
    @media $xs
        width 100%
    &_link
        //opacity 0
        transition all .2s
        cursor pointer
        &-active
            //opacity .5