.Box
    width 100%
    margin-right auto
    margin-left auto
    @media $xs
        padding-right 16px
        padding-left 16px
    @media $sm
        max-width $smBoxWidth
    @media $md
        max-width $mdBoxWidth
    // @media (min-width 1440px)
    //     max-width 1240px
    &-smExtended
        @media $sm
            max-width 674px
    &-noPadding
        position relative
        max-width 100%
        @media $smMinus
            padding 0
    &-xsNoPadding
        @media $xs
            padding 0
    &-filtersPageTop
        @media $xs
            padding-top 118px
            padding-bottom 40px
        @media $sm
            padding-top 88px
        @media $md
            padding-top 23px
            