.Breadcrumbs
    padding 15px
    &_list
        display flex

    &_item
        font-size 12px
        @media $xs
            font-size 10px
        &:not(:last-of-type)
            margin-right 10px
            &:after
                content ''
                width 5px
                height 5px
                border-top 1px solid $greyBrown
                border-right 1px solid $greyBrown
                transform rotate(45deg)
                display inline-block
                vertical-align middle
                margin 0 5px
                @media $xs
                    width 4px
                    height 4px
        &-active
            & .Breadcrumbs_link
                color: $fontColor
    
    &_link
        color $greyBrown