.Btn
    display inline-block
    padding 18px 43px
    font-size 15px
    background-color $darkBrown
    color #fff
    position relative
    transition all 0.3s
    border none
    &:hover
        background-color lightness($darkBrown, 50)

    &-big
        padding-top 40px
        padding-bottom 40px
        @media $smMinus
            padding-top 20px
            padding-bottom 20px

    &-grey
        background-color $grey
        color $fontColor
        font-weight 500
        &:hover
            background-color darken($grey, 10)

.PanelBtn
    display flex
    justify-content center
    align-items center
    flex-direction column
    background-color #fff
    width 60px
    height 60px
    transition: 0.3s
    &_img
        position relative
        transition 0.4s
    
    &_text
        color #575759
        font-family $Avenir
        font-weight 600
        font-size 12px
        margin-top 10px
        text-align center
        @media $smMinus
            display none
    
    &-grey
        background-color $grey
        border-color #c0c6c7

        &:hover
            background-color #fff

.MoreBtn
    font-size 15px
    font-weight bold
    padding 5px 0
    display inline-flex
    align-items flex-end
    transition 0.2s
    &:after
        content ''
        width: 0;
        height: 0;
        margin-left 10px
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: $fontColor transparent transparent transparent;
        position relative
        transform rotate(-52deg)
        margin-bottom 2px
        transition 0.2s

    &:hover
        color $darkBrown

        &:after
            border-top-color $darkBrown
            transform rotate(-92deg) translateX(50%) translateY(6px) scale(1.2)

    &-small
        font-size 12px
        font-weight 500


.BtnZoom
    width 44px
    height 44px
    display flex
    background-color #fff
    justify-content center
    align-items center

    &:hover .BtnZoom_img
        transform rotate(180deg) scale(1.10)

    &_img
        transition transform 0.2s


.IconTriangle
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 6px 6px 6px;
		border-color: transparent transparent $fontColor transparent;

.BtnUp
    cursor pointer
    display inline-flex
    align-items center
    justify-content center
    background-color #fff

.TurnButton
    width 32px
    height 19px
    border-radius 10px
    background-color $fontColor
    display inline-block
    position relative

    &:after
        content ''
        display block
        width 13px
        height 13px
        border-radius 50%
        background-color #fff
        position absolute
        left 3px
        transform translate(0, -50%)
        top 50%