.BuildMap
    position relative
    height 100%
    
    &_marker
        position absolute
        width 38px
        height 38px
        background-color $fontColor
        display flex
        align-items center
        justify-content center
        border-radius 3px
        border 2px solid $greyBorder
        font-family $Avenir
        font-size 20px
        color #fff
        font-weight 700
        z-index 50
        &:before
            content ''
            width 0
            height 0
            position absolute
            border-style solid
            border-width 9px 3px 0 3px
            border-color $fontColor transparent transparent transparent
            transform translate(0, -50%)
            bottom -16px
            left 39%
        
        &-hover
            cursor pointer

            &:hover
                .BuildMap_markerDesc
                    opacity 1

        &-desc
            .BuildMap_markerDesc
                opacity 1

                
    &_markerDesc
        position absolute
        transform translate(0, -50%)
        top 50%
        left 35px
        background-color #fff
        padding 5px 10px
        font-size 12px
        color $fontColor
        min-width 108px
        font-weight 600
        white-space nowrap
        opacity 0
        transition opacity 0.2s


    &_pathMarker
        position absolute
        width 90px
        height 35px
        font-size 14px
        font-weight 600
        padding 5px
        color #fff
        display flex
        align-items center
        justify-content center
        font-family $Avenir
        letter-spacing 0.6pt
        z-index 48

    &_turn
        position absolute
        z-index 50
        font-size 20px
        font-weight bold
        font-family $Avenir
        color #fff

    
    &_pathMarkerText
        position absolute
        left 15px
        top 9px
        transform rotate(9deg)
    
    &_filter
        position absolute
        background-color #fff
        width 60px
        height 60px
        right 0
        top 0
        z-index 50
        display none
        @media $smMinus
            display flex
            align-items center
            justify-content center

    &_compass
        position absolute
        display flex
        justify-content center
        align-items center
        width 45px
        height 45px
        border-radius 50%
        background-color #fff
        right 25px
        top 25px
        z-index 60
        @media $xs
            width 35px
            height 35px

        @media $smMinus
            top 70px
            right 10px
        &-houses
            @media $smMinus
                top 10px
                right 10px
    
    &_compassImg
        display flex
        flex-direction column
        position relative
        &:before, &:after
            content ''
            width 0
            height 0
            border-style solid
        
        &:before
            border-width: 0 3.5px 14px 3.5px
            border-color: transparent transparent #e2574c transparent

        &:after
            border-width: 14px 3.5px 0 3.5px
            border-color: #4a90e2 transparent transparent transparent

.Genplan_poligonLink
        &:hover .SvgWrap_genplanPath
            fill #946947
        &-filtered
            & .SvgWrap_genplanPath
                fill #ffffff
                opacity 0.5



.Genplan_poligonLink-disable
    & .SvgWrap_genplanPath
            fill #ffffff
            pointer-events none