// .CardsList
//     &-offers
//         @media $md
//             display flex
//             flex-wrap wrap
//     &-flatPlans
//         display: flex;
//         flex-wrap: wrap;
//     &_groupTitle
//         font-weight 500
//         @media $xs
//             font-size 16px
//             padding 18px 0 8px
//         @media $smPlus
//             font-size 22px
//             padding 18px 6px 10px
//     &_groupList
//         @media $smPlus
//             display flex
//             flex-wrap wrap
//     &-forEstateCards
//         display grid
//         @media $sm
//             padding-top 20px
//             grid-template-columns 1fr 1fr
//             grid-column-gap 17px
//         @media $md
//             padding-top 48px
//             grid-template-columns 1fr 1fr 1fr
//             grid-column-gap 23px


.CardsList
    &_groupList
        display flex
        flex-wrap wrap

    &_groupTitle
        font-size: 22px
        padding: 18px 6px 10px
        font-weight 500
        padding 30px 15px
        @media $smMinus
            font-size 18px
            padding 14px

        @media $xs
            font-size 16px