.ColorLegend
    padding-top 28px
    border-top 1px solid $grey
    &_list
        list-style none
        padding 0
        margin 0
        display flex
        justify-content space-between
        flex-wrap wrap
    &_item
        display block
        position relative
        padding-left 31px
        padding-bottom 20px
        letter-spacing .1px
        font-size 12px
        line-height normal
        color #575759
        font-family Verdana, Arial, sans-serif
        display inline-block
        padding-right 40px
        width 33.3%
        @media $xs
            width 50%
    &_spot
        content ''
        display block
        position absolute
        top 0
        left 3px
        width 15px
        height 15px
        border 1px solid $grey
        background-color val()

    &_list-tight > &_item
        padding 0 14px 11px 26px

    &_list-tight > &_item > &_spot
        width 13px
        height 13px
        top 2px