.contacts
  position absolute
  left 0
  top 0
  width 100%
  height 100%

  &_map
    width 100%
    height 100%
    display block

  &_accordion
    width 100%
    position absolute
    top 0
    right 0
    max-width 570px

    @media $smMinus
      right 60px
      max-width 500px
    
    @media $xs
      left 0
      right 60px
      max-width 100%
      width auto

  &_mobilePanel
    position absolute
    right 0
    top 0
    z-index 10
    display none
    width 60px
    @media $smMinus
      display flex
      flex-direction column

  &_accordionLabel
    margin-bottom 0
    background-color $fontColor
    color #fff
    font-weight bold
    font-size 15px
    padding 0 25px
    height 85px
    display flex
    align-items center
    outline 0
    transition background-color .3s ease
    display none
    &-visible
      display flex
    &:last-of-type
      border-bottom none
    @media $sm
      font-size 18px
    @media $md
      font-size 20px
    @media $smMinus
      height 60px

  &_accordionContent
    padding 28px 10px 20px 30px
    background #fff
    font-size 14px
    display none
    &-visible
      display flex

    @media $smPlus
      padding 22px 20px 22px 40px
    @media $md
      font-size 15px

  &_accordionContentWrp
    position relative
    height 210px
    padding-right 30px
    line-height 1.6
    @media $xs
      height 300px

    &:hover
      .ps__rail-y,
      .ps__thumb-y
        opacity 1

    .ps__rail-y
      right 10px
      background rgba(152, 147, 192, .3)
      width 1px
      height 90%
      opacity 1
      &:hover
        background-color rgba(152, 147, 192, .3)
        opacity 1
        .ps__thumb-y
          background-color rgba(152, 147, 192, 1)
          width 14px

    .ps__thumb-y
      width 14px
      height 14px !important
      background-color $fontColor
      border-radius: 0
      padding 5px
      right -6px
      z-index 3
      margin-top 5px

  &_address
    margin-bottom 30px
    span
      font-weight 600
    p
      margin-bottom 0