.CustomCheckbox
    user-select none
    width 25%
    &_input
        opacity 0
        position absolute
        pointer-events none
    &_view
        @extend $flexCentered
        background #fff
        border 1px solid $greyBorder
        width 100%
        height 40px
        overflow hidden
        font-size 14px
        font-weight 500
        text-align center
        cursor pointer
        transition all .1s
    &_input:checked + &_view
        border-color $fontColor
        border-width 2px

/*  &_input:not(:checked).error+&_view
        border-color: #d07b7b*/