.Dialog
    filter drop-shadow(0 4px 10px rgba(0, 0, 0, .12))
    color #251914
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    font-family 'FreeSet'
    &_head
        padding 20px
        color #fff
        background #1c355e
        font-size 18px
        font-weight bold
        position relative
    &_content
        padding 20px
        background #fff
    &_dl
        display flex
        flex-wrap wrap
        margin-bottom 0
    &_dt
        font-size 14px
        font-weight 400
        width 45%
        padding-top 6px
    &_dd
        text-align right
        font-size 14px
        font-weight bold
        margin-bottom 0
        padding-bottom 15px
        width 55%
    &_btnWrap
        text-align center
        padding-top 18px
    &_closeBtn
        position absolute
        width 38px
        height 38px
        border-radius 50% !important
        display block
        background #c43f60 url(/img/close.svg) center no-repeat
        background-size 40% 40%
        border 3px solid #f8fafd
        overflow hidden
        color #c43f60
        right -16px
        top -16px
    &_num
        font-size 16px
        font-weight bold
        margin-bottom 15px