.Documents
    display flex
    flex-direction: column
    justify-content: flex-start
    & .Page_pagination
        flex-grow 1
    & .Teaser_left
        padding-top 0

    & .Teaser_date
        border-bottom 1px solid $DarkGreyBorder

    & .Teaser_month
        @media $smMinus
            display none

    & .Teaser_hours:after
        @media $smMinus
            display none

    &_name
        font-size 35px
        font-weight bold
        font-family $Avenir
        padding 21px 44px
        display flex
        justify-content space-between
        align-items center
        cursor pointer

        &:hover
            .Documents_arrows
                &:before, &:after
                    border-bottom-color: $fontColor

        @media $smMinus
            padding 14px 30px
            font-size 25px

        @media $xs
            font-size 18px
            padding 18px 10px
            padding-right 20px

        &-active .Documents_arrows
            &:before
                transform rotate(-228deg)
            
            &:after
                transform rotate(-51deg)


    &_arrows
        position relative
        margin-left 15px
        &:before
            content ''
            width 0
            height 0
            border-style solid
            border-width 0 4px 4.2px 4px
            border-color transparent transparent $grey transparent
            position absolute
            top -5px
            left -5px
            transform rotate(-48deg)
            transition 0.3s

        &:after
            content ''
            width 0
            height 0
            border-style solid
            border-width 0 4px 4.2px 4px
            border-color transparent transparent $grey transparent
            position absolute
            transform rotate(133deg)
            transition 0.3s

    
    &_item
        display flex
        justify-content space-between
        &:not(:last-of-type)
            border-bottom 1px solid $greyBorder
        &:first-child
            border-top 1px solid $greyBorder
            border-bottom 1px solid $greyBorder

        @media $xs
            flex-direction column
    
    &_text
        padding 22px 44px
        font-family $Avenir
        @media $smMinus
            padding 10px 30px

        @media $xs
            padding 18px 10px
            position relative
            padding-right 10px
            cursor pointer
            &:before
                content ''
                display block
                width 0
                height 0
                border-style solid
                border-width 0 4px 4.2px 4px
                border-color transparent transparent $grey transparent
                position absolute
                transform translate(0, -50%) rotate(133deg)
                right 15px
                top 50%


    
    &_type
        margin-bottom 14px
        @media $smMinus
            margin-bottom 10px
    
    &_typeDesc
        font-size 12px
        color #a1a6aa
        @media $xs
            font-size 10px

    &_file
        width 85px
        height 100%
        border-left 1px solid $greyBorder
        display inline-flex
        justify-content center
        align-items center
        transition 0.2s
        @media $smMinus
            width 59px

        &:hover .Documents_fileIcon
            transform rotate(360deg)

    &_files
        @media $xs
            display none

        &-xs
            @media $xs
                display flex
                margin-left 15px
                height 100%

    &_fileIcon
        position relative
        transition 0.3s

    &_xsDownload
        display none
        @media $xs
            display flex
            align-items center
            justify-content flex-end
            padding-left 0px
            height 60px
            border-top 1px solid $greyBorder
            border-bottom 1px solid $greyBorder
            font-size 14px

    &_xsDownloadUp
        position relative
        width 50px
        height 100%
        margin-right auto
        &:before
            content ''
            display block
            position absolute
            transform translate(50%, -50%) rotate(-52deg)
            top 50%
            left 50%
            width 0
            height 0
            border-style solid
            border-width 0 4px 4.2px 4px
            border-color transparent transparent $grey transparent