.Error
    min-height 100%
    display flex
    justify-content center
    align-items center
    padding 1% 0

    &_block
        max-width 581px
        width 90%
        text-align center
    
    &_message
        font-family $Avenir

    &_messageTitle
        font-size 55px
        font-weight 700
        margin-bottom 10px
        @media $xs
            font-size 35px
    
    &_messageDesc
        font-size 35px
        font-weight 600
        @media $xs
            font-size 25px

    &_type
        width 100%
        margin 35px 0

        & .ErrorSvg
            width 100%

    &_desc
        font-size 15px
        margin-bottom 10px
        @media $xs
            font-size 14px
    
    &_phone
        display block
        text-align center
        font-weight 700
        font-family $Avenir
        font-size 25px
        margin-bottom 20px
        @media $xs
            font-size 18px
        &:hover
            color $darkBrown