.fancybox-container
    font-family inherit
.fancybox-slide--inline
    padding 0 16px
    overflow-x hidden
    overflow-y auto
    & > *
        padding 0
        overflow unset
.fancybox-bg
    background-color #000

.fancybox-is-open .fancybox-bg
    opacity .8
    
.fancybox-close-small
    top -36px
    right -36px
    width 74px
    height 74px
    background url(/img/modal_close.svg) center no-repeat
    background-size contain
    @media $xs
        top -20px
        right -20px
        width 54px
        height 54px
    @media $smPlus
        top -36px
        right -36px
        width 74px
        height 74px
    @media all and (-ms-high-contrast:none)
        // IE11 only
        top 0
        right 0
        width 40px
        height 40px

.fancybox-close-small:after
    content none
    
.fancybox-slide--video > .fancybox-content
    position relative
    height unset
    max-height unset
    &:after
        content ""
        display block
        padding 56.25% 0 0
    & > iframe,
    & > video
        position absolute
        top 0
        bottom 0
        left 0
        right 0