.FilterForm
    height calc(100vh - 170px)
    position relative
    @media $xs
        padding 32px 26px 0 32px
    @media $sm
        padding 25px 23px 0 46px
    @media $md
        padding 10px 30px 0 47px
    &_item
        padding-bottom 26px
    &_label
        padding-bottom 18px
        color #575759
        font-family $Avenir
        font-weight bold
        font-size 14px
        &-accord
            & .FilterForm_groupToggler
                background none
                border none
                outline none
                color #575759
                font-family $Avenir
                font-weight bold
                display flex
                justify-content space-between
                align-items center
                width 100%

            & .SvgIco.SvgIco-angleDown
                color #575759
                transition: 0.3s
                transform rotate(180deg)
        &-accordActive
            & .SvgIco.SvgIco-angleDown
                transform rotate(0deg)
    &_checkboxesRow
        display flex
        align-items center
    &_chksGroup
        display flex
        flex-wrap wrap

        & .CustomCheckbox
            min-width 33.33%
            flex-grow 0.5
    &_groupHead
        text-align center
        padding-right 24px
        color #c63f61
        padding-bottom 22px
        font-size 14px
        font-weight 500
        margin 0 auto
        @media $md
            font-size 15px

    &_chksOtherGroup
        display flex
        flex-direction: column

        & .CustomCheckbox
            max-width 100%
            width 100%

    &_controls
        display flex

    &_btn
        padding 30px
        width 100%
        @media $smMinus
            width 50%
            height 60px
            padding 0 30px
        &-search
            display none
            @media $smMinus
                display block
        &-genplan
            height 60px
            display flex
            align-items center
            justify-content center
            padding 0
            font-family 'AvenirNext'
            font-weight 600
            margin 0 30px
            @media $smMinus
              width 100%

    &-genplan
        padding 10px 30px 0 30px