.FilterSidebar

    &_zones
        padding 20px 28px
        padding-bottom 90px

    &_zone
        margin-bottom 30px

    &_zoneTitle
        color #8f3149
        font-size 20px
        margin-bottom 30px
        @media $xs
            font-size 18px

        &-slide
            display flex
            justify-content space-between
            align-items center
            cursor pointer
            &:after
                content: '';
                display block
                width 10px
                height 10px
                background url('../img/angle.svg') center/contain no-repeat
                margin-right 10px
                position relative
                transform rotate(-90deg)
                transition rotate 0.2s

        &-slideToggle
            &:after
                transform rotate(90deg)


    &_zoneItem
        cursor pointer
        &:not(:last-of-type)
            margin-bottom 15px
        &-active
            .FilterSidebar_zoneCheckPic
                background-color #859938
                & svg path, svg circle
                    fill #fff

    &_zoneLabel
        display flex
        justify-content space-between
        align-items center

    &_zoneName
        font-size 15px
        margin-right 10px
        @media $xs
            font-size 13px

    &_zoneCheckPic
        width 38px
        height 38px
        background-color #efeef5
        border-radius: 50%
        display flex
        justify-content center
        align-items center
        flex-shrink 0
        & svg path, svg circle
            fill #919196
    