.FilterPage
    position relative
    height 100%
    display flex

    &_content
        width 100%
        position relative
        background-color #fff
        border-right 1px solid #c0c6c7

    &_overlay
        display none
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        background-color #000000
        opacity 0
        z-index 100
        transition opacity 0.2s
        &-active
            opacity 0.7
            display block

    &_flatParamsContent
        width 100%
        min-height 100%

    &_flatParamsTop
        padding 30px 35px
        display flex
        justify-content space-between
        align-items center
        border-bottom:  1px solid #eeeef0

    &_flatParamsTopLink
        margin-left 10px
        color $darkBrown
        text-decoration underline

        &-active
            position relative
            margin-left 60px
            & .TurnButton
                display block
                position absolute
                left -40px
                top 3px

        &-grey
            color #575759

        &:hover
            text-decoration none

    &_flatParamsList
        // padding-top 20px

    &_flatParamsLinkMore
        margin 0 auto
        display block
        margin-top 50px
        color #575759
        width 200px
        text-align center
        margin-bottom 40px
        text-decoration underline
        padding 10px 0

        @media $xs
            margin-top 15px

        &:hover
            text-decoration none
