.FilterSidebar
    height calc(100vh - 60px)
    background: #fff
    position sticky
    top: 0
    border-right 1px solid $greyBorder
    user-select none
    transition all .3s
    justify-content space-between
    flex-direction column
    z-index 290
    @media $smMinus
        display flex
    @media $xs
        width calc(100% + 61px)
        height calc(100vh - 60px)
    @media $sm
        width 362px
    @media $md
        width 393px

    @media $smMinus
        transform translateX(-200%)
        position absolute
        top 0
        left -60px
        bottom 0

    &-active
        transform translateX(0)
        display inline-flex
    &_grip
        position absolute
        right -31px
        display block
        height 354px
        width 47px
        background url('/img/filter_sidepane.svg') center no-repeat
        top 50%
        margin-top -152px
        text-align center
        cursor pointer
        z-index 1
    &_gripText
        transform translate(-54%, -50%) rotate(-90deg)
        position absolute
        top 50%
        left 50%
        white-space nowrap
        font-weight 500
        font-size 14px
        color #c63f61
        & > .SvgIco-angleDown
            width 19px
            height auto
            margin-left 8px
            transition all .2s

    &-active > &_grip > &_gripText > .SvgIco-angleDown
        transform scaleY(-1)
        
    &_top
        display flex
        align-items flex-end
        flex-shrink 0
        @media $xs
            padding 12px 0 12px 7%

    &_logo
        visibility hidden
        /*background url('/img/logo.svg') center no-repeat*/
        @media $xs
            flex 29
            background-size contain
            &:after
                content ''
                display block
                padding-top 132%
        @media $sm
            width 156px
            height 170px
            background-size 60%
        @media $md
            width 177px
            height 194px
            background-size 60%
        
    &_resetBtnWrap
        @media $xs
            padding-bottom 3px
            flex 73
        @media $sm
            padding-bottom 6px
            text-align center
            flex 71
        @media $md
            padding-bottom 3px
            text-align center
            flex 67

    &_close
        position absolute
        right -60px
        top 0
        display none
        border-bottom 1px solid $greyBorder
        @media $xs
            display inline-flex

        & .IconTriangle
            transform rotate(-45deg)
    &_scroll
        overflow-x hidden
        flex 1
        @media $smMinus
            height 80%
            flex: none
    & + .StickyBtn-settings
        z-index 290

    &-genplan
        width 303px
        top 0
        left 0
        position absolute
        height calc(100vh - 85px)
        @media $smMinus
            height calc(100vh - 60px)
            justify-content flex-start
        &.FilterSidebar-active
            transform translateX(-60px)
            @media $xs
              transform translateX(0)
        & .FilterSidebar_close
            display none
        @media $xs
            width 260px



.FilterSidebar_scroll
    & > .ps__rail-y
        right auto
        opacity 1 !important
        left 11px
        width 5px !important
        background linear-gradient(90deg, transparent, transparent, #dcdcdc, transparent, transparent) center no-repeat!important
        transform scaleY(.92)
        & > .ps__thumb-y
            width 100% !important
            right 0
            background #dcdcdc
            border-radius 2px
            opacity 1 !important