.FlatCard
    background #fff
    display block
    border-right 1px solid $grey
    border-bottom 1px solid $grey
    border-top 1px solid $grey
    position relative
    @media $sm
        width 50%
    @media $md
        position relative
        overflow hidden
        width 33.3333%
        max-width 33.33333%
    @media $xs
        width 100%
    &:nth-child(2n)
        @media $sm
            margin-right 0
    &:nth-child(3n)
        @media $md
            margin-right 0
    &_head
        color $fontColor
        font-family $Avenir
        font-weight 500
        @media $xs
            padding 13px 18px 0
            font-size 14px
        @media $smPlus
            padding 10px 18px 0
    &_schemeWrap
        position relative
        margin-bottom: 95px
        &:before
            content ''
            display block
            @media $xs
                padding-top 56%
            @media $sm
                padding-top 55%
            @media $md
                padding-top calc(44% + 74px)
    &_scheme
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        object-fit contain
        @media $md
            transition all .3s
            will-change height
            transform translateZ(0)
    &_paramsWrap
        background $grey
        position: absolute;
        bottom: 0;
        width: 100%;
        padding 16px 0
        @media $md
            height 74px
            transform-origin bottom
            transition all .3s
            position absolute
            width 100%
            bottom 0
    &:hover > &_content > &_paramsWrap
        @media $md
            transform translateY(0)
    &:hover > &_content > &_schemeWrap > &_scheme
        @media $md
            height calc(100% - 34px)
    &_paramsTbl
        color #fff
        width 100%
    &_paramsCell
        text-align center
        line-height 1
        padding-top 4px
    &_paramsVal
        font-size 15px
        font-weight 600
        color #1c355e
    &_paramsLabel
        color $fontColor
        font-size 12px
        font-weight 300
        @media $xs
            font-size 10px
    &_leafLine
        background #fff
        border-top 2px solid #859938
        border-bottom 1px solid #fff
        position absolute
        top 0
        width 100%
        pointer-events none
        &:after
            content ''
            z-index 10
            position absolute
            width 30px
            height 25px
            top 50%
            margin-top -13px
            background url('/img/leafs.svg') center right -5px no-repeat
            right 0
    // START: promo card
    &-promo
        display block
        background #1c355e
        color #fff
        position relative
        border 30px solid $grey
        padding 30px 25px
        padding-bottom 40px
        @media $smMinus
            border-width 15px
        @media $xs
            border none
            padding 20px 15px
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            display block
            opacity .5
            background-size auto 76%
            pointer-events none
    &_promoInner
        position relative
        z-index 10
    &_discountVal
        font-size 50px
        font-family $Avenir
        font-weight bold
        padding-bottom 16px
        @media $xs
            font-size 25px

    &_promoHead
        font-size 35px
        font-family $Avenir
        font-weight bold
        @media $xs
            margin-bottom 10px
            font-size 18px
        @media $sm
            margin-bottom 6px
        @media $md
            margin-bottom 10px
    &_promoText
        line-height 24px
        font-weight 500
        @media $smMinus
            font-size 14px
            margin-bottom 28px
        @media $md
            font-size 15px
            margin-bottom 36px

    &_headName
        font-weight bold

    &_promoBtn
        position absolute
        bottom 10px
        right 20px
        @media $xs
            font-size 12px
        &:after
            border-top-color #fff
            border-width 6.5px 7px 0 5px
            @media $xs
                border-width 3px 3px 0 2px

        &:hover
            color: #fff
            &:after
                border-top-color #fff
            
    // END: promo card