.FlatSingle
  margin-bottom 50px
  @media $xs
    padding-top 50px

  &_plan, &_info
    display block
    @media $md
      display inline-block
      max-width 48%
      width 48%
      vertical-align top

  &_planThumb
    margin-bottom 30px
    position relative
    .swiper-container
      padding-bottom 1px
      @media $sm
        width 70%
      @media $md
        width 85%
    
    .swiper-wrapper
      box-sizing: border-box !important
  
  &_slider
    height 428px
    @media $xs
      height 280px

  &_additionalPanel
    padding 20px 0

  &_compass
    display flex
    justify-content center
    align-items center
    width 85px
    height 85px
  
  &_compassImg
    display flex
    flex-direction column
    position relative
    &:before, &:after
      content ''
      width 0
      height 0
      border-style solid
    
    &:before
      border-width: 0 7px 28px 7px
      border-color: transparent transparent #e2574c transparent

    &:after
      border-width: 28px 7px 0 7px
      border-color: #4a90e2 transparent transparent transparent

  &_planThumbBtn
    position absolute
    z-index 2
    top 50%
    transform translateY(-50%)
    height 18px
    cursor pointer
    width 18px

    &-prev
      left 0
      &:before
        content ''
        display block
        width 0
        height 0
        border-style solid
        border-width 0 4.5px 5px 4.5px
        border-color transparent transparent $fontColor transparent
        transform rotate(-45deg)
    &-next
      right 0
      &:after
        content ''
        display block
        width 0
        height 0
        border-style solid
        border-width 0 4.5px 5px 4.5px
        border-color transparent transparent $fontColor transparent
        transform rotate(137deg)
        position absolute
        bottom 3px
    @media $smPlus
      display block

  &_planThumbItem
    font-size 15px
    color #9e9e9e
    transition color .3s ease
    padding 13px 16px
    cursor pointer
    width auto
    text-align center
    &-active
      font-weight bold
      color $fontColor

  &_slider
    .swiper-slide-active
      .FlatSingle_slide
        opacity 1
    &-singleImg
      .FlatSingle_slide
        opacity 1
  &_slide
    display block
    width 100%
    max-width 100%
    height 100%
    background-color #dbe0e1
    opacity 0
    transition opacity .9s ease
    margin 0 auto
    position relative
    display flex
    align-items center
    justify-content center

  &_slideImg
    width 70%
    height 70%
    background-position center
    background-size contain
    background-repeat no-repeat

  &_preview
    margin-top 40px
    margin-bottom 79px
    position relative
    @media $xs
        margin-left -16px
        margin-right -16px
    .swiper-container
      width 70%
      @media $sm
        width 70%
      @media $md
        width 70%
      @media $xs
        width 60%
  
  &_location
    display flex
    padding 0 20px
    margin-top 30px
  
  &_compass
    width 80px
    height 80px
    margin-right 30px
    transform-origin: center
  
  &_compassImg
    width 100%

  &_buildLayout
    width 140px
    position relative
    & svg
      width 100%
  
  &_infrastruct
    width 20px
    height 20px
    position absolute
    background-position center center
    background-repeat no-repeat
    background-size contain
    right -10px
    cursor help
    &-school
      background-image url('../img/genplan/school.svg')
      top 60%
    &-kinder
      background-image url('../img/genplan/kindergarten.svg')
      top 30%
  
  &_metro
      text-transform uppercase
      font-size 12px

      &:after
        content: '→'
        margin-left 10px
        font-size 14px

  &_previewTitle
    margin-bottom 22px
    color #575759
    font-size 15px
    @media $sm
      margin-bottom 26px
    @media $md
      margin-bottom 30px

    @media $xs
      padding-left 16px

  &_previewBtn
    position absolute
    top 67%
    transform translateY(-50%)
    width 15%
    height 85px
    z-index 2
    cursor pointer
    background $grey
    @media (min-width 450px)
      top 65%
    @media $smPlus
      top 67%
      width 15%
      height 85px
    @media $md
      top 67%
    @media $xs
        width 20%
        height 60px
        top 69%
    &.swiper-button-disabled
      filter opacity(50%)
      pointer-events none

    &:after
      content ''
      display block
      width 0
      height 0
      border-style solid
      border-width 0 4.5px 5px 4.5px
      border-color transparent transparent #fff transparent
      position absolute
      top 50%
      left 50%
      @media $xs
        border-bottom-color $fontColor

    &-prev
      left 0
      &:after
        transform rotate(-45deg) translate(50%, -50%)

    &-next
      right 0
      &:after
        transform rotate(137deg) translate(50%, -50%)

  &_previewItem
    background no-repeat center / cover
    position relative
    height 85px
    width 100%
    cursor pointer
    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba(255, 255, 255, .4)
    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      background url("/img/ui/zoom_black.svg") no-repeat center / contain
      opacity .2
      height 18px
      width 18px
      z-index 3
    @media $sm
      height 85px
      // width 161px
      padding-bottom 0
      margin-right 0
    @media $md
      padding-bottom 0
      height 85px
      // width 115px
      margin-right 0

    @media $xs
      height 60px

  &_info
    padding 20px 0
    @media $sm
      padding 25px 0
    @media $md
      padding 77px 0px 0 28px
      max-width 51%

  &_desc
    padding 35px 0 15px
    @media $smPlus
      display flex
      flex-wrap wrap
      justify-content space-between
      padding-bottom 25px
    @media $md
      padding 40px 0
  &_descItem
    display flex
    max-width 100%
    flex-basis 100%
    align-items center
    justify-content space-between
    margin-bottom 23px
    color #575759
    font-size 14px
    & > .SvgIco-checkBold
      color #859938
      margin-left 10px
    @media $smPlus
      max-width 33%
      flex-basis 50%
      font-size 14px
      justify-content center
  &_footage
    padding-top 96px
    @media $xs
      margin-right -16px
      margin-left -16px
    @media $md
      display none
  &_prices
    position relative
  &_oldPrice
    position absolute
    font-size 12px
    font-weight 500
    letter-spacing .1px
    top 100%
    text-decoration none
    margin-top -3px
    &:after
      content ""
      position absolute
      left -1px
      right -1px
      top 50%
      height 2px
      margin-top -1px
      background #c63f61
  &_newPrice
    color #c63f61
    text-decoration none

  &_btn
    @media $xs
      width 100%
      text-align center

  &_slideCompass
    display flex
    justify-content center
    align-items center
    width 45px
    height 45px
    border-radius 50%
    background-color #fff
    position absolute
    right 5%
    top 5%

    @media $xs
      width 35px
      height 35px
  
  &_slideCompassImg
    display flex
    flex-direction column
    position relative
    &:before, &:after
      content ''
      width 0
      height 0
      border-style solid
    
    &:before
      border-width: 0 3.5px 14px 3.5px
      border-color: transparent transparent #e2574c transparent

    &:after
      border-width: 14px 3.5px 0 3.5px
      border-color: #4a90e2 transparent transparent transparent

  
  &_buildScheme
    margin-top 60px
    position relative
    @media $smMinus
      margin-top 20px
  
  &_buildSchemeImg
    & svg
      max-width 243px

      @media $xs
        max-width 100%
        width 100%

  &_directions
    position absolute
    right 0
    top 20px

    @media $xs
      position static
      margin-bottom 25px
      display flex
      flex-wrap wrap

  &_directItem
    margin-bottom 10px
    color #575759
    font-size 14px
    padding-left 20px
    font-family $Avenir
    position relative

    @media $xs
      width 50%
      padding-right 10px
    &:before
      content ''
      display block
      position absolute
      left 0
      top 0px
      width 13px
      height 13px
      border-radius 2px

    &-firstOrder
      &:before
        background-color #fff
        border 2px solid #C5C5C5
    &-secondOrder
      &:before
        background-color #fff
        border 2px solid #F7F7F7
    &-sale
      &:before
        background-color #efede7
    &-unsale
      &:before
        background-color #e8e8e8

