.Footer
    flex-shrink 0
    background-color $grey
    height 85px
    display flex
    justify-content space-between
    padding-left 87px
    @media $smMinus
        height 60px
        padding-left 0

    &_copyright
        padding 0 20px
        font-size 13px
        font-weight 300
        display flex
        justify-content center
        align-items center
        @media $smMinus
            display none
        &-houses
            @media $smMinus
                display flex
    
    &_social
        display flex

    &_city
        height 100%
        margin-right auto
        display inline-flex
        align-items center
        margin-left 20px

        @media $smMinus
            display none

    &_socialItem
        width 60px
        height 100%
        justify-content center
        align-items center
        background-color #fff
        border-left 1px solid $greyBorder
        border-top 1px solid $greyBorder
        display none
        @media $smMinus
            display flex

    
    &_sites
        display flex
    
    &_sitesItem
        height 100%
        display flex
        justify-content center
        align-items center
        width 86px
        border-left 1px solid $DarkGreyBorder
        border-top 1px solid $DarkGreyBorder
        transition background-color 0.2s
        @media $smMinus
            width 60px
        &:hover
            background-color #fff

        &-hiddenSm
            @media $smMinus
                display none

    &_cityMini
        display none
        @media $smMinus
            display flex

    &_toUp
        height 100%
        border-right 1px solid $greyBorder
        margin-right auto
        width 86px
        transition background-color 0.2s
        @media $smMinus
            display none
        &:hover
            background-color $grey


    &-Scroll
        background-color #fff
        padding-left 0
        
        & .Footer_sitesItem
            border-color $greyBorder
            border-top-color transparent
            transition background-color 0.2s
            &:hover
                background-color $grey

        & .Footer_copyright
            background-color $grey
            width 402px
            @media $smMinus
                display flex
                padding 10px
            @media $xs
                font-size 10px

        
        & .Footer_toUp
            margin-right 0


    &-houses
        padding-left 303px
        justify-content flex-start
        &:before
            @media $smMinus
              content '';
              width 60px
              background #fff
              display block
            @media $xs
                display none
        @media $smMinus
            padding-left 0
        & .Footer_sites
            margin-left auto