.gallery
  @media $xs
    padding 0 16px
  @media $smPlus
    padding 0
  &__item
    width 290px
    position relative
    display flex
    flex-direction column
    justify-content space-between
    padding-bottom 20px
    a
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 2

  &__img
    background no-repeat center / cover
    flex-grow 1
    @media $sm
      height 294px
    @media $md
      height 272px

  &__bottom
    padding 23px 30px
    background #fff
    font-size 15px
    color $fontColor
    font-family $Avenir
    display flex
    justify-content space-between
    opacity 0
    transition .3s
    @media $smPlus
      font-size 15px
    @media $xs
      padding 12px
      font-size 12px
  
  &__photos
    color $grey
    font-weight bold

  &__title
    font-weight 500
    color #575759
    text-decoration none
    float left

  &__count
    color #717171

  &__btn
    background #fff
    position absolute
    top 40%
    transform translateY(-50%)
    width 44px
    height 44px
    z-index 2
    cursor pointer

    &--prev
      left 0
      & .IconTriangle
        transform rotate(-45deg)
      @media $sm
        left 12px
      @media $md
        left 31%

    &--next
      right 0
      & .IconTriangle
        transform rotate(135deg)
        margin-top 5px
      @media $sm
        right 12px
      @media $md
        right 31%

    @media $smPlus
      width 44px
      height 44px
    &.swiper-button-disabled
      opacity .5
      transition opacity .5s ease
      cursor default

  &--detail
    .swiper-wrapper
      align-items center
      .swiper-slide-active
          height 360px
          & .gallery__bottom
              opacity 1

          & .gallery_bottomInfo
              opacity 1
      @media $md
        height 621px
        .swiper-slide
          height 340px
        .swiper-slide-active
          height 360px
          & .gallery__bottom
              opacity 1
  &--detail &
    &__item
      padding 0
      position relative
      width 548px
      height 360px
      @media $md
        transition height .8s cubic-bezier(.4, 0, 1, 1)
      @media $smMinus
        margin-top 5%
        transition margin 0.4s
      
      @media $xs
        width 100%
        margin 0 auto
        height 200px
      &.swiper-slide-active
        .gallery__nav
          opacity 1
        @media $smMinus
          margin-top 0
        @media $xs
          height 200px

    &__img
      height 100%
      position relative
    &__btn
      top 55%
      display flex
      align-items center
      justify-content center
      // @media $md
      //   top 55%
      &--prev
        left calc(50% - 318px)
        @media $xs
          left 0
      &--next
        right inherit
        left calc(50% + 274px)
        @media $xs
          left initial
          right 0
    &__nav
      position absolute
      right 0
      top -52px
      z-index 3
      opacity 0
      transition opacity .8s ease-in-out
      @media $smPlus
        top 0
        background #fff
    &__fullscr
      float left
      svg
        height 18px
        width 18px
    &__close
      position relative
      float right
      display block
      svg
        height 14px
        width 14px
      @media $smPlus
        &:after
          content ''
          position absolute
          bottom 0
          left 0
          right 0
          background #575759
          opacity .5
          height 1px
          width 70%
          margin 0 auto
    &__close, &__fullscr
      width 52px
      height 52px
      cursor pointer
      position relative
      svg
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin auto
      @media $smPlus
        float none

    &__full
      position absolute
      bottom 0
      right 0
      left auto
      top auto

    &_info
      position absolute
      right 0
      bottom 0
      width 334px
      background-color #fff
      padding 20px
      padding-right 65px
      font-size 15px
      @media $smMinus
        left 0
        right 0
        width auto
        font-size 12px
        padding 15px
        padding-right 65px
    
    &_infoIcon
      background-color #ffebcb
      font-size 18px
      cursor pointer
      position absolute
      bottom 0
      right 0
      z-index 4
      width 44px
      height 44px

    &_infoRow
      display flex
      margin-bottom 10px

    &_infoDesc
      width 70%
    
    &_infoName
      width 30%
      padding-right 10px

    &_bottomInfo
      padding-top 30px
      font-size 15px
      text-align center
      opacity 0

.gallery-count
  position absolute
  right 100px
  top 2px
  font-size 12px
  color $fontColor
  @media $xs
    position absolute
    right 35px
    top 2px

.gallery-fancybox
  .fancybox-infobar
    color #fff
    font-size 14px
  .fancybox-bg
    background #232323
    opacity .9
    @media $sm
      background #080808