.GalleryPage
    background-color $grey
    @media $xs
        display flex
        flex-direction column
        justify-content space-between
    &_head
        min-height 400px
        @media $xs
            height 30vh
            min-height auto

    &_block
        height 300px
        background-color $grey
        @media $xs
            flex-grow 1
            height 60vh

    &_slider
        position absolute
        width 100%
        overflow hidden
        margin-top -388px
        padding-top 30px
        @media $smMinus
            margin-top -300px
        @media $xs
            margin-top -15%

    &_selects
        position absolute
        right 100px
        top 0
        display flex
        @media $smMinus
            right 5px
            top -5px

        & .ui-selectmenu-button, .ui-menu-item-wrapper
            flex-shrink 0
            width 130px
            &:first-of-type
                width 100px

    &-inner
        @media $md
            .gallery--detail .swiper-wrapper .swiper-slide
                width 981px
                height 563px

            .gallery--detail .swiper-wrapper .swiper-slide-active
                height 622px

            .GalleryPage_slider
                margin-top -380px

            .gallery--detail .gallery__btn--prev
                left calc(50% - 537px)

            .gallery--detail .gallery__btn--next
                left calc(50% + 492px)

            .GalleryPage_head
                min-height 550px

            .GalleryPage_block
                height 550px

    &-diary
        @media $md
            .GalleryPage_slider
                margin-top -340px

        @media $smMinus
            .GalleryPage_slider
                margin-top 0
                top 251px

            .diaryThumb
                padding-top: 200px;

        @media $xs
            .GalleryPage_slider
                top 20%

            .diaryThumb
                padding-top: 80px;

        .diary_btn
            top: calc(77% - 25px);
            @media $smMinus
                top calc(50% - 25px);

    &-gallery

        .swiper-slide
            margin-top 132px
            transition margin 0.3s

            @media $smMinus
                margin-top 110px
            @media $xs
                margin-top 0
        .swiper-slide-active
            margin-top 0
