.Header
    flex-shrink 0
    background-color #fff
    padding-left 85px
    display flex
    justify-content space-between
    align-items center
    height 85px
    position relative
    @media $smMinus
        height 60px
        border-bottom 1px solid $greyBorder
        padding-left 20px

    &:before
        content ''
        display block
        height 1px
        position absolute
        bottom 0
        width calc(100% - 170px)
        margin 0 auto
        background-color $greyBorder
        @media $xs
            display none

    &_logo
        width 197px
        @media $xs
            width 143px

    &_right
        display inline-flex
        margin-left auto
        align-items flex-end
    
    &_phone
        color $fontColor
        font-size 12px
        font-family $Avenir
        font-weight bold
        margin 0 60px
        transition border-color .2s
        @media $xs
            font-size 0
            width 20px
            height 20px
            display block
            background url('../img/ui/phone.svg') center/contain no-repeat
        @media $smMinus
            margin 0 30px
        @media $md
            border-bottom 1px solid transparent
        &:hover
            border-color $fontColor

    &_nav
        @media $smMinus
            & .Nav_item
                &:not(:first-of-type)
                    display none
                &:not(:last-of-type)
                    margin-right 0
        @media $xs
            display none


    &_menu
        width 85px
        height 100%
        background-color $sandColor
        cursor pointer
        font-family $FreeSet
        font-size 10px
        padding 20px
        font-weight bold
        display flex
        justify-content space-between
        align-items center
        flex-wrap wrap
        transition .2s
        @media $smMinus
            width 60px
            font-size 9px
            padding 10px
        &:hover
            padding 10px
            background-color darken($sandColor, 30%)

    &_menuWord
        width 50%
        text-align center
             