.HouseSectionTypes
    display flex
    margin-top auto
    padding 0 50px;
    @media $smMinus
        flex-wrap wrap
    @media $xs
        padding 0 30px;
    &_item
        position relative
        display flex
        color #575759
        font-size 14px
        font-family $FreeSet
        align-items center
        margin-right 20px
        @media $smMinus
            margin-bottom 20px
        @media $xs
            margin-right 5px
        &:before
            content ''
            width 11px
            height 11px
            display block
            border: 1px solid transparent
            margin-right 10px
            @media $xs
                margin-right 5px
        &-1k
            &:before
                background #d8d1c2
                border-color #d8d1c2
        &-2k
            &:before
                background #946947
                border-color #946947

        &-3k
            &:before
                background #1c355e
                border-color #1c355e

        &-st
            &:before
                background #ffffff
                border-color #ffffff

        &-com
            &:before
                background #b4babb
                border-color #b4babb

        &-sales
            &:before
                background transparent
                border-color #c3cacb
