.HouseSectionNumber
    display flex
    margin-top 85px
    justify-content center
    @media $xs
        margin-top 10px

    &_item
        position relative
        display flex
        //flex-grow 1
        //margin-left auto
        //margin-right auto
        border 1px solid transparent
        justify-content center
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            display block
            height 20px
            border-color #c3cacb
            border-width 0 1px 1px 1px
            border-style solid
        &:after
            content ''
            position absolute
            top 20px
            left 50%
            width 1px
            display block
            height 20px
            background #c3cacb
        & span
            font-family $Avenir
            font-size 10px
            color #ffffff
            font-weight bold
            text-transform uppercase
            background #c3cacb
            padding 5px
            margin 40px 0 0 0