.HousesScheme
    & svg
        max-width 100%
    &_bld
    	&-active
    		fill #946946
    	&:hover
    		fill rgb(148, 105, 10)
    &_polygonActive
        & rect
            fill #946946

    &_artElement
    	pointer-events none