.HouseInfo
    user-select none
    @media $md
        display grid
        grid-template-columns 1fr 1fr
        height 100%

    @media $xs
        display flex
        flex-direction column
    &_leftCol
        height 100%
        position relative
        @media $smMinus
            height 614px
            margin-bottom 45px
        @media $xs
            width 100%
            margin-bottom 0
            height 340px
    &_rightCol
        @media $xs
            padding 0 16px
            order -1
        @media $md
            padding 30px 20px 0 47px
            grid-column 2

        @media $smMinus
            padding 45px
        @media $xs
            padding 30px

    &_photoWrap
        position relative
        height 100%
        @media $xs
            margin-bottom 39px
        @media $smMinus
            pointer-events none
        @media $md
            // margin-left -120px
    &_photo
        display block
        width 100%
        height 100%
        background-position center center
        background-repeat no-repeat
        background-size cover
    &_shemeWrap
        position relative
        @media $xs
            margin-bottom 16px
        @media $sm
            margin-bottom 10px
    &_title
        font-weight bold
        font-family $Avenir
        margin-bottom 30px
        font-size 35px
        @media $xs
            font-size 27px
    &_subtitle
        display block
        font-size 75%
        font-weight 500
        letter-spacing .1px
        font-size 14px
        @media $md
            font-size 15px