.HouseSectionNav
    display flex
    //margin-bottom 187px
    padding 0 23px
    font-family $FreeSet
    @media $xs
        padding-left 70px
    &_floors
        display flex
        margin-right auto
        @media $smMinus
            display none
    &_back
        margin-left 0
        margin-right auto
        @media $smMinus
            margin-right 10px
        @media $xs
            display none

        & a
          color #142547
    &_link
        min-width 40px
        position relative
        height 40px
        padding 0 12px
        display flex
        justify-content center
        align-items center
        border 1px solid #c3cacb
        color #161621
        font-size 14px
        &-active
            border 2px solid #161621
            font-weight bold
            &:after
                content 'Этаж'
                position absolute
                bottom -30px
                font-weight bold
                color #142547
                text-transform uppercase
                left 50%
                transform translateX(-50%)
                display block