.HouseMask
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    &_item
        fill $darkBrown
        transition all .2s
        opacity 0
        &-active
            opacity .6