.HousesNav
    height 40px
    margin-bottom 30px
    display flex
    justify-content space-around
    &_item
        display inline-flex
        flex-grow 1
        align-items center
        justify-content center
        outline-color transparent
        transition .2s
        outline none
        font-size 14px
        border 1px solid #eeeef0
        &-active
            border-width 2px
            border-color #161621
    & .IconTriangle
        position: relative;
        transform: rotate(-45deg);