.HouseSection
    background #dbe0e1
    position relative
    width calc(100% - 303px)
    margin-left auto
    height 100%
    border-right 1px solid #c0c6c7
    border-bottom 1px solid #c0c6c7
    @media $smMinus
        width 100%
        margin-left 0
    & .BldScheme
        @media $xs
            width auto
            height 280px
            margin 0 auto
            padding 0 30px
        @media $sm
            width auto
            height 350px
            margin 0 auto
            padding 0 30px
        @media $md
            max-width 100%
            max-height 350px
            padding 0 50px

    &_inner
        padding 23px 0 32px
        display flex
        flex-direction column
        height 100%
        transition opacity .4s ease
        @media $xs
            padding 10px 0px 20px
        &-disabled
            opacity .5

    &_schemeScroll
        overflow-x auto
        margin-top auto
