@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    .AboutPage_introThumbLeft
        background-image none !important
        background $DarkGreyBorder

    .AboutProject_teaser .Teaser_text
        display block
        & p
            width 60%

    .AboutProject_thumbSection-reverse .AboutPage_introLeftWrap
        right 0

    .Modal_head
        padding 33px !important
        