.infoTooltip
    font-family $Avenir
    background-color #fff
    font-weight 600
    &_title
        background-color $fontColor
        padding 15px 20px
        color #fff
        text-align center

    &_content
        padding 15px 20px
        color $fontColor
        background-color #fff

    &-genplan
        & .infoTooltip_title
            display flex
            justify-content space-between

    &_genplanRow
        display flex
        justify-content space-between
        margin-bottom 15px
        font-family $FreeSet
        font-size 14px
        font-weight 400

    &_genplanName
        width 90%
        padding-right 10px

    &_genplanNum
        width 20%
        text-align right
        font-weight 600

    &_genplanSumRooms
        font-weight 400
        opacity 0.9
        font-family $FreeSet

    &-flatParams
        padding 15px
        background-color #fff
        box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.13)

    &_flatParamsImg
        width 100%