.InfrasExternal
  height 100%
  width 100%
  position relative

  &_map
    height 100%
    width 100%

  &_title
    position absolute
    top 30px
    left 148px
    font-size 14px
    font-weight 700
    color #747476
    line-height 1.2
    @media $md
      font-size 20px
      top 45px
      left 150px

  &_filter
    position absolute
    right 0
    top 0
    z-index 5
    display none
    @media $smMinus
      display inline-flex
