.Installment
    &_item
        display flex
        align-items center
        padding 30px 45px
        border-bottom 1px solid $greyBorder
        @media $smMinus
            flex-direction column
        @media $xs
            padding 30px 10px
    
    &_thumb
        width 350px
        height 257px
        background-color $grey
        margin-right 30px
        flex-shrink: 0
        overflow hidden
        display inline-flex
        align-items center
        background url('../img/bg/blur.jpg') center/cover no-repeat
        @media $smMinus
            width 100%
            margin-right 0
            margin-bottom 20px
        @media $xs
            height 190px

    &_text
        max-width 400px
        @media $smMinus
            max-width 100%
            width 100%
    
    &_month
        font-size: 240px;
        font-weight: bold;
        color: #fff;
        margin-left: -18%;
        @media $smMinus
            margin-left 0
            font-size 200px
        
        @media $xs
            font-size 150px

    &_monthDesc
        writing-mode: vertical-rl;
        font-size 12px
        text-transform uppercase
        letter-spacing 16.9pt
        color #fff
        margin-left 10px
        @media $smMinus
            letter-spacing 11.9pt

    &_title
        margin-bottom 22px