.ui-selectmenu-button.ui-button
    background-color transparent
    box-shadow none


.ui-selectmenu-text
    color $fontColor
    font-family $FreeSet
    font-size 12px

.ui-selectmenu-icon
    background none
    background-color $grey
    height 8px
    width 8px
    top 50%
    opacity 1

    &:after
        content ''
        display block
        width 2px
        height 12px
        top -2px
        left 3px
        position absolute
        background-color #fff
        transform-origin center center
        transform rotate(140deg)

.ui-selectmenu-button-open
    background-color #fff !important
    border-bottom: 1px solid #efefef !important
    background-color: #fff !important
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.08) !important

    & .ui-selectmenu-icon
        display none !important

.ui-menu .ui-menu .ui-state-focus, .ui-menu .ui-state-active
    background-color #ffebcb
    color $fontColor
