.marker
  position absolute
  top 50px
  left 50%
  z-index 2
  &-hover
    cursor pointer
    .marker_text
      display inline-block
      width 0
      transition width .6s ease
      overflow hidden
      &:after
        width 0
        transition width .9s ease
  &-active
    z-index 10
    .marker_text
      width 100%
      transition width .5s ease
      &:after
        transition width .3s ease
        width 100%

  &_ico
    height 38px
    width 38px
    background no-repeat center / 50%
    position relative
    z-index 2
    background-color $fontColor
    border: 2px solid #fff;
    border-radius 3px
    &:before
      content: ''
      display block
      position absolute
      bottom: -12px
      left: 40%
      width: 0
      height: 0
      border-style: solid
      border-width: 10px 4px 0 4px
      border-color $fontColor transparent transparent transparent

  &_textWrp
    position absolute
    top 7px
    left 64%
    pointer-events none
  &_text
    color $fontColor
    font-size 12px
    height 22px
    line-height 22px
    span
      position relative
      padding 0 20px
      z-index 2
      white-space nowrap

    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background #fff
      transform-origin top right
      z-index 1