.MarkerTpl
    text-align center
    font-family $Avenir
    &_title
        padding 7px
        background-color $fontColor
        color #fff
        font-size 12px
        border 1px solid #fff
        border-radius: 3px 3px 0 0
        overflow hidden
    
    &_time
        padding-top 4px
        font-size 14px
        color $fontColor
        font-weight bold


.gm-style-iw 
    // background: $fontColor
    // box-shadow: -14px 0px 0px $fontColor, -14px 9px 0px $fontColor, -14px -8px 0px $fontColor, 15px -8px 0px $fontColor, 15px 9px 0px $fontColor
    // border 1px solid #fff
    padding 0
    width 100% !important
    left 0 !important
    right 0 !important
    top 0 !important

    & > div
        display block !important
        max-width 100% !important
        // max-height 100px !important

.gm-ui-hover-effect
    display none !important
    

