.McdMap
	position fixed
	z-index 100
	top 0
	left 0
	width 100%
	height 100%
	// background url('../img/mcd_map-1.jpg') 0 0 / cover no-repeat
	overflow scroll
	visibility hidden
	opacity 0
	transition all .3s
	
	&_close
		position fixed
		top 10px
		right 10px
		width 40px
		height 40px
		cursor pointer
		opacity 0.5
		
		&:hover
			opacity 1
	
	&_img
		max-width 1920px
		min-height 100%
		
		@media (min-width: 1920px)
			max-width 100%
	
	&-open
		visibility visible
		opacity 1