.Menu
    display none
    position absolute
    right 0
    top 0
    bottom 0
    margin 0
    height 100%
    overflow auto
    transition all .4s
    transform translateX(100%)
    &-active
        transform translateX(0%)
    &_inner
        background #fff
        background-size 100% auto
        min-height 100%
        position relative
        @media $xs
            width 240px
        @media $sm
            width 480px
        @media $md
            width 582px
        &:before
            content ''
            width 10vh
            height 48vh
            position absolute
            display block
            background url('/img/logo_menu.svg') center  no-repeat
            background-size 100% 100%
            bottom 85px
            right 0
            @media $smMinus
                width 75px
                bottom 60px
            @media $xs
                display none
    &_head
        display flex
        justify-content space-between
        align-items center
        height 85px
        background-color $grey
        padding-left 60px
        margin-bottom 20px

        @media $smMinus
            height 60px
        @media $xs
            padding-left 15px

    &_sked
        padding 30px
        @media $xs
            padding 15px
        
    &_title
        font-weight 600
        margin 0
        text-transform uppercase
        @media $xs
            font-size 15px
        @media $smPlus
            font-size 18px
    &_closeBtn
        border 0
        background-color $sandColor
        height 100%
        width 85px
        cursor pointer
        display flex
        align-items center
        justify-content center
        transition 0.2s
        @media $smMinus
            width 60px
        &:hover
            background-color darken($sandColor, 30%)
            & .Menu_closeBtnImg
                transform scale(0.80)
    &_closeBtnImg
        transition 0.2s

    &_group
        position relative
        z-index 10
        @media $xs
            margin-bottom 26px
        @media $sm
            margin-bottom 34px
        @media $md
            margin-bottom 36px
    &_groupHead
        font-weight 700
        cursor pointer
        text-transform uppercase
        font-size 18px
        font-family $Avenir
        margin-bottom 15px
        @media $xs
            font-size 15px
            font-weight 600

        &-withSubmenu
            position relative
            @media $smPlus
                pointer-events none
            &:after
                @media $xs
                    transition all .2s
                    content ''
                    width: 0
                    height: 0
                    border-style solid
                    border-width 6px 5px 0 5px
                    border-color $grey transparent transparent transparent
                    right 0
                    top 50%
                    position absolute
                    display block
                    transform rotate(-48deg);
        &-submenuOpen
            &:after
                @media $xs
                    transform rotate(180deg)
    &_listWrap
        overflow hidden
        @media $xs
            display none

    &_groupHead-submenuOpen + &_listWrap
        @media $xs
            display block

    &_list
        list-style none
        padding-left 0
        margin-bottom 0
        @media $xs
            border solid 2px $grey
            border-right 0
            border-left 0
            padding 11px 0 18px
        @media $smPlus
            margin-left -32px

    &_item
        @media $xs
            margin-bottom 17px
            line-height 1.14
        @media $sm
            margin-bottom 12px
        @media $smPlus
           display inline-block
           position relative
           padding-left 32px
        @media $md
            margin-bottom 16px
        &:last-child
            margin-bottom 0
        &:before
            @media $smPlus
                content ''
                position absolute
                top 50%
                left 12px
                width 4px
                height 4px
                margin-top -2px
                display block
                border-radius 50%
                background $grey

    &_link
        font-size 15px
        font-family $Avenir
        letter-spacing .3pt
        font-weight 500
        @media $xs
            font-size 14px
        &:hover, &:active
            color $darkBrown
            
    &_footer
        height 85px
        display flex
        align-items center
        justify-content space-between
        position absolute
        bottom 0
        left 0
        right 0
        background-color $grey
        @media $smMinus
            height 60px

    &_footerCopy
        display flex
        align-items center
        justify-content center
        padding 0 20px
        @media $xs
            display none

    &_footerSocial
        display flex
        height 100%
    
    &_footerSocialItem
        display flex
        justify-content center
        align-items center
        background-color #fff
        border-top 1px solid $greyBorder
        border-left 1px solid $greyBorder
        height 100%
        width 85px
        transition 0.2s
        @media $smMinus
            width 60px

        &:hover
            background-color $grey