.Message
    $close_button_width = 54px
    position relative
    &_dialog
        position relative
        @media $smPlus
            padding-right $close_button_width
            padding-top ($close_button_width / 2)
        &-v1
            background-color #fff
            @media $sm
                max-width 614px
            @media $smPlus
                position absolute
                z-index 100
                right 60px
                bottom 0
            @media $smMinus
                position absolute
                z-index 20
                right 60px
                max-width 600px
                width 100%
                transform translate(-50%, 0)
                left 50%
                bottom 0
            @media $xs
                padding-right $close_button_width
                padding-top ($close_button_width / 2)
    &_closeBtn
        line-height 0
        border 0
        background-color $sandColor
        position absolute
        top 0
        right 0
        @media $xs
            display flex
            justify-content center
            align-items center
            width 40px
            height 40px
        @media $smPlus
            width $close_button_width
            height $close_button_width
            padding 0
            transition all .2s
            display flex
            justify-content center
            align-items center
            &:hover
                transform scale(1.06)
    &_closeCross
        fill $fontColor
        margin 0
        width 22px
        height auto
    &_content
        background-color #fff
        @media $xs
            padding 37px 16px 22px
            padding-top 0
        @media $sm
            max-width 540px
        @media $smPlus
            padding 26px 28px 20px
            padding-top 0
            max-width 540px
        @media $md
            max-width 540px
    &_title
        font-size 20px
        font-weight 600
        margin-bottom 12px
        color $fontColor
        text-transform uppercase
        font-family $Avenir
        @media $xs
            font-size 15px
    &_text
        line-height 1.6
        color #575759
        font-size 15px
        @media $smPlus
            max-height 156px
            overflow auto