.Modal
    display none
    max-width 370px
    width 90%

    &_head
        min-height 85px
        background-color $greyBrown
        display flex
        align-items center
        padding 0 40px
        padding-right 95px
        @media $xs
            padding-left 15px
            min-height 60px
            padding-right 70px

    &_title
        font-size 18px
        text-transform uppercase
        font-family $Avenir
        font-weight bold
        @media $xs
            font-size 15px
    
    & .fancybox-close-small
        top 0
        right 0
        width 85px
        height 85px
        background $sandColor url('../img/ui/close.svg') center/20px no-repeat
        transition 0.2s
        @media $xs
            width 60px
            height 60px
        &:hover
            background-color darken($sandColor, 10)
    
    &_content
        padding 30px 40px
        @media $xs
            padding 20px

    &_form
        display flex
        flex-direction column

    &_input
        margin-top 29px
        margin-bottom 15px

    &_submit
        text-align center
        cursor pointer
        border none

    &_input, &_textarea
        width 100%
        border-top none
        border-left none
        border-right none
        border-bottom 2px solid $grey
        outline: none
        +placeholder()
            font-size 14px
            font-family $Avenir
            font-weight bold
            color $fontColor
            @media $xs
                font-size 12px

    &_input-captcha
            margin-bottom 0
            margin-top auto
            width 50%
            @media $xs
                margin-top 15px
    
    &_textarea
        min-height 90px
        resize vertical
        margin-bottom 30px

    &_captcha
        display flex
        align-items flex-start
        flex-wrap wrap
        margin-bottom 31px
        & .error
            margin-bottom 5px
            margin-left auto
        @media $xs
            flex-direction column

    &_captchaImg
        flex-shrink 0
        height auto
        width 47%
        margin-right 3%

    &_agree
        display flex
        font-size 12px
        align-items center
        margin-bottom 30px
    
    &_label
        margin-right 10px
        flex-shrink 0
        position relative
        overflow hidden

    &_customCheckbox
        width 19px
        height 19px
        border 1px solid $DarkGreyBorder
        position relative
        &:before
            content ''
            display none
            position absolute
            top 0
            bottom 0
            width 100%
            background-color $darkBrown
            border 4px solid #fff

    &_checkbox
        height 0
        width 0
        overflow hidden
        opacity 1
        position absolute
        left -200px

        &:checked + .Modal_customCheckbox:before
            display block

        &.error + .Modal_customCheckbox
            border-color tomato


    &_agreeLink
        color $darkBrown
        text-decoration underline