.Mortgage
    .Page_headRight
        border-bottom none

    &_conditions
        background-color $grey
        padding 30px 40px
        font-size 12px
        @media $smMinus
            padding 15px

    &_teaserContent
        display flex
        max-width 900px
        margin-bottom 20px
        @media $smMinus
            flex-direction column

    &_teaserRight
        padding 28px 44px
        @media $smMinus
            padding 30px
        @media $xs
            padding 30px 10px

    &_teaserThumb
        width 413px
        flex-shrink 0
        margin-right 31px
        @media $smMinus
            width 100%
            margin-right 0
            margin-bottom 25px

    &_teaserImg
        width 100%

    &_teaserTitle
        margin-bottom 33px