.Multycheckbox
    display flex
    align-items center
    justify-content space-between
    cursor pointer
    min-height 40px
    min-width 33.333%
    width 50%
    &_lbl
        color $fontColor
        border 1px solid $greyBorder
        display block
        background none
        padding 0
        font-size 14px
        width 100%
        height 100%
        @media $md
            font-size 15px
    &_ico
        &-type1
            width 22px
            height 22px
            border-radius 50%
            background-color #efeef5


.Multycheckbox_inp[value='1'] + .Multycheckbox_lbl
    &-type1
            border-color $fontColor
            border-width 2px

.Multycheckbox_inp[value='0'] + .Multycheckbox_lbl
    &-type1
            border-color $fontColor
            border-width 2px
    