.Nav
    &_list
        display flex
    
    &_item
        &:not(:last-of-type)
            margin-right 60px
    
    &_link
        text-transform uppercase
        color $fontColor
        font-weight bold
        font-size 12px
        font-family $Avenir
        border-bottom 1px solid transparent
        transition border-color .2s
        &:hover
            border-color $fontColor