.News
    &_teaserRight
        padding 40px
        @media $smMinus
            padding 40px 30px
            
    &_teaserContent
        max-width 825px

    &_teaserTitle
        margin-bottom 30px
        display block
        transition color 0.2s
        &:hover
            color $darkBrown

    &_teaserText
        margin-bottom 15px