.NoPlansFound
    width 100%
    height 100%
    background-color #dbe0e1
    padding-top 1px
    &_wrap
        max-width 500px
        width 90%
        font-size 15px
        margin 10% auto
        padding 20px 10px
        text-align center

    &_img
        width 47px
        height 45px
        display inline-block
        margin-bottom 25px
    
    &_text
        color #575759
        font-weight 500
        font-size 16px
        font-family $Avenir
        margin-bottom 28px

    &_reset
        color $fontColor
        font-size 16px
        font-weight 600
        font-family $Avenir
        text-decoration underline
        &:hover
            text-decoration none