.PageNavigation
    display flex
    align-items center

    &_item
        &:not(:last-of-type)
            margin-right 25px

        &-left

            .PageNavigation_link:after
                transform rotate(-45deg)
        &-right

            .PageNavigation_link:after
                transform rotate(134deg)

    
    &_link
        font-size 12px
        letter-spacing: 0.2pt;
        display inline-flex
        align-items center
        transition color 0.2s
        &:hover
            color $darkBrown

        &:after
            content ''
            display block
            width 0
            height 0
            border-style solid
            border-width 0 4px 4.2px 4px
            border-color transparent transparent $grey transparent
            margin-left 10px