.Page
    min-height 100%

    &_title
        font-size 55px
        font-family $Avenir
        font-weight bold
        @media $smMinus
            font-size 35px

        @media $xs
            font-size 25px

    &_head
        background-color #fff
        display flex
        position relative

        & .Breadcrumbs
            position absolute
            left 85px
            z-index 10
            @media $smMinus
                left 5px
                // display none 
            @media $xs
                top 2px
                left 3px

    &_headToBack
        display flex
        color $grey
        position absolute
        top 70px
        left 100px
        font-size 25px
        font-weight bold
        transition 0.2s
        @media $smMinus
            display none
        &:hover 
            color $darkBrown
            &:before
                border-bottom-color $darkBrown
        &:before
            content ''
            display block
            width 0
            height 0
            border-style solid
            border-width 0 4px 4.2px 4px
            border-color transparent transparent $grey transparent
            margin-right 10px
            transform rotate(-45deg)

        &-flatSingle
            position static
            margin-top 20px
            margin-left 15px
            display inline-flex
            @media $smMinus
                display inline-flex
                font-size 20px
                margin-top 10px

        &-flatType
            position static
            margin-top 20px
            margin-bottom 20px
            margin-left 15px
            display inline-flex
            @media $smMinus
                display inline-flex
                font-size 20px
                margin-top 10px
                margin-bottom 10px

    &_headRight
        padding 44px 20px 62px 44px
        border-left 1px solid $greyBorder
        border-bottom 1px solid $greyBorder
        flex-grow 1
        position relative

        @media $xs
            padding 47px 10px

    &_headLeft
        width 402px
        padding-left 85px
        flex-shrink 0
        @media $smMinus
            width 220px
            padding-left 0
        @media $xs
            width 65px

    &_sortPanel
        position absolute
        width 100%
        padding-right 90px
        bottom -1px
        display flex
        justify-content space-between
        align-items flex-end

        @media $smMinus
            width 90%
            padding-right 0

        @media $xs
            justify-content flex-start

    &_pagination
        display flex
        height 85px

        @media $xs
            height 59px

    &_paginationRight
        flex-grow 1
        border-left 1px solid $greyBorder
        display flex
        align-items center
        padding 0 44px
        @media $xs
            padding 0 20px

    &_paginationLeft
        width 402px
        flex-shrink 0
        display flex
        flex-direction column
        position relative
        @media $smMinus
            width 220px
        @media $xs
            width 65px

        &:after
            content ''
            display block
            position absolute
            width 1px
            left 85px
            top 0
            bottom 0
            background-color $greyBorder
            @media $smMinus
                left 60px
            @media $xs
                display none

    &_selects
        display flex
        width 230px
        height 42px

        @media $xs
            width 100px
            margin-left 0px

    &_pageNav
        bottom 15px
        left 0
        right 0
        display flex
        justify-content flex-end
        padding-right 30px
        position absolute

    &_postScript
        display flex
        @media $smMinus
            display flex

    &_postScriptLeft
        flex-shrink 0
        position relative
        @media $smMinus
            width 220px
        @media $xs
            width 79px
        &:after
            content ''
            display block
            position absolute
            width 1px
            left 85px
            top 0
            bottom 0
            background-color $greyBorder
            @media $smMinus
                left 60px
            @media $xs
                display none
    
    &_postScriptRight
        flex-grow 1
        background-color $grey
        padding 13px 30px
        font-size 12px
        @media $xs
            padding 10px