.PageSingle

    & .Breadcrumbs_item:last-child
        @media $smMinus
            max-width 160px
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
    &_teaserRight
        padding 30px 44px
        @media $xs
            padding-left 10px
            padding-right 25px

    &_teaserTitle
        margin-bottom 25px

    &_thumb
        width 412px
        float left
        margin-right 25px
        margin-bottom 10px
        position relative
        @media $smMinus
            width 100%
            float none
            margin-right 0

    &_thumbFull
        position absolute
        right 0
        bottom 0
        z-index 10

    &_teaserContent
        max-width 1200px

    
