.Pagination

    &_list
        display flex
        align-items flex-end

    &_item
        font-size 16px
        transition 0.2s
        margin-right 15px
        
        &:hover
            color $darkBrown

        &-arrow
            & .Pagination_link
                width: 0
                height: 0
                margin-left 10px
                border-style solid
                border-width 5px 4px 0 4px
                border-color $fontColor transparent transparent transparent
                position relative
                transform rotate(-53deg)
                margin-bottom 2px
                margin-left 2px

        &-active
            & .Pagination_link
                color $greyBorder
    
    &_link
        display block