.Panel
    width 85px
    flex-shrink 0
    &-right
        background-color $grey
        @media $smMinus
            display none
            position relative
            width 60px
    &-left
        display flex
        flex-direction column
        border-right 1px solid $greyBorder
        background-color #fff
        @media $smMinus
            display none
            width 60px
    
    &-hidden
            display none

    &-visibleTablet
        @media $smMinus
            display flex

    &_socials
        margin-top auto
    
    &_verticalText
        position: relative;
        transform: rotate(-90deg) translate(50%, -50%);
        left: -50%;
        transform-origin: center center;
        width: 200px;
        height: 20px;
        margin-bottom: 65px;
        font-family $FreeSet
        font-size 10px
        font-weight 500
        text-transform uppercase
        letter-spacing 0.5pt
        &-filter
            width 145px
            top 20%

    &_socialsItem
        display flex
        justify-content center
        align-items center
        border-top 1px solid $greyBorder
        width 100%
        height 85px
        transition 0.2s;
        &:hover
            background-color $grey

    &_aboutPageInfo
        height 100%
        display flex
        align-items center
        justify-content flex-end
        flex-direction column
        position relative

        &:after
            content ''
            display block
            position absolute
            width 1px
            height 60px
            bottom 0
            left 40px
            background $fontColor

    &_aboutPageName
        position: relative;
        transform: rotate(-90deg) translate(50%, -50%);
        left: 15%;
        transform-origin: center center;
        width: 320px;
        height: 20px;
        padding-left 80px
        text-transform uppercase
        font-size 10px
        letter-spacing: 0.6pt

    &_compass
        display flex
        justify-content center
        align-items center
        border-top 1px solid $greyBorder
        width 100%
        height 85px
    
    &_compassArrows
        display flex
        flex-direction column
        position relative
        &:before, &:after
            content ''
            width 0
            height 0
            border-style solid

        &:before
            border-width 0 3.5px 14px 3.5px
            border-color: transparent transparent #e2574c transparent;

        &:after
            border-width 14px 3.5px 0 3.5px
            border-color #4a90e2 transparent transparent transparent
    &_control
        width 100%
        height 85px
        border-bottom 1px solid #c0c6c7
        @media $smMinus
            height 60px

        &-up
            position: fixed
            bottom: 0
            right: 0
            width: 85px
            @media $smMinus
                width 60px

        &-grey
            background-color $grey
            border-bottom: 1px solid #c0c6c7

            &:hover
                background-color #fff
        &-houses
            display none
            @media $xs
                width 60px
                height 60px
                position relative
                z-index:200
                display flex
                background #fff
        &-section
            display none
            @media $xs
                width 60px
                height 60px
                position absolute
                z-index:200
                display flex
                background #fff

    &_stickyControls
        position sticky
        top 0
        width 100%
        display flex
        flex-direction column
        height 90vh

        &-genplan
            height auto

    & .FilterPage_overlay
        display none
        &-xs
            @media $xs
                display block


