.Promo
    position absolute
    left 0
    right 0
    height 100%
    z-index 2000
    background-size cover
    background-repeat no-repeat
    background-position center
    top -140%
    transition top .4s
    will-change top
    padding-top 70px
    display flex
    overflow hidden

    @media $smMinus
        flex-wrap wrap
        padding-top 0

    

    &-active
        top 0
    $btnDiametr = 120px
    &_btn
        width $btnDiametr
        height $btnDiametr
        border-radius 50%
        display block
        border-color #4C4954
        border-style solid
        border-width 5px
        background #93694a url(../img/ui/phone_white.svg) center/30px no-repeat
        background-size 60%
        transition transform .3s


        &:hover
            transform rotate(15deg)

    &_btnWrap
        position absolute
        top 65%
        left 52%
        display flex
        flex-direction column
        align-items center
        margin-top -($btnDiametr/2)
        margin-left -($btnDiametr/2)

    &_btnDesc
        color #fff
        text-transform uppercase
        font-family $Avenir
        font-size 16px
        font-weight bold
        text-align center
        margin-top 15px

        @media $xs
            font-size 12px
            margin-top 5px


    &_foregroundCont
        // box-shadow inset 0 0 0 10px green
        // background-color rgba(255, 0, 0, .5)
        position relative
        display flex
        overflow hidden
        @media $xs
            width 72%
            height calc(100vh - 340px)
            margin-top auto
        @media $sm
            width 57%
            height calc(100vh - 428px)
            margin-top auto
            margin-right auto
        @media $md
            width 47%
            height 100%
            margin-right auto
            margin-top auto

    &_foregroundPic
        max-width 100%
        max-height 100%
        margin auto auto 0 0
        @media $smMinus
            transform translateX(-12%)
    &_foregroundPicOverlay
        position absolute
        bottom 0
        left 0
    &_foregroundPic,
    &_foregroundPicOverlay
        @media $smMinus
            transform translateX(-12%)
    &_content
        width 50%
        color #fff
        font-family $Avenir
        display flex
        flex-direction column

        @media $smMinus
            width 40%

        @media $xs
            display none

    &_title, &_phoneLink
        font-weight bold
        display block

    &_title
        margin-top 25px
        font-size 43px

        @media $smMinus
            display none
        
        @media $xs
            font-size 20px

    &_phoneLink
        margin-top 50px
        font-size 55px
        transition 0.2s
        @media $smMinus
            display none

        @media $xs
            font-size 30px
            margin-top 15px
            margin-bottom 15px

        &:hover
            color #936949
        & a
            font-size 55px
            transition 0.2s
            color #ffffff
            margin 50px 0 0 0
            @media $smMinus
                width 100%
                background none
            @media $xs
                font-size 30px
                margin 0


    &_links
        margin-top auto
        margin-bottom 60px
        color #fff
        font-family $Avenir
        @media $xs
            display none

        &-mobile
            display none
            @media $xs
                display block
                margin-top 0
                margin-bottom 15px
                width 100%
                padding 0 5%

    &_link
        display block
        margin-bottom 38px
        font-size 15px
        font-weight 500
        text-transform uppercase
        letter-spacing 0.5pt
        transition 0.2s

        @media $smMinus
            padding-left 15px

        @media $xs
            margin-bottom 10px
            padding-left 0

        &:hover
            color #936949

            &:after
                border-bottom-color #936949

        &:after
            content ''
            margin-left 5px
            display inline-block
            width: 0
            height: 0
            border-style solid
            border-width: 0 0 8px 8px;
            border-color: transparent transparent #fff transparent
            position relative

    
    &_titleTablet
        display none
        @media $smMinus
            display block
            padding 5%
            width 100%
            & .Promo_title, .Promo_phoneLink
                display block
                color #fff


    &_closeBtn
        border 0
        background-color $sandColor
        height 70px
        width 70px
        cursor pointer
        display flex
        align-items center
        justify-content center
        position absolute
        right 0
        top 0
        transition 0.2s
        outline none
        @media $smMinus
            width 60px
            height 60px
        @media $xs
            width 40px
            height 40px
        &:hover
            background-color darken($sandColor, 30%)
            & .Menu_closeBtnImg
                transform scale(0.80)
        &_closeBtnImg
            transition 0.2s