.Promos
    &_teaserRight
        padding 30px 45px
        padding-right 56px
        display flex
        @media $smMinus
            padding 30px
            flex-direction column
        @media $xs
            padding-left 10px

    &_teaserThumb
        width 350px
        height 257px
        margin-right 30px
        background-size cover
        background-position center center
        background-repeat no-repeat
        @media $smMinus
            width 100%
        @media $semiMdPlus
            height 150px

    &_teaserContent
        max-width 470px
        @media $smMinus
            width 100%
            max-width 100%

    &_tillDate
        font-size 13px
        font-family $Avenir
        color lightness(#000, 40)
        @media $smMinus
            display none

    &_teaserTitle
        margin-top 28px
        margin-bottom 22px
    
    &_teaserText
        margin-bottom 23px
    
    &_teaserBtn
        @media $smMinus
            display none
    
