.RangeSlider
	width 100%
	padding 0 7px
	&_track
		width 100%
		height 2px
		border 0
		&:before
			content ''
			position absolute
			display block
			top 0
			left -7px
			right -7px
			height 100%
			background #d8d6e5

	&_progress
		background $fontColor
		border 0
		outline 0
		width 100%
		transition background 0.3s
	&_handle
		width 22px
		height 22px
		margin-top -11px
		margin-left -11px
		outline-color transparent
		transition background 0.3s
		&:hover
			cursor grab
		&.ui-state-active
			cursor grabbing
		&:after
			content ''
			background $fontColor
			position absolute
			border 1px solid #fff
			width 14px
			height 14px
			top 50%
			left 50%
			margin-top -7px
			margin-left -7px
			display block

	&:hover
		& .RangeSlider_progress
			background  $darkBrown
		
		& .RangeSlider_handle:after
			background  $darkBrown

	&_rangeVals
		display flex
		color #142547
		font-size 14px
		padding-top 14px
		margin 0 -7px
	&_valViewWrap
		width 50%
		max-width 50%
		&-max
			text-align right
	&_minValViewEl,
	&_maxValViewEl
		margin-right 4px
		transform translateZ(0)