.Search
    width 237px
    position relative
    @media $smMinus
        width 190px
    @media $xs
        width 60px

    &_field
        width 100%
        border none
        outline none
        border-bottom 1px solid $fontColor
        color $fontColor
        padding-bottom 10px
        padding-right 20px
        outline-color transparent
        +placeholder()
            color $fontColor
            font-family $Avenir
            font-size 12px

    &_submit
        width 12px
        height 12px
        padding 5px
        position absolute
        border none
        right 0
        top 4px
        display block
        background url('../img/ui/search.svg') center/contain no-repeat