.SelectFloor
    &_btn
        //& .ui-selectmenu-icon:after
        //    content ''
        //    width: 0;
        //    height: 0;
        //    border-style: solid;
        //    border-width: 0 0 7px 7px;
        //    border-color: transparent transparent #000000 transparent;

    &_btn.ui-button
        width 100px
        padding 0 18px
        display flex
        align-items center
        height 40px
        border 2px solid black !important
        &.ui-selectmenu-button-open
            border:none !important
        &:hover
            & .ui-selectmenu-icon
                background transparent
        & .ui-selectmenu-icon
            height 12px
            width 6px
            &:after
                content ''
                position static
                background transparent
                transform rotate(-90deg)
                width 0
                height 0
                border-style solid
                border-width 0 0 7px 7px
                border-color transparent transparent #000000 transparent
    &_text
        font-size 14px
    & .ui-menu .ui-menu-item-wrapper
        width 100px
        padding 0 18px
        display flex
        align-items center
        height 40px
        border 2px solid transparent !important
