.ShadeSlider
	position relative
	height 100%
	width 100%

	&_slideshow
		position: relative;
		width: 100%
		height 100%
		&:after
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.4);
			z-index: 1000;
			opacity: 0;
			transition: opacity 0.4s;
	&_slide
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		overflow-x: hidden;
		pointer-events: none;
		opacity: 0;

		&-current
			opacity: 1;
			z-index: 999;
			pointer-events: auto;
			position: relative;

	&_slideWrap
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	
	&_slideImg
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: white;
		background-size: cover;
		background-position: 50% 50%;
		position: absolute;
		pointer-events: none;

	&_slideTitleWrap
		padding: 30px;
		position: absolute;
		width: 70%;
		height: 80%;
		top: 0;
		right: 0;
		overflow hidden
		@media $smMinus
			width 100%
			padding 10%

	&_slideTitle
		margin: 0;
		font-size: 119px;
		font-family $Avenir
		font-weight bold
		color #fff
		line-height: 0.9;
		@media (max-width 1366px)
			font-size 90px
		@media $xs
			font-size 45px

	&_boxnav
		position absolute
		right 0
		bottom 0
		z-index 1000
		display flex
		flex-direction column

	&_boxnavItem
		width 86px
		height 85px
		background-color #fff
		border none
		border-bottom 1px solid $greyBorder
		display inline-flex
		align-items center
		justify-content center
		outline-color transparent
		transition .2s
		outline none
		@media $smMinus
			width 60px
			height 60px

		&:hover 
			background-color $grey

		&-label
			display none

		&-prev
			& .IconTriangle
				position relative
				transform rotate(-45deg)
		
		&-next
			border-bottom none
			& .IconTriangle
				position relative
				margin-left 9px
				transform rotate(135deg)