.SiteTour
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	width 100%
	height 100%
	z-index 9999
	display flex
	font-family 'FreeSet'
	overflow hidden
	&,
	&_canvas,
	&_overlay
		top 0
		left 0
		width 100%
		height 100%
		position absolute
	&_canvas
		pointer-events none
		
	&_inner
		margin auto
		color #fff
		position relative
		z-index 10
	&_messageBox
		border 1px solid #d8d1c2
		@media $xs
			width 250px
			padding 20px
			font-size 14px
		@media $smPlus
			font-size 16px
			width 380px
			padding 20px 30px
	&_shade
		position absolute
		background rgba(0, 0, 0, .85)
	&_footer
		color #d8d1c2
		font-size 12px
		font-weight bold
		display flex
		justify-content space-between
		align-items center
		@media $xs
			padding-top 25px
		@media $smPlus
			padding-top 20px
	&_nextStepBtn
		text-decoration underline
		&:hover
			text-decoration none
	&_closeBtn
		position absolute
		bottom 100%
		right 0
		margin-bottom 17px
		border 0
		width 23px
		height @width
		padding 0
		background transparent url(/img/blocks/SiteTour/close_cross.svg) center no-repeat
.fancybox-slide--sitetour
	padding 0
	& > div
		background none