.SvgWrap
    position absolute
    width 100%
    height 100%
    left 0
    right 0
    z-index 10
    top 0

    &_svg
        width 111.4%
        height 100%
        &-house
            width 100%

    &_genplanPath
        transition .2s
        fill transparent
        stroke-width 0px

    &_infraPath
        fill transparent
        transition .2s

        &-visible
            fill #8f3149