.Tbl
    display table
    width 100%
    text-align center
    color #434343
    font-size 15px
    @media $xs
        font-size 14px
        margin-bottom 10px
    @media $sm
        margin-bottom 24px
    &_delText
        font-size .88em
    &_insText
        color $darkBrown
        text-decoration none
        font-weight 700

    &_thead
        display table-header-group

    &-LeftTxt
        text-align left
    &_tr
        display table-row
        &-link
            &:hover
                background-color $darkBrown
                color #fff
                fill #fff
                stroke #fff

                & .Tbl_td-brown
                    color #fff

                & .Tbl_td-scheme
                    & svg *
                        fill #fff !important 
                        stroke #fff !important
        &-bold
            font-weight 600
        &-fontBig
            font-size 14px
            @media $smPlus
                font-size 20px
    &_td,
    &_th
        display table-cell

    &_tbody
        display table-row-group

    &_th
        
        text-transform lowercase
        color mix(#3c3c43, #fff, 60%)
        @media $xs
            font-size 10px
            padding 12px 6px 4px
        @media $sm
            padding 15px 10px 4px
        @media $smPlus
            letter-spacing .1px
            font-size .8em
        @media $md
            padding 14px 10px 4px

        &[data-sort-by]
            cursor pointer
            &:hover
                text-decoration underline
        &-sortable
            cursor pointer
            @media $xs
                padding-right 0
                padding-left 3px

            &:after
                content ''
                display inline-block
                width 0
                height 0
                border-style solid
                border-width 0 4px 6px 4px
                border-color transparent transparent #434343 transparent
                position relative
                margin-left 5px

                @media $xs
                    border-width 0 2px 3px 2px


        &-sortableActive
            &:after
                transform rotate(180deg)
    &_td
        border-bottom 1px solid #D9D9D9
        overflow hidden
        font-weight 500
        fill $fontColor
        stroke $font
        @media $xs
            padding 15px 8px
            padding-bottom 15px
            font-size 10px
        @media $sm
            padding 30px 10px
        @media $md
            padding 32px 10px
        &-tightTop
            @media $xs
                padding-top 2px
            @media $sm
                padding-top 4px
            @media $md
                padding-top 5px
        &-nowrap
            white-space nowrap
        &-brown
            color $darkBrown
            font-weight 600

        &-scheme

            & svg
                width auto
                height 50px

            & img
                width auto
                height 50px

    &_tr-link:hover > &_td > .SvgIco,
    &_tr-link:hover > &_td > &_insText
            color #fff
    &_caption
        color #000000
        font-weight normal
        font-family $Avenir
        display table-caption
        text-align left
        padding-bottom 30px
        @media $xs
            font-size 20px
            padding-left 10px
        @media $sm
            font-size 25px
        @media $md
            font-size 30px
    &-flatList
        @media $xs
            font-size 11px
        @media $md
            table-layout fixed
        & > .Tbl_tr > .Tbl_td
            vertical-align middle
            line-height 1.2

    &-flatParams

        & .Tbl_tr-head .Tbl_th
            padding-bottom 30px
            padding-top 30px
            border-bottom 1px solid #eeeef0
            border-top 1px solid #eeeef0

