// .Teaser
.Teaser
    display flex

    &:first-of-type
        .Teaser_left:after
            top: 30px
    
    &_left
        width 402px
        flex-shrink 0
        display flex
        flex-direction column
        padding-top 30px
        position relative
        @media $smMinus
            width 220px
        
        @media $xs
            width 65px

        &:after
            content ''
            display block
            position absolute
            width 1px
            left 85px
            top 0
            bottom 0
            background-color $greyBorder
            @media $smMinus
                left 60px
            @media $xs
                display none

    &_right
        border-left 1px solid $greyBorder
        border-bottom 1px solid $greyBorder
        flex-grow 1

    &_date
        background-color $grey
        min-height 85px
        width 70%
        color #fff
        font-family $Avenir
        text-align right
        padding 16px 20px
        z-index 40
        @media $smMinus
            width 90%
            min-height 60px
            padding 9px 20px
        @media $xs
            width 40px
            height 100%
            padding 12px 13px

    &_hours
        font-size 28px
        font-weight 600
        margin-bottom 10px
        @media $smMinus
            font-size 18px
            margin-bottom 5px
        @media $xs
            writing-mode tb-rl
            font-size 12px
            margin-bottom 0
            &:after
                content '-'
                margin 5px 0

    &_month
        text-transform uppercase
        font-weight 600
        font-size 12px
        @media $xs
            writing-mode tb-rl

    &_title
        font-size 35px
        font-family $Avenir
        line-height 1.14
        font-weight bold
        @media $smMinus
            font-size 25px
        @media $xs
            font-size 18px
    
    &_text
        font-size 15px
        line-height 1.35
        @media $smMinus
            font-size 14px
        & p
            margin-bottom 15px

    &_innerText
        font-size 15px
        line-height 1.47
        & p
            margin 22px 0
        & b
            font-weight bold

    &_share
        width 85px
        display flex
        flex-direction column
        @media $smMinus
            width 60px
        @media $xs
            display none

    &_shareTitle
        height 250px

    &_shareTitleText
        position: relative;
        transform: rotate(-90deg) translate(50%, -50%);
        left: -50%;
        top: 50%;
        transform-origin: center center;
        width: 200px;
        height: 20px;
        text-transform uppercase
        font-size 13px
        @media $smMinus
            width 152px

    &_shareLinks
        display flex
        flex-direction column

    &_shareLink
        width 100%
        height 85px
        border-top 1px solid $greyBorder
        border-bottom 1px solid $greyBorder
        display flex
        justify-content center
        align-items center
        transition background-color 0.2s

        &:hover
            background-color $grey
        @media $smMinus
            height 60px

    &_postScript
        background-color $grey
        padding 30px 45px
        font-size 12px
        @media $smMinus
            padding 15px 10px
    