.TileOption
    padding 5px
    text-transform uppercase
    background-color #d8d1c2
    display inline-block
    color #fff
    font-size 10px
    font-family $Avenir
    font-weight bold
    letter-spacing 0.4pt