.TransportPopup
    position absolute
    top 0
    bottom 0
    width 100%
    height 100%
    z-index 30
    display none

    &_overlay
        width 100%
        height 100%
        background-color #000000
        opacity 0.2
        cursor: pointer
    &_popup
        background-color #fff
        max-width: 500px
        width 90%
        padding 55px 45px
        text-align center
        position absolute
        height 150px
        transform: translate(-50%, 0)
        top 30%
        left 50%
        color #262626
        font-family $Avenir
        @media $xs
            padding 40px
    &_close
        width 42px
        height 42px
        background-color $sandColor
        display flex
        align-items center
        justify-content center
        position absolute
        right 0
        top 0
        cursor pointer
    &_closeSvg
        width 50%
        display block
    &_title
        text-transform uppercase
        font-size 20px
        font-weight 600
        margin-bottom 10px
        @media $xs
            font-size 15px
    &_desc
        @media $xs
            font-size 14px