.Transport
    position relative
    &_routes
        position absolute
        top 0
        right 0
        width 500px
        background-color #fff
        z-index 10
        font-family $Avenir
        font-weight 500
        line-height 1.4
        height 100%
        display none
        @media $smMinus
            right 60px
        @media $xs
            left 0
            right 60px
            width calc(100% - 60px)
            display flex
            flex-direction column
    
    &_routesList
        padding 25px
        padding-top 10px
        font-size 15px
        @media $xs
            overflow-y: scroll
            height 100%
        & h6
            text-transform uppercase
            font-weight 600
            margin 14px 0
            @media $xs
                font-size 15px
        
        & li
            margin-bottom 8px

        & ul
            margin-bottom 10px

        & a:hover
            text-decoration underline

        & .TransportSquare
            & .TransportSquare_item
                position relative
                padding-left 25px
                &:before
                    content ''
                    display block
                    position absolute
                    left 0
                    top 2px
                    width 16px
                    height 16px
                &-green
                    &:before
                        background-color #7aba28
                &-brown
                    &:before
                        background-color #956947
                &-yellow
                    &:before
                        background-color #e5b21c

        & .TransportArrows
            & .TransportArrows_item
                position relative
                padding-left 25px
                &:hover
                    &:before
                        opacity 1
                &:before
                    content ''
                    display block
                    position absolute
                    left 0
                    top 6px
                    width 16px
                    height 8px
                    background url('../img/ui/transport-arrow.svg') center/contain no-repeat
                    opacity 0.7
                &-right
                    &:before
                        transform rotate(180deg)



    &_routesTitle
        height 85px
        padding 0 25px
        display flex
        align-items center
        background-color $fontColor
        color #fff
        font-size 20px
        @media $smMinus
            height 60px
            font-size 15px

    &_mobileControls
        display none
        @media $smMinus
            display block
            width 60px
            position absolute
            right 0
            top 0
            z-index 100

    &_mainCoords
        text-decoration underline
        font-weight 600
        cursor pointer
        &:hover
            text-decoration none