.TurnScreenModal
	position fixed
	top -200px
	bottom -200px
	left 0
	right 0
	padding 220px 20px
	background rgba(0, 0, 0, .84)
	justify-content center
	align-items center
	flex-direction column
	z-index 99999
	display none
	@media $xs
		@media (orientation:landscape)
			display flex
	&_img
		height 50px
		min-height 50px
		width auto
	&_txt
		font-size 14px
		line-height 1.57
		text-align center
		color #ffffff
		width 275px
		max-width 100%
		padding-top 21px