mixin Breadcrumbs(pages)
    .Breadcrumbs
        ul.Breadcrumbs_list
            li.Breadcrumbs_item
                a.Breadcrumbs_link(href="./") Главная
            if pages
                each page in pages
                    li.Breadcrumbs_item(class=page.title == title ? 'Breadcrumbs_item-active' : '')
                        a.Breadcrumbs_link(href=`${page.url}`)=page.title