mixin ColorLegend(colorSet, mods={})
    -
        if(!colorSet){
            colorSet = [
                {
                    hashCode: "#e9e7e7",
                    label: "Купленные"
                },
                {
                    hashCode: "#a6b961",
                    label: "Свободные"
                },
                {
                    hashCode: "#a4d3da",
                    label: "Арендованные"
                }
            ]
        };
    .ColorLegend
        ul(class=`ColorLegend_list ${mods.list ? mods.list : ""}`)
            each clr in colorSet
                li.ColorLegend_item 
                    div.ColorLegend_spot(style=`background: ${clr.hashCode};`)
                    | #{clr.label}