mixin FilterSidebar(label="Подбор по параметрам")
    aside#filterSidebar.FilterSidebar
        .FilterSidebar_scroll
            block
        
        .FilterForm_controls
            button.FilterSidebar_reset.FilterForm_btn.Btn.Btn-grey.FilterForm_btn-reset Сбросить    
            button.Btn.FilterForm_btn.FilterForm_btn-search Найти