mixin FilterSidebarGenplan(label="Подбор по параметрам")
    aside#filterSidebar.FilterSidebar.FilterSidebar-genplan
        .FilterSidebar_scroll
            block

        .FilterForm_controls
            button.FilterSidebar_reset.FilterForm_btn.Btn.Btn-grey.FilterForm_btn-reset.FilterForm_btn-genplan Сбросить