footer.Footer
    .Footer_copyright 2018 &copy; Рафинад
    .Footer_city
        img.Footer_cityImg(src="./img/companies/city21-full.svg" alt="")
    .Footer_social
        a.Footer_socialItem(href="#")
            img.Footer_socialIcon(src="./img/socials/inst.svg" alt="")
        a.Footer_socialItem(href="#")
            img.Footer_socialIcon(src="./img/socials/fb.svg" alt="")
        a.Footer_socialItem(href="#")
            img.Footer_socialIcon(src="./img/socials/vk.svg" alt="")
    .Footer_sites
        a.Footer_sitesItem.Footer_cityMini(href="#")
            img.Footer_sitesIcon(src="./img/companies/city21.svg" alt="")
        a.Footer_sitesItem(href="#")
            img.Footer_sitesIcon(src="./img/companies/blueant.svg" alt="")