footer.Footer.Footer-houses
    .Footer_copyright.Footer_copyright-houses 2018 &copy; Рафинад
    .Footer_city
        img.Footer_cityImg(src="./img/companies/city21-full.svg" alt="")
    .Footer_sites
        a.Footer_sitesItem.Footer_cityMini(href="#")
            img.Footer_sitesIcon(src="./img/companies/city21.svg" alt="")
        a.Footer_sitesItem(href="#")
            img.Footer_sitesIcon(src="./img/companies/blueant.svg" alt="")