footer.Footer.Footer-Scroll
    .Footer_copyright 2018 &copy; Рафинад
    .Footer_toUp.BtnUp
        img.Footer_toUpImg.BtnUp_img(src="./img/ui/up.svg" alt="")
    .Footer_city
        img.Footer_cityImg(src="./img/companies/city21-full.svg" alt="")
    .Footer_sites
        a.Footer_sitesItem(href="#")
            img.Footer_sitesIcon(src="./img/socials/fb.svg" alt="")
        a.Footer_sitesItem(href="#")
            img.Footer_sitesIcon(src="./img/socials/vk.svg" alt="")
        a.Footer_sitesItem.Footer_sitesItem-hiddenSm(href="#")
            img.Footer_sitesIcon(src="./img/socials/inst.svg" alt="")
        a.Footer_sitesItem(href="#")
            img.Footer_sitesIcon(src="./img/companies/city21.svg" alt="")
        a.Footer_sitesItem(href="#")
            img.Footer_sitesIcon(src="./img/companies/blueant.svg" alt="")