header.Header
    a.Header_logo.Logo(href="/")
        img.Logo_img(src="./img/logo.svg" alt="")
    .Header_right
        nav.Header_nav.Nav
            ul.Nav_list
                li.Nav_item
                    a.Nav_link(href="./filters.html") Выбрать квартиру
                li.Nav_item
                    a.Nav_link(href="./mortgage.html") Как купить?
                li.Nav_item
                    a.Nav_link(href="#Callback" data-fancybox="") Обратный звонок

        a.Header_phone(href="tel:+74954312414") +7 495 431-24-14

    .Header_menu 
        span.Header_menuWord М
        span.Header_menuWord Е
        span.Header_menuWord Н
        span.Header_menuWord Ю