.Menu#mainMenuModal
    .Menu_inner
        .Menu_head
            h5.Menu_title Меню
            button.Menu_closeBtn
                img.Menu_closeBtnImg(src="./img/ui/close.svg", alt="")
        nav.Menu_sked
            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu О проекте
                .Menu_listWrap.Menu_listWrap-active
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/about_project.html") Описание
                        li.Menu_item
                            a.Menu_link(href="/diary_by_years.html") Динамика строительства
                        li.Menu_item
                            a.Menu_link(href="/gallery.html") Галерея
                        li.Menu_item
                            a.Menu_link(href="/news.html") Новости
                        li.Menu_item
                            a.Menu_link(href="/docs.html") Документы
                        li.Menu_item
                            a.Menu_link(href="/about_building.html") О застройщике
                        li.Menu_item
                            a.Menu_link(href="/promos.html") Акции

            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu Инфраструктура
                .Menu_listWrap
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/infras_external.html") Район
                        li.Menu_item
                            a.Menu_link(href="/infras_internal.html") Комплекс
            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu Как купить?
                .Menu_listWrap
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/installment.html") Рассрочка
                        li.Menu_item
                            a.Menu_link(href="/mortgage.html") Ипотека
            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu Квартиры
                .Menu_listWrap
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/filters.html") Подбор по параметрам
                        li.Menu_item
                            a.Menu_link(href="/genplan.html") Геплан
            .Menu_group
                a.Menu_groupHead(href="/contacts.html") Контакты
        footer.Menu_footer 
            .Menu_footerCopy 2018 &copy; Рафинад
            .Menu_footerSocial
                a.Menu_footerSocialItem(href="#")
                    img.Menu_footerSocialImg(src="./img/socials/fb.svg", alt="")
                a.Menu_footerSocialItem(href="#")
                    img.Menu_footerSocialImg(src="./img/socials/vk.svg", alt="")
                a.Menu_footerSocialItem(href="#")
                    img.Menu_footerSocialImg(src="./img/companies/city21.svg", alt="")
                a.Menu_footerSocialItem(href="#")
                    img.Menu_footerSocialImg(src="./img/companies/blueant.svg", alt="")
