.Modal#Callback
    .Modal_head
        .Modal_title Оставить заявку
    .Modal_content
        form.Modal_form.InteractiveForm(data-action="/ajax/form-captcha-error-response.json" autocomplete="off")
            input.Modal_input(type="text" name="" placeholder="Имя*" required)
            input.Modal_input(type="tel" name="phone" placeholder="Телефон*" required)
            textarea.Modal_textarea(placeholder="Ваш комментарий")
            .Modal_captcha
                img.Modal_captchaImg(src="./tmp/144x53.png" alt="")
                input.Modal_input.Modal_input-captcha(type="text" placeholder="Код с картинки*" name="captcha")
            
            .Modal_agree
                label.Modal_label
                    input.Modal_checkbox(type="checkbox" name="agree" required)
                    .Modal_customCheckbox
                .Modal_agreeText Согласие на 
                    a.Modal_agreeLink(href="#") обработку персональных данных
            button.Modal_submit.Btn(type="submit") Отправить