.PageNavigation
        .PageNavigation_item.PageNavigation_item-left
            a.PageNavigation_link(href="#") Предыдущая
        .PageNavigation_item.PageNavigation_item-right
            a.PageNavigation_link(href="#") Следующая
