.Pagination
    ul.Pagination_list
        li.Pagination_item.Pagination_item-active
            a.Pagination_link(href="#") 1
        li.Pagination_item
            a.Pagination_link(href="#") 2
        li.Pagination_item
            a.Pagination_link(href="#") 3
        li.Pagination_item.Pagination_item-arrow
            a.Pagination_link(href="#")