mixin Panel_left(page)
	.Panel.Panel-left(class=`${page == "filters" ? 'Panel-visibleTablet Panel-hidden': ''} ${page == 'house-floor' ? 'Panel-visibleTablet Panel-hidden hidden-xs': ''}`)
		if(page !== 'filters' && page !== "house-floor")
			.Panel_socials
				.Panel_verticalText Мы в социальных сетях
				a.Panel_socialsItem(href="http://www.rafinad-forum.ru/", target="_blank")
					img.Panel_socialsIcon(src="./img/socials/forum-icon.svg")
				a.Panel_socialsItem(href="https://www.instagram.com/minipolis.rafinad/", target="_blank")
					img.Panel_socialsIcon(src="./img/socials/inst.svg")
				a.Panel_socialsItem(href="https://www.facebook.com/Rafinad-2145006592186712/", target="_blank")
					img.Panel_socialsIcon(src="./img/socials/fb.svg")
				a.Panel_socialsItem(href="https://vk.com/minipolis.rafinad", target="_blank")
					img.Panel_socialsIcon(src="./img/socials/vk.svg")
		
		if(page == 'genplan')
			.Panel_compass
				.Panel_compassArrows(style="transform: rotate(30deg)")

		if(page == 'filters')
			.Panel_stickyControls
				a.Panel_control.PanelBtn.PanelBtn-grey.PanelBtn-filter(href="#")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/settings.svg" alt="")
				
				.Panel_verticalText.Panel_verticalText-filter Показать фильтр

		if(page == 'house-floor')
			.Panel_stickyControls.Panel_stickyControls-houses
				a.Panel_control.PanelBtn.PanelBtn-grey.PanelBtn-filter(href="#")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/settings.svg" alt="")

				.Panel_verticalText.Panel_verticalText-filter Показать фильтр
