mixin Panel_right(page)
	.Panel.Panel-right(class=`${page == "filters" ? 'Panel-visibleTablet': ''} ${page == "house-floor" ? 'Panel-visibleTablet hidden-xs': ''}`)
		if(page == 'genplan')
			a.Panel_control.PanelBtn(href="/filters.html" title="Подбор по параметрам")
				img.Panel_filterImg.PanelBtn_img(src="./img/ui/settings.svg" alt="")
		
		if(page == 'filters')
			.FilterPage_overlay.FilterPage_overlay-xs
			.Panel_stickyControls
				a.Panel_control.PanelBtn(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/rooms.svg" alt="")
					.PanelBtn_text Квартиры

				a.Panel_control.PanelBtn.Panel_control-grey(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/box.svg" alt="")
					.PanelBtn_text Кладовые

				a.Panel_control.PanelBtn.Panel_control-grey(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/parking.svg" alt="")
					.PanelBtn_text Парковка
					
				a.Panel_control.PanelBtn.Panel_control-grey(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/commercial.svg" alt="")
					.PanelBtn_text Коммерция

				.Panel_control.Panel_control-up.BtnUp
					img.BtnUp_img(src="./img/ui/up.svg" alt="")

		if(page == 'contacts')
			a.Panel_control.PanelBtn.PanelBtn-grey.Panel_control-contacts(href="#" data-type="office" title="Офис")
				img.Panel_filterImg.PanelBtn_img(src="./img/ui/office.svg" alt="")
				.PanelBtn_text Офис
			a.Panel_control.PanelBtn.PanelBtn-grey.Panel_control-contacts(href="#" data-type="transport" title="Транспорт")
				img.Panel_filterImg.PanelBtn_img(src="./img/ui/transport.svg" alt="")
				.PanelBtn_text Транспорт
			a.Panel_control.PanelBtn.PanelBtn-grey.Panel_control-contacts(href="#" data-type="car" title="Личный транспорт")
				img.Panel_filterImg.PanelBtn_img(src="./img/ui/routes.svg" alt="")
				.PanelBtn_text Личный транспорт
			a.Panel_control.Panel_control-contacts.PanelBtn.PanelBtn-grey(href="#" data-type="mcd" title="МЦД-1")
				img.Panel_filterImg.PanelBtn_img(src="./img/ui/mcd.svg" alt="")
				.PanelBtn_text МЦД-1

		if(page == 'transport')
			a.Panel_control.PanelBtn.PanelBtn-grey.Panel_control-contacts#showRoutesListBtn(href="#" title="Транспорт")
				img.Panel_filterImg.PanelBtn_img(src="./img/ui/transport.svg" alt="")
				.PanelBtn_text Транспорт
			a.Panel_control.PanelBtn.PanelBtn-grey.Panel_control-contacts#showCarRouteOnBigMapBtn(href="#" title="Маршрут")
				img.Panel_filterImg.PanelBtn_img(src="./img/ui/routes.svg" alt="")
				.PanelBtn_text Маршрут

		if(page == 'about-builder')
			.Panel_aboutPageInfo
				span.Panel_aboutPageName Раздел о застройщике
		if(page == 'house-floor')
			.FilterPage_overlay.FilterPage_overlay-xs
			.Panel_stickyControls.Panel_stickyControls-genplan
				a.Panel_control.PanelBtn(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/rooms.svg" alt="")
					.PanelBtn_text Квартиры

				a.Panel_control.PanelBtn.Panel_control-grey(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/box.svg" alt="")
					.PanelBtn_text Кладовые

				a.Panel_control.PanelBtn.Panel_control-grey(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/parking.svg" alt="")
					.PanelBtn_text Парковка

				a.Panel_control.PanelBtn.Panel_control-grey(href="/filters.html")
					img.Panel_filterImg.PanelBtn_img(src="./img/ui/commercial.svg" alt="")
					.PanelBtn_text Коммерция

