.ShadeSlider
      .ShadeSlider_slideshow
        .ShadeSlider_slide
          .ShadeSlider_slideWrap
            .ShadeSlider_slideImg(style='background-image: url(./img/content/thumb.jpg);')
            .ShadeSlider_slideTitleWrap
              h3.ShadeSlider_slideTitle Вкус счастливой жизни
        .ShadeSlider_slide
          .ShadeSlider_slideWrap
            .ShadeSlider_slideImg(style='background-image: url(./img/content/thumb.jpg);')
            .ShadeSlider_slideTitleWrap
              h3.ShadeSlider_slideTitle Fancy Hats
        .ShadeSlider_slide
          .ShadeSlider_slideWrap
            .ShadeSlider_slideImg(style='background-image: url(./img/content/thumb.jpg);')
            .ShadeSlider_slideTitleWrap
              h3.ShadeSlider_slideTitle Fancy Hats
      // /slideshow
      nav.ShadeSlider_boxnav
        button.ShadeSlider_boxnavItem.ShadeSlider_boxnavItem-prev
          span.IconTriangle
        .ShadeSlider_boxnavItem.ShadeSlider_boxnavItem-label
          span.ShadeSlider_label.ShadeSlider_label-current 1
          span.ShadeSlider_label.ShadeSlider_label-total
        button.ShadeSlider_boxnavItem.ShadeSlider_boxnavItem-next
          span.IconTriangle

