.TurnScreenModal
	img.TurnScreenModal_img(src="/img/turn_screen.svg")
	.TurnScreenModal_txt Для оптимального отображения сайта поверните ваше устройство на 90 градусов или разверните окно браузера на весь экран.