include ../blocks/ColorLegend
include ../blocks/Fitblock
include ../blocks/FilterSidebar
include ../blocks/FilterSidebarGenplan
include ../blocks/PanelLeft
include ../blocks/PanelRight
include ../blocks/Breadcrumbs